In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import statsmodels.formula.api as sm

%matplotlib inline

In [11]:
df = pd.read_csv("bus_data/line_data/84X.csv", low_memory=False, header=None)
df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
              "VehicleJourneyID", "Lon", "Lat", 
              "VehicleID", "StopID", "AtStop", "HumanTime", "Day", "Hour", "Runtime"]

In [12]:
df.tail(100)

,Timestamp,LineID,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,Runtime
10275,1359616407000000,84X,1002,2013-01-31,6228,-6.065413,53.111389,38034,4268,1,2013-01-31 07:13:27,3,7,0
10276,1359616463000000,84X,1001,2013-01-31,6221,-6.157679,53.265621,38033,5128,1,2013-01-31 07:14:23,3,7,1778
10277,1359616463000000,84X,1002,2013-01-31,6226,-6.061551,53.144115,38025,4283,1,2013-01-31 07:14:23,3,7,579
10278,1359616545000000,84X,1002,2013-01-31,6228,-6.072933,53.121918,38034,4273,1,2013-01-31 07:15:45,3,7,138
10279,1359616598000000,84X,1001,2013-01-31,6221,-6.175060,53.273991,38033,2060,1,2013-01-31 07:16:38,3,7,1913
10280,1359616684000000,84X,1002,2013-01-31,6226,-6.079664,53.149738,38025,4295,1,2013-01-31 07:18:04,3,7,800
10281,1359616727000000,84X,1002,2013-01-31,6228,-6.075338,53.132553,38034,4277,1,2013-01-31 07:18:47,3,7,320
10282,1359616739000000,84X,1001,2013-01-31,6221,-6.186859,53.279133,38033,2062,1,2013-01-31 07:18:59,3,7,2054
10283,1359616763000000,84X,1002,2013-01-31,6226,-6.081623,53.152401,38025,4296,1,2013-01-31 07:19:23,3,7,879
10284,1359616819000000,84X,1001,2013-01-31,6221,-6.193758,53.282814,38033,2064,1,2013-01-31 07:20:19,3,7,2134
10285,1359616843000000,84X,1001,2013-01-31,6235,-6.064422,53.105965,36033,4266,1,2013-01-31 07:20:43,3,7,472
10286,1359616959000000,84X,1001,2013-01-31,6221,-6.197144,53.290524,38033,4727,1,2013-01-31 07:22:39,3,7,2274
10287,1359616966000000,84X,1002,2013-01-31,6228,-6.062701,53.128895,38034,7461,1,2013-01-31 07:22:46,3,7,559
10288,1359616984000000,84X,1002,2013-01-31,6226,-6.093603,53.172409,38025,4301,1,2013-01-31 07:23:04,3,7,1100
10289,1359617046000000,84X,1001,2013-01-31,6235,-6.072933,53.121918,36033,4273,1,2013-01-31 07:24:06,3,7,675
10290,1359617124000000,84X,1002,2013-01-31,6226,-6.104575,53.185360,38025,4591,1,2013-01-31 07:25:24,3,7,1240
10291,1359617183000000,84X,1002,2013-01-31,6226,-6.109052,53.184422,38025,4590,1,2013-01-31 07:26:23,3,7,1299
10292,1359617264000000,84X,1001,2013-01-31,6235,-6.075338,53.132553,36033,4277,1,2013-01-31 07:27:44,3,7,893
10293,1359617304000000,84X,1002,2013-01-31,6226,-6.123550,53.182911,38025,7367,1,2013-01-31 07:28:24,3,7,1420
10294,1359617340000000,84X,1001,2013-01-31,6221,-6.218855,53.309505,38033,768,1,2013-01-31 07:29:00,3,7,2655
10295,1359617365000000,84X,1002,2013-01-31,6226,-6.128191,53.181591,38025,7368,1,2013-01-31 07:29:25,3,7,1481
10296,1359617405000000,84X,1002,2013-01-31,6228,-6.079664,53.149738,38034,4295,1,2013-01-31 07:30:05,3,7,998
10297,1359617464000000,84X,1002,2013-01-31,6228,-6.081623,53.152401,38034,4296,1,2013-01-31 07:31:04,3,7,1057
10298,1359617620000000,84X,1001,2013-01-31,6221,-6.239009,53.323555,38033,775,1,2013-01-31 07:33:40,3,7,2935
10299,1359617860000000,84X,1001,2013-01-31,6221,-6.253990,53.333210,38033,909,1,2013-01-31 07:37:40,3,7,3175
10300,1359617864000000,84X,1002,2013-01-31,6228,-6.104575,53.185360,38034,4591,1,2013-01-31 07:37:44,3,7,1457
10301,1359617885000000,84X,1002,2013-01-31,6226,-6.130694,53.242718,38025,3143,1,2013-01-31 07:38:05,3,7,2001
10302,1359617924000000,84X,1002,2013-01-31,6228,-6.109052,53.184422,38034,4590,1,2013-01-31 07:38:44,3,7,1517
10303,1359617938000000,84X,1002,2013-01-31,6226,-6.135340,53.245705,38025,3144,1,2013-01-31 07:38:58,3,7,2054
10304,1359618025000000,84X,1002,2013-01-31,6228,-6.118245,53.183968,38034,7366,1,2013-01-31 07:40:25,3,7,1618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10345,1359620206000000,84X,1002,2013-01-31,6274,-6.104575,53.185360,38096,4591,1,2013-01-31 08:16:46,3,8,1122
10346,1359620277000000,84X,1002,2013-01-31,6226,-6.259050,53.346684,38025,317,1,2013-01-31 08:17:57,3,8,4393
10347,1359620294000000,84X,1002,2013-01-31,6228,-6.218855,53.309505,38034,768,1,2013-01-31 08:18:14,3,8,3887
10348,1359620310000000,84X,1002,2013-01-31,6274,-6.118245,53.183968,38096,7366,1,2013-01-31 08:18:30,3,8,1226
10349,1359620592000000,84X,1002,2013-01-31,6228,-6.231230,53.318588,38034,772,1,2013-01-31 08:23:12,3,8,4185
10350,1359620773000000,84X,1002,2013-01-31,6228,-6.239009,53.323555,38034,775,1,2013-01-31 08:26:13,3,8,4366
10351,1359620924000000,84X,1002,2013-01-31,6244,-6.138160,53.248016,38023,3145,1,2013-01-31 08:28:44,3,8,2878
10352,1359621085000000,84X,1002,2013-01-31,6274,-6.130694,53.242718,38096,3143,1,2013-01-31 08:31:25,3,8,2001
10353,1359621143000000,84X,1002,2013-01-31,6274,-6.135340,53.245705,38096,3144,1,2013-01-31 08:32:23,3,8,2059
10354,1359621201000000,84X,1002,2013-01-31,6274,-6.138160,53.248016,38096,3145,1,2013-01-31 08:33:21,3,8,2117
10355,1359621205000000,84X,1002,2013-01-31,6244,-6.157679,53.265621,38023,5128,1,2013-01-31 08:33:25,3,8,3159
10356,1359621211000000,84X,1002,2013-01-31,6228,-6.253990,53.333210,38034,909,1,2013-01-31 08:33:31,3,8,4804
10357,1359621349000000,84X,1002,2013-01-31,6244,-6.175060,53.273991,38023,2060,1,2013-01-31 08:35:49,3,8,3303
10358,1359621374000000,84X,1002,2013-01-31,6228,-6.257099,53.339001,38034,791,1,2013-01-31 08:36:14,3,8,4967
10359,1359621442000000,84X,1002,2013-01-31,6274,-6.157679,53.265621,38096,5128,1,2013-01-31 08:37:22,3,8,2358
10360,1359621455000000,84X,1002,2013-01-31,6228,-6.258092,53.342087,38034,792,1,2013-01-31 08:37:35,3,8,5048
10361,1359621568000000,84X,1002,2013-01-31,6228,-6.259799,53.343433,38034,4842,1,2013-01-31 08:39:28,3,8,5161
10362,1359621641000000,84X,1002,2013-01-31,6274,-6.175060,53.273991,38096,2060,1,2013-01-31 08:40:41,3,8,2557
10363,1359621774000000,84X,1002,2013-01-31,6244,-6.197144,53.290524,38023,4727,1,2013-01-31 08:42:54,3,8,3728
10364,1359621803000000,84X,1002,2013-01-31,6274,-6.186859,53.279133,38096,2062,1,2013-01-31 08:43:23,3,8,2719
10365,1359622102000000,84X,1002,2013-01-31,6274,-6.193758,53.282814,38096,2064,1,2013-01-31 08:48:22,3,8,3018
10366,1359622273000000,84X,1002,2013-01-31,6274,-6.197144,53.290524,38096,4727,1,2013-01-31 08:51:13,3,8,3189
10367,1359622303000000,84X,1002,2013-01-31,6244,-6.218855,53.309505,38023,768,1,2013-01-31 08:51:43,3,8,4257
10368,1359622659000000,84X,1002,2013-01-31,6274,-6.218855,53.309505,38096,768,1,2013-01-31 08:57:39,3,8,3575
10369,1359623107000000,84X,1002,2013-01-31,6244,-6.253990,53.333210,38023,909,1,2013-01-31 09:05:07,3,9,5061
10370,1359623863000000,84X,1002,2013-01-31,6274,-6.257667,53.345833,38096,317,1,2013-01-31 09:17:43,3,9,4779
10371,1359628548000000,84X,1001,2013-01-31,6810,-6.064422,53.105965,33542,4266,1,2013-01-31 10:35:48,3,10,342
10372,1359629427000000,84X,1001,2013-01-31,6810,-6.062520,53.128784,33542,7462,1,2013-01-31 10:50:27,3,10,1221
10373,1359629755000000,84X,1001,2013-01-31,6810,-6.064624,53.145519,33542,4284,1,2013-01-31 10:55:55,3,10,1549
10374,1359631807000000,84X,1001,2013-01-31,6810,-6.197144,53.290524,33542,4727,1,2013-01-31 11:30:07,3,11,3601

In [14]:
df.JourneyPatternID.unique()

array([1001, 1002,    1,    2])

In [7]:
df.shape

(10375, 14)

In [5]:
df.dtypes

Timestamp             int64
LineID                int64
Direction             int64
JourneyPatternID     object
TimeFrame            object
VehicleJourneyID      int64
Operator             object
Congestion            int64
Lon                 float64
Lat                 float64
Delay                 int64
BlockID               int64
VehicleID             int64
StopID               object
AtStop                int64
dtype: object

In [18]:
df.head(100)

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Operator,Congestion,Lon,Lat,Delay,BlockID,VehicleID,StopID,AtStop,Day,Hour
0,2012-11-06 00:00:00,15,0,00150001,2012-11-05,5826,RD,0,-6.258584,53.340099,-361,15013,33210,4870,0,1,0
1,2012-11-06 00:00:04,15,0,00151001,2012-11-05,5929,HN,0,-6.162066,53.402668,401,15105,33502,6317,1,1,0
2,2012-11-06 00:00:04,15,0,015A1001,2012-11-05,3118,RD,0,-6.236166,53.342152,0,15010,33469,2499,0,1,0
3,2012-11-06 00:00:10,15,0,00150001,2012-11-05,5843,RD,0,-6.323327,53.277756,-463,15021,33254,4869,0,1,0
4,2012-11-06 00:00:12,15,0,015A0001,2012-11-05,3130,RD,0,-6.328856,53.304470,-106,15009,33020,1102,0,1,0
5,2012-11-06 00:00:17,15,0,null,2012-11-05,3339,RD,0,-6.322704,53.271786,0,15029,33484,6280,0,1,0
6,2012-11-06 00:00:19,15,0,00150001,2012-11-05,5826,RD,0,-6.257967,53.342365,-361,15013,33210,4870,0,1,0
7,2012-11-06 00:00:23,15,0,00151001,2012-11-05,5929,HN,0,-6.162233,53.401867,401,15105,33502,6317,1,1,0
8,2012-11-06 00:00:23,15,0,015A1001,2012-11-05,3118,RD,0,-6.234233,53.341999,0,15010,33469,2499,0,1,0
9,2012-11-06 00:00:31,15,0,00150001,2012-11-05,5843,RD,0,-6.327923,53.276974,-490,15021,33254,4869,0,1,0
10,2012-11-06 00:00:33,15,0,015A0001,2012-11-05,3130,RD,0,-6.329060,53.304478,-88,15009,33020,1102,0,1,0
11,2012-11-06 00:00:35,15,0,null,2012-11-05,3339,RD,0,-6.322704,53.271786,0,15029,33484,6280,0,1,0
12,2012-11-06 00:00:39,15,0,00151001,2012-11-05,5929,HN,0,-6.162233,53.401867,401,15105,33502,6317,1,1,0
13,2012-11-06 00:00:39,15,0,00150001,2012-11-05,5826,RD,0,-6.257433,53.342899,-361,15013,33210,4870,0,1,0
14,2012-11-06 00:00:39,15,0,015A1001,2012-11-05,3118,RD,0,-6.234233,53.341999,0,15010,33469,7216,0,1,0
15,2012-11-06 00:00:39,15,0,null,2012-11-05,3339,RD,0,-6.317651,53.273075,0,15029,33484,6280,0,1,0
16,2012-11-06 00:00:45,15,0,00151001,2012-11-05,5929,HN,0,-6.161567,53.399300,401,15105,33502,6317,1,1,0
17,2012-11-06 00:00:45,15,0,015A1001,2012-11-05,3118,RD,0,-6.234233,53.341999,0,15010,33469,7216,0,1,0
18,2012-11-06 00:00:49,15,0,00150001,2012-11-05,5843,RD,0,-6.331139,53.276196,-505,15021,33254,4870,0,1,0
19,2012-11-06 00:00:53,15,0,015A0001,2012-11-05,3130,RD,0,-6.333527,53.304764,-88,15009,33020,1103,0,1,0
20,2012-11-06 00:00:53,15,0,null,2012-11-05,3339,RD,0,-6.317651,53.273075,0,15029,33484,6280,0,1,0
21,2012-11-06 00:00:59,15,0,00150001,2012-11-05,5826,RD,0,-6.254167,53.342182,-361,15013,33210,4870,0,1,0
22,2012-11-06 00:01:03,15,0,00151001,2012-11-05,5929,HN,0,-6.162933,53.399132,401,15105,33502,6317,1,1,0
23,2012-11-06 00:01:09,15,0,00150001,2012-11-05,5843,RD,0,-6.331205,53.276012,-487,15021,33254,3007,0,1,0
24,2012-11-06 00:01:11,15,0,015A0001,2012-11-05,3130,RD,0,-6.333527,53.304764,-88,15009,33020,1103,0,1,0
25,2012-11-06 00:01:15,15,0,null,2012-11-05,3339,RD,0,-6.317651,53.273075,0,15029,33484,6280,0,1,0
26,2012-11-06 00:01:19,15,0,00150001,2012-11-05,5826,RD,0,-6.251433,53.342201,-361,15013,33210,4870,0,1,0
27,2012-11-06 00:01:23,15,0,00151001,2012-11-05,5929,HN,0,-6.167167,53.400433,401,15105,33502,6317,1,1,0
28,2012-11-06 00:01:30,15,0,00150001,2012-11-05,5843,RD,0,-6.331040,53.274563,-487,15021,33254,3007,0,1,0
29,2012-11-06 00:01:32,15,0,015A0001,2012-11-05,3130,RD,0,-6.325933,53.304432,-88,15009,33020,1103,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2012-11-06 00:04:00,15,0,00150001,2012-11-05,5826,RD,0,-6.246750,53.344250,-361,15013,33210,4870,0,1,0
71,2012-11-06 00:04:04,15,0,00151001,2012-11-05,5929,HN,0,-6.194467,53.405582,401,15105,33502,6317,1,1,0
72,2012-11-06 00:04:12,15,0,015A0001,2012-11-05,3130,RD,0,-6.298733,53.312683,-88,15009,33020,1103,0,1,0
73,2012-11-06 00:04:14,15,0,null,2012-11-05,3339,RD,0,-6.302518,53.275692,0,15029,33484,6280,0,1,0
74,2012-11-06 00:04:22,15,0,00150001,2012-11-05,5826,RD,0,-6.244050,53.343132,-361,15013,33210,4870,0,1,0
75,2012-11-06 00:04:24,15,0,00151001,2012-11-05,5929,HN,0,-6.199616,53.406734,401,15105,33502,6317,1,1,0
76,2012-11-06 00:04:30,15,0,00150001,2012-11-05,5843,RD,0,-6.330900,53.286182,-443,15021,33254,6282,1,1,0
77,2012-11-06 00:04:32,15,0,015A0001,2012-11-05,3130,RD,0,-6.297133,53.313950,-88,15009,33020,1103,0,1,0
78,2012-11-06 00:04:36,15,0,null,2012-11-05,3339,RD,0,-6.302518,53.275692,0,15029,33484,6280,0,1,0
79,2012-11-06 00:04:38,15,0,00151001,2012-11-05,5929,HN,0,-6.199616,53.406734,401,15105,33502,6317,1,1,0
80,2012-11-06 00:04:38,15,0,null,2012-11-05,3339,RD,0,-6.301100,53.279152,0,15029,33484,6280,0,1,0
81,2012-11-06 00:04:38,15,0,00150001,2012-11-05,5843,RD,0,-6.330900,53.286182,-383,15021,33254,6282,1,1,0
82,2012-11-06 00:04:40,15,0,00150001,2012-11-05,5826,RD,0,-6.240233,53.342667,-361,15013,33210,4870,0,1,0
83,2012-11-06 00:04:44,15,0,00151001,2012-11-05,5929,HN,0,-6.204783,53.407867,401,15105,33502,6317,1,1,0
84,2012-11-06 00:04:52,15,0,015A0001,2012-11-05,3130,RD,0,-6.295017,53.315681,-88,15009,33020,1103,0,1,0
85,2012-11-06 00:04:52,15,0,00150001,2012-11-05,5843,RD,0,-6.329550,53.287102,-383,15021,33254,6282,1,1,0
86,2012-11-06 00:04:54,15,0,null,2012-11-05,3339,RD,0,-6.301100,53.279152,0,15029,33484,6280,0,1,0
87,2012-11-06 00:05:00,15,0,00150001,2012-11-05,5826,RD,0,-6.235867,53.342098,-361,15013,33210,4870,0,1,0
88,2012-11-06 00:05:04,15,0,00151001,2012-11-05,5929,HN,0,-6.209950,53.408985,401,15105,33502,6317,1,1,0
89,2012-11-06 00:05:08,15,0,00150001,2012-11-05,5843,RD,0,-6.325450,53.288216,-383,15021,33254,6282,1,1,0
90,2012-11-06 00:05:10,15,0,015A0001,2012-11-05,3130,RD,0,-6.292500,53.317783,-88,15009,33020,1103,0,1,0
91,2012-11-06 00:05:14,15,0,null,2012-11-05,3339,RD,0,-6.301100,53.279152,0,15029,33484,6280,0,1,0
92,2012-11-06 00:05:21,15,0,00150001,2012-11-05,5826,RD,0,-6.235867,53.342098,-361,15013,33210,4870,0,1,0
93,2012-11-06 00:05:25,15,0,00151001,2012-11-05,5929,HN,0,-6.214650,53.410034,401,15105,33502,6317,1,1,0
94,2012-11-06 00:05:29,15,0,00150001,2012-11-05,5843,RD,0,-6.320500,53.289383,-383,15021,33254,6282,1,1,0
95,2012-11-06 00:05:31,15,0,015A0001,2012-11-05,3130,RD,0,-6.290916,53.319248,-88,15009,33020,1103,0,1,0
96,2012-11-06 00:05:37,15,0,null,2012-11-05,3339,RD,0,-6.297462,53.281448,0,15029,33484,6280,0,1,0
97,2012-11-06 00:05:37,15,0,00151001,2012-11-05,5929,HN,0,-6.214650,53.410034,401,15105,33502,6317,1,1,0
98,2012-11-06 00:05:37,15,0,00150001,2012-11-05,5843,RD,0,-6.320500,53.289383,-323,15021,33254,6282,1,1,0
99,2012-11-06 00:05:43,15,0,00151001,2012-11-05,5929,HN,0,-6.218250,53.410515,401,15105,33502,6317,1,1,0

In [7]:
#Select all columns of type 'object'
object_columns = df.select_dtypes(['object']).columns

In [8]:
#Convert selected columns to type 'category'
for column in object_columns:
    df[column] = df[column].astype('category')

In [9]:
# Convert Unix timestamp to datetime

# Take uneccesary trailing zeroes off of unix timestamp. 
df['Timestamp'] = df['Timestamp'].apply(lambda x: x//1000000)

# Convert the timestamp
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')

In [10]:
# Add day of week column
df['Day'] = df['Timestamp'].dt.dayofweek

In [11]:
# Add hour of day column
df['Hour'] = df['Timestamp'].dt.hour

In [12]:
# Descriptive stats for categorical features
df.select_dtypes(['category']).describe().T

                    count unique         top     freq
JourneyPatternID  2254287     15    00150001   607458
TimeFrame         2254343     26  2012-11-07   104579
Operator          2254343      5          RD  1594991
StopID            2254343    250        6282   125537

In [13]:
# Descriptive stats for continuous features
df.describe().T

,count,mean,std,min,25%,50%,75%,max
LineID,2254343.0,15.000000,0.000000,15.000000,15.000000,15.000000,15.000000,15.000000
Direction,2254343.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
VehicleJourneyID,2254343.0,6298.909057,24939.675830,2564.000000,3189.000000,5220.000000,5881.000000,997396.000000
Congestion,2254343.0,0.024897,0.155811,0.000000,0.000000,0.000000,0.000000,1.000000
Lon,2254343.0,-6.260996,0.050541,-6.387784,-6.300231,-6.263592,-6.236675,-6.100584
Lat,2254343.0,53.331982,0.040214,53.186035,53.304447,53.333710,53.348286,53.421665
Delay,2254343.0,-6.497476,473.516670,-14136.000000,-191.000000,0.000000,136.000000,10882.000000
BlockID,2254343.0,15041.411825,805.495302,15001.000000,15010.000000,15020.000000,15032.000000,150099.000000
VehicleID,2254343.0,32641.225763,2483.145428,24549.000000,33020.000000,33459.000000,33493.000000,40033.000000
AtStop,2254343.0,0.236423,0.424885,0.000000,0.000000,0.000000,0.000000,1.000000
Day,2254343.0,2.581871,1.728277,0.000000,1.000000,3.000000,4.000000,6.000000
Hour,2254343.0,13.789241,4.857141,0.000000,10.000000,14.000000,18.000000,23.000000

In [14]:
# Convert some features to categorical
for column in ['LineID', 'VehicleJourneyID', 'Congestion', 'BlockID', 'VehicleID', 'AtStop']:
    df[column] = df[column].astype('category')

In [16]:
vehicledf.groupby(vehicledf.VehicleJourneyID)
vehicledf

NameError: name 'vehicledf' is not defined

In [17]:
vehicledf = df[(df.VehicleJourneyID == '00151001') & (df.VehicleID == 33210) & (df.AtStop == 1) & (df.TimeFrame == "2012-11-07")]

# vehicledf = vehicledf.drop_duplicates('StopID')

In [ ]:
pd.set_option('display.max_rows', 20)
vehicledf

In [ ]:
# Endings = df.JourneyPatternID.str.slice([4])

In [ ]:
df15 = df[(df.LineID == 15)]
df15.head()

In [ ]:
df15.JourneyPatternID.value_counts()

In [ ]:
stops = df15.drop_duplicates('StopID')
stops = stops['StopID', 'Diretc']
stops = stops.reset_index(drop='True')

In [ ]:
# df_unusual = df.JourneyPatternID.astype(str).str.slice([4::])

In [ ]:
df_unusual.astype(str)

In [ ]:
stops

In [ ]:
stopdict = {}
for stop in stops:
    row = df[df.StopID == stop].iloc[0]
    stopdict[stop] = [row["Lon"], row["Lat"]]

In [ ]:
stopdict

In [ ]:
df["Congestion"] = df[column].astype('int64')

In [ ]:
continuous_features = ["Timestamp", "LonWGS84", "LatWGS84", "Delay", "Congestion"]

In [ ]:
# Calculate correlation of all pairs of continuous features
corr = df[continuous_features].corr()

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom colormap - blue and red
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, annot=True, mask=mask, cmap=cmap, vmax=1, vmin=-1,
            square=True, xticklabels=True, yticklabels=True,
            linewidths=.5, cbar_kws={"shrink": .5}, ax=ax)
plt.yticks(rotation = 0)
plt.xticks(rotation = 45)

In [ ]:
df.plot(kind='scatter', x='Delay', y='Congestion')
# plt.savefig("images/congestion_delay_scatter.png")

In [ ]:
categorical_columns = ["LineID", "JourneyPatternID", "TimeFrame", "VehicleJourneyID", 
                       "Operator", "Congestion", "BlockID", "VehicleID", "StopID", "AtStop"]
# for col in categorical_columns:
#     df[col].value_counts().plot(kind='bar')

In [ ]:
df['Congestion'].value_counts().plot(kind='bar')
# plt.savefig("images/congestion_bar.png")

In [ ]:
df["Delay"].hist(figsize=(10, 5), bins=100, range=[-2000, 2000])
# plt.savefig('images/delay_hist.png')

In [ ]:
plt.figure(figsize=(10, 10))
df["Delay"].plot(kind='box')

In [ ]:
def stacked_plot(clean_df, f1, f2):
    # Compare f2 and f1

    # Find unique values in f2
    featured = pd.unique(clean_df[f2].ravel())

    # Insert a new column called 'percent' and fill it with 0s
    clean_df['percent'] = 0

    # Iterate through the unique values in f2 and for each value count the amount of f1
    # Find the indexes of each row with a particular value and for each of these row insert count * 100 in the percent column
    for c in featured:
        count = 1 / clean_df[clean_df[f2] == c].count()[f1]
        index_list = clean_df[clean_df[f2] == c].index.tolist()
        for i in index_list:
            clean_df.loc[i, 'percent'] = count * 100

    # Group dataframe by ShipsFromCountry and IsWinner and sum percent
    group = clean_df[['percent',f2,f1]].groupby([f2,f1]).sum()
    
    # Plot values of group in a stacked bar chart
    my_plot = group.unstack().plot(kind='bar', stacked=True, title=f1 + " by " +  f2, figsize=(15,7))

    # Define label colours and text and add to the plot
    red_patch = mpatches.Patch(color='green', label=f1)
    blue_patch = mpatches.Patch(color='blue', label="Not " + f1)
    my_plot.legend(handles=[red_patch, blue_patch], frameon = True)

    # Define x and y labels and min and max values for the y axis
    my_plot.set_xlabel(f2)
    my_plot.set_ylabel("% " + f1)
    my_plot.set_ylim([0,100])

In [ ]:
# Group by day of week and hour of day, get mean 
# hd_delay = df.groupby([df["Timestamp"].dt.dayofweek, df["Timestamp"].dt.hour])["Delay"].mean()

In [ ]:
groups = df.groupby([df["Timestamp"].dt.dayofweek, df["Timestamp"].dt.hour])["Delay"].mean()

In [ ]:
type(groups)

In [ ]:
hourly_delay = df.groupby(['Hour'])["Delay"].mean().plot(figsize=(15,5))

hourly_delay.set(xlabel="Time of Day", ylabel="Delay")
hourly_delay.set_xticks([x for x in range(24)])
hourly_delay.set_xticklabels([x for x in range(24)])

In [ ]:
hourly_delay = df.groupby(['Hour'])["Delay"].mean().plot(figsize=(15,5), kind='bar')

hourly_delay.set(xlabel="Time of Day", ylabel="Delay (seconds)")

# plt.savefig("hourly_delay_bar.png")

In [ ]:
days = df.groupby(["Day"])

In [ ]:
for name, day in days:
    
    hours = day.groupby(["Hour"])["Delay"].mean().plot()
#     hours["Delay"].mean().hist()

In [ ]:
df.groupby["Hour"]

In [ ]:
groups.hist(figsize=(10, 5))

In [ ]:
for group in hd_delay:
    print(group)
    print()