In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import statsmodels.formula.api as sm

import pprint as pp

%matplotlib inline

## Reading Data & Formatting

In [15]:
df = pd.read_csv("bus_data/Dcc/siri.20121106.csv", low_memory=False, header=None)
df.columns = ["Timestamp", "LineID", "Direction", "JourneyPatternID", "TimeFrame", 
              "VehicleJourneyID", "Operator", "Congestion", "Lon", "Lat", 
              "Delay", "BlockID", "VehicleID", "StopID", "AtStop"]

In [16]:
#Select all columns of type 'object'
object_columns = df.select_dtypes(['object']).columns

#Convert selected columns to type 'category'
for column in object_columns:
    df[column] = df[column].astype('category')
    
# Convert other features to categorical
for column in ['Congestion', 'BlockID', 'VehicleID', 'AtStop']:
    df[column] = df[column].astype('category')

# Convert LineID & VehicleJourneyID features to str
for column in ['LineID', 'VehicleJourneyID',]:
    df[column] = df[column].astype('str')

In [17]:
# Add column for human readable time
df['HumanTime'] = pd.to_datetime(df['Timestamp'], unit='us')

In [18]:
# Add day of week column
df['Day'] = df['HumanTime'].dt.dayofweek

# Add hour of day column
df['Hour'] = df['HumanTime'].dt.hour

In [19]:
# Dropping irrelevant columns
df = df.drop('BlockID', 1)
df = df.drop('Direction', 1)
df = df.drop('Operator', 1)
df = df.drop('Delay', 1)
df = df.drop('Congestion', 1)

### Separate LineID & JourneyPatternID

In [20]:
def get_line(string):
    if len(string) > 4:
        var = string[:4]
        var = var.lstrip("0")
        return var
    else:
        print("Error!")
        return None

def get_journey(string):
    if len(string) > 4:
        var = string[-4:]
        return var
    else:
        print("Error!")
        return None
        
df['LineID'] = df['JourneyPatternID'].apply(lambda x: get_line(x))
df['JourneyPatternID'] = df['JourneyPatternID'].apply(lambda x: get_journey(x))

df.head(1000)

Error!
Error!

/Users/danieljordan/anaconda3/lib/python3.6/site-packages/pandas/core/categorical.py:952: FutureWarning:
Setting NaNs in `categories` is deprecated and will be removed in a future version of pandas.
  ordered=self.ordered)

,Timestamp,LineID,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour
0,1352160000000000,15,0001,2012-11-05,5826,-6.258584,53.340099,33210,4870,0,2012-11-06 00:00:00,1,0
1,1352160000000000,46A,1002,2012-11-05,7267,-6.259093,53.345425,36024,794,0,2012-11-06 00:00:00,1,0
2,1352160000000000,14,0001,2012-11-05,6206,-6.257329,53.287521,33325,1047,0,2012-11-06 00:00:00,1,0
3,1352160002000000,41B,0002,2012-11-05,61,-6.264167,53.453217,33631,3874,1,2012-11-06 00:00:02,1,0
4,1352160002000000,None,None,2012-11-05,1116,-6.171050,53.259201,33137,3283,0,2012-11-06 00:00:02,1,0
5,1352160002000000,39A,1002,2012-11-05,3795,-6.262447,53.346767,36060,1479,0,2012-11-06 00:00:02,1,0
6,1352160002000000,65,0001,2012-11-05,4004,-6.594641,53.129776,38004,7283,0,2012-11-06 00:00:02,1,0
7,1352160002000000,40D,1001,2012-11-05,2466,-6.258850,53.362499,33274,52,0,2012-11-06 00:00:02,1,0
8,1352160002000000,None,None,2012-11-05,5076,-6.261073,53.352112,43035,4725,0,2012-11-06 00:00:02,1,0
9,1352160002000000,11,1002,2012-11-05,5241,-6.230217,53.323002,33462,320,0,2012-11-06 00:00:02,1,0
10,1352160002000000,31,1001,2012-11-05,2819,-6.241683,53.362484,33232,613,0,2012-11-06 00:00:02,1,0
11,1352160002000000,27,0001,2012-11-05,4976,-6.290833,53.319332,33415,2355,1,2012-11-06 00:00:02,1,0
12,1352160002000000,67,0001,2012-11-05,893,-6.476370,53.355328,40002,3892,0,2012-11-06 00:00:02,1,0
13,1352160002000000,79,0001,2012-11-05,3533,-6.332334,53.342850,33411,2907,0,2012-11-06 00:00:02,1,0
14,1352160002000000,None,None,2012-11-05,2757,-6.246833,53.354599,38083,3586,0,2012-11-06 00:00:02,1,0
15,1352160002000000,42,0002,2012-11-05,3880,-6.174524,53.442135,38021,3579,0,2012-11-06 00:00:02,1,0
16,1352160002000000,66A,0001,2012-11-05,2940,-6.372633,53.355251,33588,3993,0,2012-11-06 00:00:02,1,0
17,1352160002000000,79,0001,2012-11-05,3511,-6.296600,53.347717,33191,2907,0,2012-11-06 00:00:02,1,0
18,1352160002000000,None,None,2012-11-05,6225,-6.268016,53.370628,33505,274,0,2012-11-06 00:00:02,1,0
19,1352160002000000,33B,0001,2012-11-05,503,-6.141323,53.490158,33501,3722,0,2012-11-06 00:00:02,1,0
20,1352160002000000,140,0001,2012-11-05,6615,-6.276083,53.343884,33141,895,1,2012-11-06 00:00:02,1,0
21,1352160002000000,None,None,2012-11-05,3013,-6.465570,53.357151,33584,5114,0,2012-11-06 00:00:02,1,0
22,1352160002000000,44,0001,2012-11-05,5009,-6.220562,53.267975,33259,3467,0,2012-11-06 00:00:02,1,0
23,1352160002000000,None,None,2012-11-05,2098,-6.272911,53.346794,33586,7338,0,2012-11-06 00:00:02,1,0
24,1352160002000000,83A,0001,2012-11-05,7099,-6.273733,53.419632,40019,324,1,2012-11-06 00:00:02,1,0
25,1352160002000000,27B,1002,2012-11-05,374,-6.243900,53.398499,40013,324,0,2012-11-06 00:00:02,1,0
26,1352160002000000,38,1003,2012-11-05,1243,-6.266693,53.356422,33556,818,0,2012-11-06 00:00:02,1,0
27,1352160002000000,16C,0001,2012-11-05,6175,-6.254583,53.355534,33633,270,1,2012-11-06 00:00:02,1,0
28,1352160002000000,None,None,2012-11-05,2916,-6.191250,53.359051,38088,296,0,2012-11-06 00:00:02,1,0
29,1352160002000000,747,0001,2012-11-05,4328,-6.253083,53.371799,40039,3665,1,2012-11-06 00:00:02,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1352160122000000,27,0001,2012-11-05,4976,-6.278450,53.326035,33415,2355,1,2012-11-06 00:02:02,1,0
971,1352160122000000,31,0003,2012-11-05,2843,-6.060668,53.365963,38020,708,0,2012-11-06 00:02:02,1,0
972,1352160122000000,15,1001,2012-11-05,5929,-6.174817,53.402248,33502,6317,1,2012-11-06 00:02:02,1,0
973,1352160122000000,44,0001,2012-11-05,5009,-6.214194,53.257610,33259,3472,0,2012-11-06 00:02:02,1,0
974,1352160122000000,140,0001,2012-11-05,6615,-6.273617,53.356300,33141,895,1,2012-11-06 00:02:02,1,0
975,1352160122000000,None,None,2012-11-05,2916,-6.191216,53.359051,38088,296,0,2012-11-06 00:02:02,1,0
976,1352160122000000,38,1003,2012-11-05,1243,-6.264059,53.352371,33556,819,0,2012-11-06 00:02:02,1,0
977,1352160122000000,11,1002,2012-11-05,5241,-6.230567,53.317451,33462,320,0,2012-11-06 00:02:02,1,0
978,1352160122000000,None,None,2012-11-05,3013,-6.449370,53.356430,33584,5114,0,2012-11-06 00:02:02,1,0
979,1352160122000000,27B,1002,2012-11-05,374,-6.239050,53.412182,40013,324,0,2012-11-06 00:02:02,1,0
980,1352160122000000,67,0001,2012-11-05,893,-6.502946,53.345200,40002,3898,0,2012-11-06 00:02:02,1,0
981,1352160122000000,25,0001,2012-11-05,713,-6.322183,53.343334,33292,2220,0,2012-11-06 00:02:02,1,0
982,1352160122000000,747,0001,2012-11-05,4328,-6.259800,53.361183,40039,3665,1,2012-11-06 00:02:02,1,0
983,1352160122000000,46A,1001,2012-11-05,7417,-6.232200,53.319435,36019,804,0,2012-11-06 00:02:02,1,0
984,1352160122000000,239,0002,2012-11-05,1871,-6.308850,53.405285,40033,4411,0,2012-11-06 00:02:02,1,0
985,1352160122000000,39A,1002,2012-11-05,3795,-6.259634,53.348232,36060,313,1,2012-11-06 00:02:02,1,0
986,1352160122000000,49,1001,2012-11-05,3387,-6.258031,53.345901,33483,5192,0,2012-11-06 00:02:02,1,0
987,1352160122000000,None,None,2012-11-05,2098,-6.273198,53.350243,33586,7338,0,2012-11-06 00:02:02,1,0
988,1352160122000000,None,None,2012-11-05,1116,-6.166150,53.268215,33137,3283,0,2012-11-06 00:02:02,1,0
989,1352160122000000,16C,0001,2012-11-05,6175,-6.254567,53.355484,33633,270,1,2012-11-06 00:02:02,1,0
990,1352160122000000,43,1001,2012-11-05,3954,-6.215816,53.361832,38082,296,1,2012-11-06 00:02:02,1,0
991,1352160124000000,123,1001,2012-11-05,5083,-6.254000,53.355885,38039,6056,1,2012-11-06 00:02:04,1,0
992,1352160124000000,40,0001,2012-11-05,6401,-6.399796,53.339909,33606,2127,0,2012-11-06 00:02:04,1,0
993,1352160124000000,None,None,2012-11-05,5028,-6.259676,53.361469,33535,6122,0,2012-11-06 00:02:04,1,0
994,1352160124000000,None,None,2012-11-05,1604,-6.309675,53.327507,33572,6094,0,2012-11-06 00:02:04,1,0
995,1352160124000000,16,1001,2012-11-05,5652,-6.216317,53.427635,33396,7347,1,2012-11-06 00:02:04,1,0
996,1352160124000000,None,None,2012-11-05,6213,-6.261626,53.350243,33509,6059,0,2012-11-06 00:02:04,1,0
997,1352160124000000,16,0001,2012-11-05,5607,-6.255468,53.272064,33127,5051,0,2012-11-06 00:02:04,1,0
998,1352160124000000,None,None,2012-11-05,6704,-6.307913,53.316200,40032,2492,0,2012-11-06 00:02:04,1,0
999,1352160124000000,77A,1001,2012-11-05,4993,-6.256170,53.345905,33521,1358,0,2012-11-06 00:02:04,1,0

## Separating journey patterns

In [22]:
lines = df.LineID.unique()
patterns = df.JourneyPatternID.unique()

# for line in lines:
#     print(line)
    
# print()

# for pattern in patterns:
#     print(pattern)

In [23]:
# drop rows where bus isn't at stop
# df = df[(df.AtStop == 1)]

# drop duplicate rows
# df = df.drop_duplicates(["TimeFrame", "VehicleJourneyID", "StopID"])

In [24]:
# filter out routes which only have 1 stop. 
# This solves the problem of busses starting on the wrong side... 
df = df.groupby(['TimeFrame', 'VehicleJourneyID']).filter(lambda x: len(x) >= 3)

In [25]:
# Putting the first sightings of a vehiclejourneyid and timeframe combo timestamp into a dictionary

start_times = {}

# This gives you the first line anything has been seen by 
firstlines = df.groupby(["TimeFrame", "VehicleJourneyID"]).head(1)

# This iterates through them and assigns values to the dictionary
for index, row in firstlines.iterrows():
    start_times[row.TimeFrame, row.VehicleJourneyID] = {"time":row.Timestamp, "loc":[row.Lat, row.Lon]}

### Adding Runtime column

This column will represent the number of seconds elapsed since the bus started along its journey

In [26]:
def add_runtime(row, mydict):
    # Takes a row and a dictionary of start times
    # returns time elapsed (seconds) between that row's timestamp and the start of the line
    start = mydict[row.TimeFrame, row.VehicleJourneyID]["time"]
    current = row.Timestamp
    return (current - start) // 1000000

df['Runtime'] = ""

# Applies this function to the newdf
df['Runtime'] = df.apply(lambda row: add_runtime(row, start_times),axis=1)

In [27]:
df.head(100)

,Timestamp,LineID,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,Runtime
52,1352160004000000,40,0001,2012-11-05,6401,-6.398231,53.345596,33606,2125,1,2012-11-06 00:00:04,1,0,0
94,1352160008000000,25A,0001,2012-11-05,3416,-6.430205,53.340366,33360,4607,1,2012-11-06 00:00:08,1,0,0
210,1352160025000000,38,0001,2012-11-05,1269,-6.378301,53.392982,33563,1816,1,2012-11-06 00:00:25,1,0,0
249,1352160031000000,13,0007,2012-11-05,4169,-6.401314,53.317501,33351,4667,1,2012-11-06 00:00:31,1,0,0
253,1352160031000000,65B,0001,2012-11-05,4018,-6.342323,53.275558,33485,4872,1,2012-11-06 00:00:31,1,0,0
281,1352160033000000,39,0002,2012-11-05,3810,-6.418562,53.393379,36059,1877,1,2012-11-06 00:00:33,1,0,0
294,1352160039000000,14,0001,2012-11-05,6206,-6.262346,53.287159,33325,1049,1,2012-11-06 00:00:39,1,0,0
303,1352160039000000,184,0001,2012-11-05,1197,-6.089990,53.132530,38093,7351,1,2012-11-06 00:00:39,1,0,0
411,1352160045000000,40,0001,2012-11-05,6401,-6.398444,53.343945,33606,2126,1,2012-11-06 00:00:45,1,0,41
523,1352160063000000,41C,0001,2012-11-05,126,-6.244390,53.452393,33626,3707,1,2012-11-06 00:01:03,1,0,0
595,1352160069000000,41,1001,2012-11-05,162,-6.254246,53.369949,33272,45,1,2012-11-06 00:01:09,1,0,0
606,1352160071000000,46A,0001,2012-11-05,7429,-6.164383,53.278118,33540,2021,1,2012-11-06 00:01:11,1,0,0
621,1352160075000000,39,0002,2012-11-05,3810,-6.415507,53.391106,36059,1878,1,2012-11-06 00:01:15,1,0,42
627,1352160077000000,40D,0001,2012-11-05,2460,-6.387906,53.421265,38074,7105,1,2012-11-06 00:01:17,1,0,0
640,1352160083000000,40,0001,2012-11-05,6401,-6.399122,53.341614,33606,2127,1,2012-11-06 00:01:23,1,0,79
703,1352160085000000,38,0001,2012-11-05,1269,-6.374809,53.395973,33563,1817,1,2012-11-06 00:01:25,1,0,60
943,1352160114000000,46A,0001,2012-11-05,7429,-6.161541,53.280006,33540,2022,1,2012-11-06 00:01:54,1,0,43
1019,1352160128000000,27,0001,2012-11-05,4958,-6.392497,53.283936,33203,2622,1,2012-11-06 00:02:08,1,0,0
1032,1352160128000000,39,1001,2012-11-05,3622,-6.313080,53.366512,33600,1701,1,2012-11-06 00:02:08,1,0,0
1034,1352160128000000,17A,0005,2012-11-05,6166,-6.222381,53.393398,33378,1251,1,2012-11-06 00:02:08,1,0,0
1061,1352160130000000,65B,0001,2012-11-05,4018,-6.354423,53.275703,33485,2532,1,2012-11-06 00:02:10,1,0,99
1084,1352160136000000,40D,0001,2012-11-05,2460,-6.383358,53.419216,38074,6005,1,2012-11-06 00:02:16,1,0,59
1159,1352160146000000,33,0002,2012-11-05,239,-6.091413,53.529781,43055,3783,1,2012-11-06 00:02:26,1,0,0
1173,1352160150000000,41,1001,2012-11-05,162,-6.258850,53.362400,33272,48,1,2012-11-06 00:02:30,1,0,81
1334,1352160167000000,25A,0001,2012-11-05,3416,-6.439799,53.348911,33360,4611,1,2012-11-06 00:02:47,1,0,159
1354,1352160173000000,39,0002,2012-11-05,3810,-6.409485,53.387821,36059,1899,1,2012-11-06 00:02:53,1,0,140
1359,1352160173000000,46A,0001,2012-11-05,7429,-6.155130,53.281273,33540,4565,1,2012-11-06 00:02:53,1,0,102
1406,1352160183000000,66,0001,2012-11-05,2994,-6.490808,53.363636,40006,3958,1,2012-11-06 00:03:03,1,0,0
1427,1352160185000000,40,0001,2012-11-05,6401,-6.400380,53.335793,33606,2129,1,2012-11-06 00:03:05,1,0,181
1729,1352160225000000,145,0001,2012-11-05,932521,-6.113725,53.198692,33468,4172,1,2012-11-06 00:03:45,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,1352160651000000,65B,0001,2012-11-05,4018,-6.397429,53.277649,33485,2352,1,2012-11-06 00:10:51,1,0,620
4257,1352160665000000,38,0001,2012-11-05,1269,-6.398623,53.407070,33563,1827,1,2012-11-06 00:11:05,1,0,640
4335,1352160681000000,66,0001,2012-11-05,2994,-6.586086,53.382011,40006,3966,1,2012-11-06 00:11:21,1,0,498
4419,1352160699000000,45A,0001,2012-11-05,7074,-6.131500,53.182732,33614,5092,1,2012-11-06 00:11:39,1,0,314
4567,1352160732000000,65B,0001,2012-11-05,4018,-6.406829,53.274281,33485,2573,1,2012-11-06 00:12:12,1,0,701
4608,1352160742000000,66,0001,2012-11-05,2994,-6.590075,53.381821,40006,5113,1,2012-11-06 00:12:22,1,0,559
4671,1352160754000000,77A,0001,2012-11-05,4939,-6.391620,53.273830,33460,2564,1,2012-11-06 00:12:34,1,0,300
4689,1352160758000000,17A,0005,2012-11-05,6166,-6.154217,53.389767,33378,1012,1,2012-11-06 00:12:38,1,0,630
4777,1352160776000000,33,0002,2012-11-05,239,-6.118566,53.575916,43055,6077,1,2012-11-06 00:12:56,1,0,630
4853,1352160794000000,41C,0001,2012-11-05,126,-6.239182,53.466648,33626,4910,1,2012-11-06 00:13:14,1,0,731
4912,1352160809000000,67,1001,2012-11-05,915,-6.262036,53.346859,40005,315,1,2012-11-06 00:13:29,1,0,219
4953,1352160821000000,14,0001,2012-11-05,6206,-6.245550,53.305248,33325,6044,1,2012-11-06 00:13:41,1,0,782
4964,1352160821000000,46A,0001,2012-11-05,7429,-6.167817,53.298534,33540,2039,1,2012-11-06 00:13:41,1,0,750
4970,1352160823000000,66,0001,2012-11-05,2994,-6.587476,53.376591,40006,3918,1,2012-11-06 00:13:43,1,0,640
5034,1352160837000000,33,0002,2012-11-05,239,-6.125362,53.578194,43055,3571,1,2012-11-06 00:13:57,1,0,691
5112,1352160853000000,77A,0001,2012-11-05,4939,-6.397429,53.277649,33460,2352,1,2012-11-06 00:14:13,1,0,399
5183,1352160873000000,41C,0001,2012-11-05,126,-6.241820,53.459888,33626,4914,1,2012-11-06 00:14:33,1,0,810
5269,1352160889000000,65B,0001,2012-11-05,4018,-6.421493,53.282631,33485,7460,1,2012-11-06 00:14:49,1,0,858
5310,1352160904000000,67,0001,2012-11-05,893,-6.580188,53.369694,40002,7075,1,2012-11-06 00:15:04,1,0,523
5671,1352160999000000,66,0001,2012-11-05,2994,-6.590717,53.370018,40006,5114,1,2012-11-06 00:16:39,1,0,816
5807,1352161033000000,77A,0001,2012-11-05,4939,-6.421341,53.280804,33460,4929,1,2012-11-06 00:17:13,1,0,579
5897,1352161057000000,41C,0001,2012-11-05,126,-6.258983,53.458534,33626,4957,1,2012-11-06 00:17:37,1,0,994
6039,1352161104000000,33,1001,2012-11-05,267,-6.239006,53.413521,43056,1634,1,2012-11-06 00:18:24,1,0,0
6107,1352161118000000,67,0001,2012-11-05,893,-6.588933,53.379566,40002,6089,1,2012-11-06 00:18:38,1,0,737
6136,1352161126000000,39,1001,2012-11-05,3622,-6.244450,53.333645,33600,752,1,2012-11-06 00:18:46,1,0,998
6298,1352161178000000,67,1001,2012-11-05,915,-6.247917,53.338333,40005,7385,1,2012-11-06 00:19:38,1,0,588
6472,1352161239000000,27,0001,2012-11-05,4958,-6.277150,53.327648,33203,2355,1,2012-11-06 00:20:39,1,0,1111
6480,1352161239000000,39,1001,2012-11-05,3622,-6.245350,53.328335,33600,7339,1,2012-11-06 00:20:39,1,0,1111
6632,1352161298000000,77A,0001,2012-11-05,4939,-6.427267,53.291901,33460,7459,1,2012-11-06 00:21:38,1,0,844
6747,1352161342000000,33,1001,2012-11-05,267,-6.245244,53.396519,43056,1639,1,2012-11-06 00:22:22,1,0,238

### Finding Stops on a route

In [ ]:
df_15 = df[(df.LineID == 15 )]

### Saving newdf to a dataframe

In [14]:
newdf.to_csv("bus_data/cleaned_data/line15_00150001.csv")