In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import statsmodels.formula.api as sm

import pprint as pp

%matplotlib inline

## Reading Data & Formatting

In [3]:
df = pd.read_csv("bus_data/cleaned_data/line15.csv", low_memory=False, header=None)
df.columns = ["Timestamp", "LineID", "Direction", "JourneyPatternID", "TimeFrame", 
              "VehicleJourneyID", "Operator", "Congestion", "Lon", "Lat", 
              "Delay", "BlockID", "VehicleID", "StopID", "AtStop"]

In [4]:
#Select all columns of type 'object'
object_columns = df.select_dtypes(['object']).columns

#Convert selected columns to type 'category'
for column in object_columns:
    df[column] = df[column].astype('category')
    
# Convert other features to categorical
for column in ['LineID', 'VehicleJourneyID', 'Congestion', 'BlockID', 'VehicleID', 'AtStop']:
    df[column] = df[column].astype('category')

In [5]:
# Add column for human readable time
df['HumanTime'] = pd.to_datetime(df['Timestamp'], unit='us')

In [6]:
# Add day of week column
df['Day'] = df['HumanTime'].dt.dayofweek

# Add hour of day column
df['Hour'] = df['HumanTime'].dt.hour

In [7]:
# Dropping irrelevant columns
df = df.drop('BlockID', 1)
df = df.drop('Operator', 1)
df = df.drop('Delay', 1)
df = df.drop('Congestion', 1)

## Separating journey patterns

In [8]:
patterns = df.JourneyPatternID.unique()

for pattern in patterns:
    print(pattern)

00150001
00151001
015A1001
015A0001
null
nan
015B0002
015B1001
015A0002
015B0001
015B1002
015B0003
00151002
00150002
029A1001
066A0001
00400001
056A1001

In [26]:
# Choosing only line 00150001, for a single day
# newdf = df[(df.JourneyPatternID == '00150001') & (df.TimeFrame == '2012-11-26')]
newdf = df[(df.JourneyPatternID == '00150001')]
newdf.head(100)

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour
0,1352160000000000,15.0,0,00150001,2012-11-05,5826,-6.258584,53.340099,33210,4870,0,2012-11-06 00:00:00,1,0
3,1352160010000000,15.0,0,00150001,2012-11-05,5843,-6.323327,53.277756,33254,4869,0,2012-11-06 00:00:10,1,0
6,1352160019000000,15.0,0,00150001,2012-11-05,5826,-6.257967,53.342365,33210,4870,0,2012-11-06 00:00:19,1,0
9,1352160031000000,15.0,0,00150001,2012-11-05,5843,-6.327923,53.276974,33254,4869,0,2012-11-06 00:00:31,1,0
13,1352160039000000,15.0,0,00150001,2012-11-05,5826,-6.257433,53.342899,33210,4870,0,2012-11-06 00:00:39,1,0
18,1352160049000000,15.0,0,00150001,2012-11-05,5843,-6.331139,53.276196,33254,4870,0,2012-11-06 00:00:49,1,0
21,1352160059000000,15.0,0,00150001,2012-11-05,5826,-6.254167,53.342182,33210,4870,0,2012-11-06 00:00:59,1,0
23,1352160069000000,15.0,0,00150001,2012-11-05,5843,-6.331205,53.276012,33254,3007,0,2012-11-06 00:01:09,1,0
26,1352160079000000,15.0,0,00150001,2012-11-05,5826,-6.251433,53.342201,33210,4870,0,2012-11-06 00:01:19,1,0
28,1352160090000000,15.0,0,00150001,2012-11-05,5843,-6.331040,53.274563,33254,3007,0,2012-11-06 00:01:30,1,0
33,1352160100000000,15.0,0,00150001,2012-11-05,5826,-6.250800,53.342152,33210,4870,0,2012-11-06 00:01:40,1,0
35,1352160110000000,15.0,0,00150001,2012-11-05,5843,-6.329804,53.272602,33254,6283,0,2012-11-06 00:01:50,1,0
38,1352160120000000,15.0,0,00150001,2012-11-05,5826,-6.250783,53.342068,33210,4870,0,2012-11-06 00:02:00,1,0
40,1352160128000000,15.0,0,00150001,2012-11-05,5843,-6.329324,53.272076,33254,6283,0,2012-11-06 00:02:08,1,0
43,1352160142000000,15.0,0,00150001,2012-11-05,5826,-6.249700,53.343449,33210,4870,0,2012-11-06 00:02:22,1,0
48,1352160160000000,15.0,0,00150001,2012-11-05,5826,-6.249767,53.344215,33210,4870,0,2012-11-06 00:02:40,1,0
50,1352160169000000,15.0,0,00150001,2012-11-05,5843,-6.329324,53.272076,33254,6283,0,2012-11-06 00:02:49,1,0
53,1352160179000000,15.0,0,00150001,2012-11-05,5826,-6.251367,53.344952,33210,4870,0,2012-11-06 00:02:59,1,0
57,1352160199000000,15.0,0,00150001,2012-11-05,5826,-6.250617,53.345684,33210,4870,0,2012-11-06 00:03:19,1,0
59,1352160209000000,15.0,0,00150001,2012-11-05,5843,-6.329324,53.272076,33254,6283,0,2012-11-06 00:03:29,1,0
63,1352160217000000,15.0,0,00150001,2012-11-05,5843,-6.331200,53.277550,33254,6282,1,2012-11-06 00:03:37,1,0
65,1352160219000000,15.0,0,00150001,2012-11-05,5826,-6.248683,53.345531,33210,4870,0,2012-11-06 00:03:39,1,0
67,1352160231000000,15.0,0,00150001,2012-11-05,5843,-6.331383,53.280300,33254,6282,1,2012-11-06 00:03:51,1,0
70,1352160240000000,15.0,0,00150001,2012-11-05,5826,-6.246750,53.344250,33210,4870,0,2012-11-06 00:04:00,1,0
74,1352160262000000,15.0,0,00150001,2012-11-05,5826,-6.244050,53.343132,33210,4870,0,2012-11-06 00:04:22,1,0
76,1352160270000000,15.0,0,00150001,2012-11-05,5843,-6.330900,53.286182,33254,6282,1,2012-11-06 00:04:30,1,0
81,1352160278000000,15.0,0,00150001,2012-11-05,5843,-6.330900,53.286182,33254,6282,1,2012-11-06 00:04:38,1,0
82,1352160280000000,15.0,0,00150001,2012-11-05,5826,-6.240233,53.342667,33210,4870,0,2012-11-06 00:04:40,1,0
85,1352160292000000,15.0,0,00150001,2012-11-05,5843,-6.329550,53.287102,33254,6282,1,2012-11-06 00:04:52,1,0
87,1352160300000000,15.0,0,00150001,2012-11-05,5826,-6.235867,53.342098,33210,4870,0,2012-11-06 00:05:00,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,1352160889000000,15.0,0,00150001,2012-11-05,5843,-6.264750,53.332233,33254,6282,1,2012-11-06 00:14:49,1,0
235,1352160910000000,15.0,0,00150001,2012-11-05,5843,-6.264767,53.332298,33254,6282,1,2012-11-06 00:15:10,1,0
239,1352160930000000,15.0,0,00150001,2012-11-05,5843,-6.264767,53.332298,33254,6282,1,2012-11-06 00:15:30,1,0
243,1352160940000000,15.0,0,00150001,2012-11-05,5843,-6.264767,53.332298,33254,6282,1,2012-11-06 00:15:40,1,0
245,1352160948000000,15.0,0,00150001,2012-11-05,5843,-6.264783,53.332401,33254,6282,1,2012-11-06 00:15:48,1,0
249,1352160970000000,15.0,0,00150001,2012-11-05,5843,-6.264983,53.333500,33254,6282,1,2012-11-06 00:16:10,1,0
253,1352160993000000,15.0,0,00150001,2012-11-05,5843,-6.265000,53.333534,33254,6282,1,2012-11-06 00:16:33,1,0
256,1352160999000000,15.0,0,00150001,2012-11-05,5843,-6.265000,53.333534,33254,6282,1,2012-11-06 00:16:39,1,0
258,1352161009000000,15.0,0,00150001,2012-11-05,5843,-6.262967,53.333935,33254,6282,1,2012-11-06 00:16:49,1,0
262,1352161029000000,15.0,0,00150001,2012-11-05,5843,-6.260716,53.333984,33254,6282,1,2012-11-06 00:17:09,1,0
266,1352161051000000,15.0,0,00150001,2012-11-05,5843,-6.258183,53.334633,33254,6282,1,2012-11-06 00:17:31,1,0
269,1352161057000000,15.0,0,00150001,2012-11-05,5843,-6.258183,53.334633,33254,6282,1,2012-11-06 00:17:37,1,0
272,1352161069000000,15.0,0,00150001,2012-11-05,5843,-6.257400,53.335983,33254,6282,1,2012-11-06 00:17:49,1,0
276,1352161089000000,15.0,0,00150001,2012-11-05,5843,-6.256950,53.336533,33254,6282,1,2012-11-06 00:18:09,1,0
280,1352161110000000,15.0,0,00150001,2012-11-05,5843,-6.255633,53.338585,33254,6282,1,2012-11-06 00:18:30,1,0
283,1352161118000000,15.0,0,00150001,2012-11-05,5843,-6.255633,53.338585,33254,6282,1,2012-11-06 00:18:38,1,0
285,1352161130000000,15.0,0,00150001,2012-11-05,5843,-6.258483,53.339432,33254,6282,1,2012-11-06 00:18:50,1,0
288,1352161150000000,15.0,0,00150001,2012-11-05,5843,-6.258433,53.340450,33254,6282,1,2012-11-06 00:19:10,1,0
291,1352161170000000,15.0,0,00150001,2012-11-05,5843,-6.258017,53.341999,33254,6282,1,2012-11-06 00:19:30,1,0
294,1352161178000000,15.0,0,00150001,2012-11-05,5843,-6.258017,53.341999,33254,6282,1,2012-11-06 00:19:38,1,0
296,1352161193000000,15.0,0,00150001,2012-11-05,5843,-6.257750,53.342731,33254,6282,1,2012-11-06 00:19:53,1,0
298,1352161209000000,15.0,0,00150001,2012-11-05,5843,-6.257517,53.342884,33254,6282,1,2012-11-06 00:20:09,1,0
300,1352161229000000,15.0,0,00150001,2012-11-05,5843,-6.253933,53.342117,33254,6282,1,2012-11-06 00:20:29,1,0
301,1352161239000000,15.0,0,00150001,2012-11-05,5843,-6.253933,53.342117,33254,6282,1,2012-11-06 00:20:39,1,0
304,1352161251000000,15.0,0,00150001,2012-11-05,5843,-6.250834,53.342098,33254,6282,1,2012-11-06 00:20:51,1,0
306,1352161269000000,15.0,0,00150001,2012-11-05,5843,-6.249583,53.343616,33254,6282,1,2012-11-06 00:21:09,1,0
308,1352161289000000,15.0,0,00150001,2012-11-05,5843,-6.249467,53.343834,33254,6282,1,2012-11-06 00:21:29,1,0
309,1352161298000000,15.0,0,00150001,2012-11-05,5843,-6.249467,53.343834,33254,6282,1,2012-11-06 00:21:38,1,0
312,1352161312000000,15.0,0,00150001,2012-11-05,5843,-6.249516,53.343815,33254,6282,1,2012-11-06 00:21:52,1,0
314,1352161330000000,15.0,0,00150001,2012-11-05,5843,-6.249750,53.344215,33254,6282,1,2012-11-06 00:22:10,1,0

In [27]:
stops = newdf.StopID.unique()

for stop in stops:
    print(stop)

4870
4869
3007
6283
6282
6318
6319
7246
6320
4594
4595
4596
4563
1218
1270
1272
1273
1274
1275
1276
1219
1220
1221
664
665
666
1277
667
668
614
615
616
617
618
619
675
4415
4719
5190
348
403
746
844
1014
1015
1016
1017
1019
1020
1076
1077
1078
1081
1083
1085
1121
1079
1080
1122
1123
1124
1125
1127
1130
1140
1141
1142
1143
1144
1145
1018
1082
6326
6316
6335
1150
1164
4886
1154
1165
1151
6079
6285
6288
1155
299
497
790
6286
1153
4887
7245
1158
6317
6315
1166
946
4528
1152
7236
6287
1069
1157
6115

In [10]:
# drop duplicate rows
newdf = newdf.drop_duplicates(["TimeFrame", "VehicleJourneyID", "StopID"])

# drop rows where bus isn't at stop
newdf = newdf[(newdf.AtStop == 1) & (newdf.HumanTime.dt.hour == 4)]

In [13]:
# drop rows where bus isn't at stop
nightime = df[(df.HumanTime.dt.hour > 2) & (df.HumanTime.dt.hour < 6)]

In [14]:
nightime.tail()

Empty DataFrame
Columns: [Timestamp, LineID, Direction, JourneyPatternID, TimeFrame, VehicleJourneyID, Lon, Lat, VehicleID, StopID, AtStop, HumanTime, Day, Hour]
Index: []

In [15]:
# filter out routes which only have 1 stop. 
# This solves the problem of busses starting on the wrong side... 
newdf = newdf.groupby(['TimeFrame', 'VehicleJourneyID']).filter(lambda x: len(x) >= 3)

In [16]:
# Putting the first sightings of a vehiclejourneyid and timeframe combo timestamp into a dictionary

start_times = {}

# This gives you the first line anything has been seen by 
firstlines = newdf.groupby(["TimeFrame", "VehicleJourneyID"]).head(1)

# This iterates through them and assigns values to the dictionary
for index, row in firstlines.iterrows():
    start_times[row.TimeFrame, row.VehicleJourneyID] = {"time":row.Timestamp, "loc":[row.Lat, row.Lon]}

In [17]:
pp.pprint(start_times)

{}

In [18]:
locations = []

for x in start_times:
#     locations.append(start_times[x])
    print(start_times[x]["loc"][0], start_times[x]["loc"][1])

## Problem - Not all busses start in the same spot! 

(5148 2012-11-26) doesn't start on the north side. 

This is how it's supposed to be! The ones that do start on the northside are phony. 

No, because (5141, 2012-11-26) starts on the north side and hits a bunch of stops. Why do we have north south both doing the same journey?

5148 (starts in south) doesn't actually hit any stops except 1...
5150 is the same
5156
5158

Seems to be a pattern. The busses that start in the south don't actually service any stops. Why are they signalling that they're on the journeypattern?

### Adding Runtime column

This column will represent the number of seconds elapsed since the bus started along its journey

In [22]:
def add_runtime(row, mydict):
    # Takes a row and a dictionary of start times
    # returns time elapsed (seconds) between that row's timestamp and the start of the line
    start = mydict[row.TimeFrame, row.VehicleJourneyID]["time"]
    current = row.Timestamp
    return (current - start) // 1000000

newdf['Runtime'] = ""

# Applies this function to the newdf
newdf['Runtime'] = newdf.apply(lambda row: add_runtime(row, start_times),axis=1)

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [13]:
# test = newdf[newdf.]
test = newdf[(newdf.VehicleJourneyID == 5326) & (newdf.TimeFrame == '2012-11-26')]
test

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,Runtime
1849385,1353960900000000,15.0,0,00150001,2012-11-26,5326,-6.151467,53.402832,33453,6318,1,2012-11-26 20:15:00,0,20,0
1849929,1353961340000000,15.0,0,00150001,2012-11-26,5326,-6.162333,53.401539,33453,6320,1,2012-11-26 20:22:20,0,20,440
1850015,1353961420000000,15.0,0,00150001,2012-11-26,5326,-6.163521,53.399288,33453,4594,1,2012-11-26 20:23:40,0,20,520
1850187,1353961580000000,15.0,0,00150001,2012-11-26,5326,-6.181091,53.401699,33453,4563,1,2012-11-26 20:26:20,0,20,680
1850306,1353961699000000,15.0,0,00150001,2012-11-26,5326,-6.191873,53.392952,33453,1272,1,2012-11-26 20:28:19,0,20,799
1850385,1353961779000000,15.0,0,00150001,2012-11-26,5326,-6.195288,53.391106,33453,1273,1,2012-11-26 20:29:39,0,20,879
1850430,1353961820000000,15.0,0,00150001,2012-11-26,5326,-6.198000,53.388981,33453,1274,1,2012-11-26 20:30:20,0,20,920
1850759,1353962139000000,15.0,0,00150001,2012-11-26,5326,-6.227001,53.368011,33453,667,1,2012-11-26 20:35:39,0,20,1239
1850888,1353962260000000,15.0,0,00150001,2012-11-26,5326,-6.233564,53.363689,33453,614,1,2012-11-26 20:37:40,0,20,1360
1850976,1353962341000000,15.0,0,00150001,2012-11-26,5326,-6.239722,53.359943,33453,616,1,2012-11-26 20:39:01,0,20,1441
1851118,1353962478000000,15.0,0,00150001,2012-11-26,5326,-6.250530,53.350624,33453,4415,1,2012-11-26 20:41:18,0,20,1578
1851324,1353962679000000,15.0,0,00150001,2012-11-26,5326,-6.257062,53.346302,33453,5190,1,2012-11-26 20:44:39,0,20,1779
1851609,1353962958000000,15.0,0,00150001,2012-11-26,5326,-6.258538,53.345268,33453,348,1,2012-11-26 20:49:18,0,20,2058
1851776,1353963119000000,15.0,0,00150001,2012-11-26,5326,-6.256696,53.342678,33453,403,1,2012-11-26 20:51:59,0,20,2219
1852023,1353963363000000,15.0,0,00150001,2012-11-26,5326,-6.256213,53.337170,33453,844,1,2012-11-26 20:56:03,0,20,2463
1852116,1353963464000000,15.0,0,00150001,2012-11-26,5326,-6.257341,53.335674,33453,1014,1,2012-11-26 20:57:44,0,20,2564
1852217,1353963562000000,15.0,0,00150001,2012-11-26,5326,-6.259940,53.332787,33453,1015,1,2012-11-26 20:59:22,0,20,2662
1852321,1353963685000000,15.0,0,00150001,2012-11-26,5326,-6.264520,53.331100,33453,1016,1,2012-11-26 21:01:25,0,21,2785
1852508,1353963883000000,15.0,0,00150001,2012-11-26,5326,-6.265118,53.325012,33453,1020,1,2012-11-26 21:04:43,0,21,2983
1852581,1353963961000000,15.0,0,00150001,2012-11-26,5326,-6.265537,53.323170,33453,1076,1,2012-11-26 21:06:01,0,21,3061
1852652,1353964043000000,15.0,0,00150001,2012-11-26,5326,-6.266577,53.321621,33453,1077,1,2012-11-26 21:07:23,0,21,3143
1852750,1353964152000000,15.0,0,00150001,2012-11-26,5326,-6.270830,53.316704,33453,1079,1,2012-11-26 21:09:12,0,21,3252
1852836,1353964252000000,15.0,0,00150001,2012-11-26,5326,-6.271992,53.315060,33453,1080,1,2012-11-26 21:10:52,0,21,3352
1852883,1353964311000000,15.0,0,00150001,2012-11-26,5326,-6.273647,53.312725,33453,1081,1,2012-11-26 21:11:51,0,21,3411
1852933,1353964371000000,15.0,0,00150001,2012-11-26,5326,-6.275767,53.311710,33453,1082,1,2012-11-26 21:12:51,0,21,3471
1853016,1353964471000000,15.0,0,00150001,2012-11-26,5326,-6.282389,53.310154,33453,1085,1,2012-11-26 21:14:31,0,21,3571
1853065,1353964530000000,15.0,0,00150001,2012-11-26,5326,-6.285453,53.309090,33453,1121,1,2012-11-26 21:15:30,0,21,3630
1853214,1353964710000000,15.0,0,00150001,2012-11-26,5326,-6.298163,53.301151,33453,1125,1,2012-11-26 21:18:30,0,21,3810
1853297,1353964811000000,15.0,0,00150001,2012-11-26,5326,-6.302838,53.298542,33453,1127,1,2012-11-26 21:20:11,0,21,3911
1853383,1353964911000000,15.0,0,00150001,2012-11-26,5326,-6.308400,53.296398,33453,1130,1,2012-11-26 21:21:51,0,21,4011
1853489,1353965032000000,15.0,0,00150001,2012-11-26,5326,-6.309677,53.293354,33453,1140,1,2012-11-26 21:23:52,0,21,4132
1853623,1353965191000000,15.0,0,00150001,2012-11-26,5326,-6.313388,53.283447,33453,1143,1,2012-11-26 21:26:31,0,21,4291
1853660,1353965232000000,15.0,0,00150001,2012-11-26,5326,-6.315106,53.282402,33453,1144,1,2012-11-26 21:27:12,0,21,4332
1853744,1353965332000000,15.0,0,00150001,2012-11-26,5326,-6.318233,53.281784,33453,1145,1,2012-11-26 21:28:52,0,21,4432
1853812,1353965414000000,15.0,0,00150001,2012-11-26,5326,-6.318799,53.279179,33453,4869,1,2012-11-26 21:30:14,0,21,4514
1853878,1353965491000000,15.0,0,00150001,2012-11-26,5326,-6.330113,53.276764,33453,4870,1,2012-11-26 21:31:31,0,21,4591
1853909,1353965530000000,15.0,0,00150001,2012-11-26,5326,-6.331184,53.276196,33453,3007,1,2012-11-26 21:32:10,0,21,4630

### Saving newdf to a dataframe

In [14]:
newdf.to_csv("bus_data/cleaned_data/line15_00150001.csv")