In [3]:
import pandas as pd
import os


import matplotlib.pyplot as plt
%matplotlib inline

### Static Variables

In [4]:
line = "46A"

### Functions

In [5]:
def read_schedule(schedule_file):
    schedule = pd.read_csv(schedule_file, low_memory=False, encoding="ISO-8859-1")
    
    return schedule

In [6]:
def clean_schedule(schedule):
    
    # drop null values
    schedule.dropna(0, inplace=True)
    
    # extract StopID
    schedule["StopID"] = schedule['stop_id'].apply(lambda x: x[-4:])
    
    # Convert StopIDs back to int
    schedule['StopID'] = schedule['StopID'].astype('int64')
    
    # Extracting LineID from trip_id
    schedule["LineID"] = schedule["trip_id"].str.extract('\-(.*?)\-')
    
    # Extracting direction from trip_id
    schedule["Direction"] = schedule['trip_id'].apply(lambda x: x[-1:])
    
    # Dropping non-major journeypatterns
    schedule = schedule[(schedule.Direction == "I") | (schedule.Direction == "O")]
    
    # Converting Direction to JourneyPatternID
    schedule["JourneyPatternID"] = schedule['Direction'].apply(lambda x: "1001" if x == "I" else "0001")
    schedule['JourneyPatternID'] = schedule['JourneyPatternID'].astype('int64')
    
    #     # dropping irrelevant columns
    #     for column in ['trip_id', 'stop_id', 'arrival_time', 'departure_time', 
    #                    'shape_dist_traveled', 'Direction', 'stop_sequence', 'stop_headsign']:
    #             schedule = schedule.drop(column, 1)
            
    # Renaming 'Long' to 'Lon'
    schedule = schedule.rename(columns={'Long': 'Lon'})
    
    return schedule

In [18]:
def read_file(filename):
    
    df = pd.read_csv(filename, low_memory=False)


#     df = pd.read_csv(filename, low_memory=False, header=None)
#     df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
#                   "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
#                   "AtStop", "HumanTime", "Day", "Hour", "JourneyGroup", "Runtime"]
    
    df['LineID'] = df['LineID'].astype('str')

    
    return df

In [8]:
def extract_pattern_order(df):
    
    # cutting stops that don't appear more than once
#     groups = df.groupby('StopID')
#     df = groups.filter(lambda x: len(x) > 1)
    
    # extracting stop order from mean time to reach the stop
    runtimes = df.groupby("StopID").Runtime.mean()
    order = runtimes.sort_values().to_frame()
    order.reset_index(level=0, inplace=True)
    order['Order'] = order.index
    
    # merging these with LineID and JourneyPatternID
    line_df = df[["StopID", "LineID", "JourneyPatternID"]].drop_duplicates("StopID")
    final_df = pd.merge(order, line_df, on='StopID')
    
    return final_df

In [9]:
def get_location(df):
    
    # Concat location data
    df['location'] = ""
    df['location'] = df['Lon'].astype(str) + "_" + df['Lat'].astype(str)
    
    # Extracting the most frequent locations for each stop
    groups = df.groupby('StopID')
    loc_df = groups['location'].agg(lambda x:x.value_counts().index[0]).to_frame()
    loc_df.reset_index(level=0, inplace=True)

    # Converting location back to float columns
    loc_df['Lon'], loc_df['Lat'] = loc_df['location'].str.split('_', 1).str
    loc_df['Lon'], loc_df['Lat'] = loc_df['Lon'].astype('float64'), loc_df['Lat'].astype('float64')

    # drop concatenated colum 'location'
    loc_df = loc_df.drop('location', axis=1)
    return loc_df

In [10]:
def extract_line_order(path):
    df = read_file(path)
    
#     locations = get_location(df)
    
    master = pd.DataFrame()
    patterns = df['JourneyPatternID'].unique()
        
    for pattern in patterns:
        new_df = df[df.JourneyPatternID == pattern]
        new_df = extract_pattern_order(new_df)
        
        master = pd.concat([master, new_df], ignore_index=True)
#     master = pd.merge(master, locations, on='StopID')  
    
    return master

In [11]:
def main(directory):
    master = pd.DataFrame()
    
    for readfile in os.listdir(directory):
        if readfile.endswith(".csv"): 
            print("Opening line", readfile)
            path = directory + "/" + readfile
            line_df = extract_line_order(path)
            master = pd.concat([master, line_df], ignore_index=True)
    print("Finished!")
    
    master = master.drop_duplicates()
    
    return master

### Testing Functions

In [12]:
# dir_path = "bus_data/clean_location_data/"

# df = main(dir_path)

# df.to_csv("bus_data/static_data2/route_stops_all.csv")

In [23]:
line = '15'

df = read_file("bus_data/clean_data_rough/" + line + ".csv")

In [24]:
df_1 = df[df.JourneyPatternID == 1]

In [25]:
# extracting stop order from mean time to reach the stop
runtimes = df_1.groupby("StopID").Runtime.mean()
order = runtimes.sort_values().to_frame()
# order.reset_index(level=0, inplace=True)
# order['Order'] = order.index

# # merging these with LineID and JourneyPatternID
# line_df = df[["StopID", "LineID", "JourneyPatternID"]].drop_duplicates("StopID")
# final_df = pd.merge(order, line_df, on='StopID')

# return final_df

In [26]:
order

            Runtime
StopID
6318       0.941985
6319     159.966214
7246     184.777260
6320     261.104751
4594     346.595810
4595     436.844461
4596     478.071462
4563     549.546701
1218     625.869832
1270     691.943562
1272     752.352660
1273     800.298462
1274     882.946995
1275     968.871200
1276     969.296534
1277    1023.952520
1219    1063.818719
1220    1122.488537
1221    1181.738585
664     1254.568945
665     1303.960879
666     1339.383824
667     1380.825389
668     1453.403992
614     1526.907920
615     1575.471188
616     1635.600096
617     1685.403966
618     1729.082858
619     1818.417294
...             ...
1018    3183.788953
1019    3206.138945
1020    3227.007733
1076    3279.352729
1077    3346.989274
1078    3402.042141
1079    3474.866737
1080    3488.068764
1081    3527.023073
1082    3611.400557
1083    3621.992172
1085    3677.861449
1121    3746.585360
1122    3784.315061
1123    3816.280936
1124    3832.526784
1125    3896.691902
1127    3984.156243
1130    4060.778312
1140    4181.087449
1141    4243.451019
1142    4280.239498
1144    4363.491776
1143    4370.403898
1145    4436.070500
4869    4511.227174
3007    4639.466863
4870    4687.817189
6283    4711.788725
6282    5063.809776

[72 rows x 1 columns]

In [ ]:
	StopID	stop_sequence
89016	6318	1
89017	6319	2
89018	7246	3
89019	6320	4
89020	4594	5
89021	4595	6
89022	4596	7
89023	4563	8
89024	1218	9
89025	1270	10
89026	1272	11
89027	1273	12
89028	1274	13
89029	1275	14
89030	1276	15
89031	1277	16
89032	1219	17
89033	1220	18
89034	1221	19

In [53]:
line_15 = df[(df.LineID == '15') & (df.JourneyPatternID == 1)]

# line_15 = line_15[["StopID", "Order"]]
line_15

      StopID      Runtime  Order LineID  JourneyPatternID
1547     299     0.000000      0     15                 1
1548    6335     0.000000      1     15                 1
1549    6326     0.000000      2     15                 1
1550     497     0.000000      3     15                 1
1551    4887     0.000000      4     15                 1
1552    4886     0.000000      5     15                 1
1553    1164     0.000000      6     15                 1
1554    1155     0.000000      7     15                 1
1555     664     0.000000      8     15                 1
1556    6318     4.588441      9     15                 1
1557    6319   167.360239     10     15                 1
1558    7246   204.452549     11     15                 1
1559    4594   359.946022     12     15                 1
1560    4595   472.120613     13     15                 1
1561    4596   516.722381     14     15                 1
1562    1166   543.000000     15     15                 1
1563    4563   555.164624     16     15                 1
1564    1152   598.000000     17     15                 1
1565    1154   622.500000     18     15                 1
1566    1218   669.678986     19     15                 1
1567    1270   711.872117     20     15                 1
1568    1272   764.622169     21     15                 1
1569    1273   820.678640     22     15                 1
1570    1274   907.255141     23     15                 1
1571    1275  1028.199129     24     15                 1
1572    6282  1044.144660     25     15                 1
1573    1277  1051.665306     26     15                 1
1574    1276  1082.507154     27     15                 1
1575    1219  1136.858073     28     15                 1
1576    1220  1166.437718     29     15                 1
...      ...          ...    ...    ...               ...
1600    1018  3232.244973     53     15                 1
1601    1076  3283.600548     54     15                 1
1602    1020  3291.506787     55     15                 1
1603    1019  3304.236865     56     15                 1
1604    1077  3351.897436     57     15                 1
1605    1078  3474.987402     58     15                 1
1606    1079  3504.517183     59     15                 1
1607    1080  3536.527940     60     15                 1
1608    1081  3605.885038     61     15                 1
1609    1082  3683.197331     62     15                 1
1610    1083  3696.249540     63     15                 1
1611    1085  3738.790268     64     15                 1
1612    1121  3815.114811     65     15                 1
1613    1122  3943.750000     66     15                 1
1614    1125  3960.740654     67     15                 1
1615    1123  3998.817259     68     15                 1
1616    1124  4030.106579     69     15                 1
1617    1127  4079.919983     70     15                 1
1618    1130  4169.536022     71     15                 1
1619    1140  4284.046423     72     15                 1
1620    1141  4376.558278     73     15                 1
1621    1142  4424.865385     74     15                 1
1622    1143  4473.806192     75     15                 1
1623    1145  4492.616587     76     15                 1
1624    1144  4526.183824     77     15                 1
1625    4869  4676.470481     78     15                 1
1626    3007  4712.423642     79     15                 1
1627    4870  4749.979691     80     15                 1
1628    6283  4764.862069     81     15                 1
1629    7245  6803.500000     82     15                 1

[83 rows x 5 columns]

In [ ]:
schedule = pd.read_csv("bus_data/dublinbus_scheduledData2013csv.csv", low_memory=False, encoding="ISO-8859-1")

In [52]:
line_15.drop_duplicates().shape

(83, 5)

In [ ]:
schedule_15 = schedule[schedule]