In [1]:
import pandas as pd
import os

import matplotlib.pyplot as plt
%matplotlib inline

### Static Variables

In [2]:
line = "15"

### Extracting Data

In [3]:
df = pd.read_csv("bus_data/line_data/" + line + ".csv", low_memory=False, header=None)
df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
              "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
              "AtStop", "HumanTime", "Day", "Hour", "Runtime"]

#convert StopID to string

df['StopID'] = df['StopID'].astype('str')


df.head()

,Timestamp,LineID,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,Runtime
0,1352181644000000,15,1,2012-11-06,5891,-6.153783,53.402687,33553,6319,1,2012-11-06 06:00:44,1,6,0
1,1352181825000000,15,1,2012-11-06,5891,-6.163521,53.399288,33553,4594,1,2012-11-06 06:03:45,1,6,181
2,1352181904000000,15,1,2012-11-06,5891,-6.173066,53.402138,33553,4595,1,2012-11-06 06:05:04,1,6,260
3,1352181908000000,15,1001,2012-11-06,5781,-6.310957,53.286865,33469,1153,1,2012-11-06 06:05:08,1,6,0
4,1352181944000000,15,1,2012-11-06,5891,-6.177130,53.402370,33553,4596,1,2012-11-06 06:05:44,1,6,300

In [4]:
df.drop_duplicates(subset=["LineID", "JourneyPatternID"], inplace='True')
journey = df[['LineID', 'JourneyPatternID']]

In [5]:
journey.head()

       LineID  JourneyPatternID
0          15                 1
3          15              1001
5403       15              1002
10936      15                 2

In [6]:
master = pd.DataFrame()

master = pd.concat([master, journey], ignore_index=True)

In [7]:
master = pd.concat([master, journey], ignore_index=True)
master

   LineID  JourneyPatternID
0      15                 1
1      15              1001
2      15              1002
3      15                 2
4      15                 1
5      15              1001
6      15              1002
7      15                 2

In [8]:
# shows how to concatenate dataframes ignoring index
# result = pd.concat([df1, df4], ignore_index=True)

In [9]:
def get_static(line_id, master):
        
    # read data from csv
    df = pd.read_csv("bus_data/line_data/" + line_id + ".csv", low_memory=False, header=None)
    df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
                  "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
                  "AtStop", "HumanTime", "Day", "Hour", "Runtime"]

    # convert StopID to string
    df['StopID'] = df['StopID'].astype('str')
    
    # drop non-static info & duplicates
    df.drop_duplicates(subset=["LineID", "JourneyPatternID"], inplace='True')
    df = df[['LineID', 'JourneyPatternID']]
    
    return pd.concat([master, df], ignore_index=True)

In [10]:
def main(directory):
    master = pd.DataFrame()
    
    for readfile in os.listdir(directory):
        line_id = readfile[:-4]
        if readfile.endswith(".csv"): 
            print("Opening line", line_id)
            readfile = directory + "/" + readfile
            master = get_static(line_id, master)
    print("Finished!")
    
    master = master.drop_duplicates()
    
    return master

In [11]:
master = main('bus_data/line_data')

Opening line 1
Opening line 102
Opening line 104
Opening line 11
Opening line 111
Opening line 114
Opening line 116
Opening line 118
Opening line 120
Opening line 122
Opening line 123
Opening line 13
Opening line 130
Opening line 14
Opening line 140
Opening line 142
Opening line 145
Opening line 14C
Opening line 15
Opening line 150
Opening line 151
Opening line 15A
Opening line 15B
Opening line 16
Opening line 161
Opening line 16C
Opening line 17
Opening line 17A
Opening line 18
Opening line 184
Opening line 185
Opening line 220
Opening line 236
Opening line 238
Opening line 239
Opening line 25
Opening line 25A
Opening line 25B
Opening line 25X
Opening line 26
Opening line 27
Opening line 270
Opening line 27A
Opening line 27B
Opening line 27X
Opening line 29A
Opening line 31
Opening line 31A
Opening line 31B
Opening line 32
Opening line 32A
Opening line 32B
Opening line 32X
Opening line 33
Opening line 33A
Opening line 33B
Opening line 33X
Opening line 37
Opening line 38
Opening line 38A
Opening line 38B
Opening line 39
Opening line 39A
Opening line 4
Opening line 40
Opening line 40B
Opening line 40D
Opening line 41
Opening line 41A
Opening line 41B
Opening line 41C
Opening line 41X
Opening line 42
Opening line 43
Opening line 44
Opening line 44B
Opening line 45A
Opening line 46A
Opening line 46E
Opening line 47
Opening line 49
Opening line 51D
Opening line 51X
Opening line 53
Opening line 54A
Opening line 56A
Opening line 59
Opening line 61
Opening line 63
Opening line 65
Opening line 65B
Opening line 66
Opening line 66A
Opening line 66B
Opening line 66X
Opening line 67
Opening line 67X
Opening line 68
Opening line 68A
Opening line 69
Opening line 69X
Opening line 7
Opening line 70
Opening line 747
Opening line 75
Opening line 76
Opening line 76A
Opening line 77A
Opening line 79
Opening line 79A
Opening line 7B
Opening line 7D
Opening line 8
Opening line 83
Opening line 83A
Opening line 84
Opening line 84A
Opening line 84X
Opening line 9
Opening line OL77
Opening line PP07
Finished!

In [12]:
master.to_csv("bus_data/static_data/routes_all.csv")