In [1]:
import pandas as pd
import os


import matplotlib.pyplot as plt
%matplotlib inline

### Static Variables

In [2]:
line = "46A"

### Functions

In [3]:
# def read_file(csv_path):
#     # Reading df from file
#     df = pd.read_csv(csv_path, low_memory=False, header=None)
#     df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
#                   "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
#                   "AtStop", "HumanTime", "Day", "Hour", "Runtime"]

#     #convert StopID to string
#     df['StopID'] = df['StopID'].astype('str')
    
#     return df

In [35]:
def read_file(filename):

    df = pd.read_csv(filename, low_memory=False, header=None)
    df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
                  "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
                  "AtStop", "HumanTime", "Day", "Hour", "JourneyGroup", "Runtime"]
    
    df['LineID'] = df['LineID'].astype('str')

    
    return df

In [36]:
def extract_pattern_order(df):
    
    # cutting stops that don't appear more than once
#     groups = df.groupby('StopID')
#     df = groups.filter(lambda x: len(x) > 1)
    
    # extracting stop order from mean time to reach the stop
    runtimes = df.groupby("StopID").Runtime.mean()
    order = runtimes.sort_values().to_frame()
    order.reset_index(level=0, inplace=True)
    order['Order'] = order.index
    
    # merging these with LineID and JourneyPatternID
    line_df = df[["StopID", "LineID", "JourneyPatternID"]].drop_duplicates("StopID")
    final_df = pd.merge(order, line_df, on='StopID')
    
    return final_df

In [37]:
def get_location(df):
    
    # Concat location data
    df['location'] = ""
    df['location'] = df['Lon'].astype(str) + "_" + df['Lat'].astype(str)
    
    # Extracting the most frequent locations for each stop
    groups = df.groupby('StopID')
    loc_df = groups['location'].agg(lambda x:x.value_counts().index[0]).to_frame()
    loc_df.reset_index(level=0, inplace=True)

    # Converting location back to float columns
    loc_df['Lon'], loc_df['Lat'] = loc_df['location'].str.split('_', 1).str
    loc_df['Lon'], loc_df['Lat'] = loc_df['Lon'].astype('float64'), loc_df['Lat'].astype('float64')

    # drop concatenated colum 'location'
    loc_df = loc_df.drop('location', axis=1)
    return loc_df

In [38]:
def extract_line_order(path):
    df = read_file(path)
    
#     locations = get_location(df)
    
    master = pd.DataFrame()
    patterns = df['JourneyPatternID'].unique()
        
    for pattern in patterns:
        new_df = df[df.JourneyPatternID == pattern]
        new_df = extract_pattern_order(new_df)
        
        master = pd.concat([master, new_df], ignore_index=True)
#     master = pd.merge(master, locations, on='StopID')  
    
    return master

In [39]:
def main(directory):
    master = pd.DataFrame()
    
    for readfile in os.listdir(directory):
        if readfile.endswith(".csv"): 
            print("Opening line", readfile)
            path = directory + "/" + readfile
            line_df = extract_line_order(path)
            master = pd.concat([master, line_df], ignore_index=True)
    print("Finished!")
    
    master = master.drop_duplicates()
    
    return master

### Testing Functions

In [54]:
# dir_path = "bus_data/clean_location_data/"

# df = main(dir_path)

# df.to_csv("bus_data/static_data2/route_stops_all.csv")

Opening line 1.csv
Opening line 104.csv
Opening line 11.csv
Opening line 111.csv
Opening line 114.csv
Opening line 116.csv
Opening line 118.csv
Opening line 120.csv
Opening line 123.csv
Opening line 13.csv
Opening line 130.csv
Opening line 14.csv
Opening line 140.csv
Opening line 142.csv
Opening line 145.csv
Opening line 14C.csv
Opening line 15.csv
Opening line 150.csv
Opening line 151.csv
Opening line 15A.csv
Opening line 16.csv
Opening line 161.csv
Opening line 16C.csv
Opening line 17A.csv
Opening line 184.csv
Opening line 185.csv
Opening line 220.csv
Opening line 236.csv
Opening line 239.csv
Opening line 25.csv
Opening line 25A.csv
Opening line 25X.csv
Opening line 26.csv
Opening line 27.csv
Opening line 270.csv
Opening line 27A.csv
Opening line 27X.csv
Opening line 29A.csv
Opening line 31.csv
Opening line 31A.csv
Opening line 31B.csv
Opening line 32.csv
Opening line 32A.csv
Opening line 32B.csv
Opening line 32X.csv
Opening line 33.csv
Opening line 33A.csv
Opening line 33B.csv
Opening line 33X.csv
Opening line 37.csv
Opening line 38.csv
Opening line 38A.csv
Opening line 38B.csv
Opening line 39.csv
Opening line 40.csv
Opening line 40B.csv
Opening line 40D.csv
Opening line 41.csv
Opening line 41A.csv
Opening line 41B.csv
Opening line 41X.csv
Opening line 42.csv
Opening line 43.csv
Opening line 44.csv
Opening line 44B.csv
Opening line 45A.csv
Opening line 46A.csv
Opening line 46E.csv
Opening line 47.csv
Opening line 49.csv
Opening line 51D.csv
Opening line 51X.csv
Opening line 53.csv
Opening line 54A.csv
Opening line 56A.csv
Opening line 59.csv
Opening line 61.csv
Opening line 65.csv
Opening line 65B.csv
Opening line 66.csv
Opening line 66B.csv
Opening line 66X.csv
Opening line 67.csv
Opening line 67X.csv
Opening line 68.csv
Opening line 68A.csv
Opening line 69.csv
Opening line 69X.csv
Opening line 7.csv
Opening line 70.csv
Opening line 747.csv
Opening line 75.csv
Opening line 76.csv
Opening line 76A.csv
Opening line 77A.csv
Opening line 7B.csv
Opening line 7D.csv
Opening line 8.csv
Opening line 83.csv
Opening line 83A.csv
Opening line 84.csv
Opening line 84A.csv
Opening line 84X.csv
Opening line 9.csv
Opening line PP07.csv
Finished!

In [55]:
line = '15'

df = read_file("bus_data/clean_location_data/" + line + ".csv")

In [57]:
df_1 = df[df.JourneyPatternID == 1]

In [58]:
# extracting stop order from mean time to reach the stop
runtimes = df_1.groupby("StopID").Runtime.mean()
order = runtimes.sort_values().to_frame()
# order.reset_index(level=0, inplace=True)
# order['Order'] = order.index

# # merging these with LineID and JourneyPatternID
# line_df = df[["StopID", "LineID", "JourneyPatternID"]].drop_duplicates("StopID")
# final_df = pd.merge(order, line_df, on='StopID')

# return final_df

In [59]:
order

            Runtime
StopID
299        0.000000
6335       0.000000
6326       0.000000
497        0.000000
4887       0.000000
4886       0.000000
1164       0.000000
1155       0.000000
664        0.000000
6318       4.588441
6319     167.360239
7246     204.452549
4594     359.946022
4595     472.120613
4596     516.722381
1166     543.000000
4563     555.164624
1152     598.000000
1154     622.500000
1218     669.678986
1270     711.872117
1272     764.622169
1273     820.678640
1274     907.255141
1275    1028.199129
6282    1044.144660
1277    1051.665306
1276    1082.507154
1219    1136.858073
1220    1166.437718
...             ...
1018    3232.244973
1076    3283.600548
1020    3291.506787
1019    3304.236865
1077    3351.897436
1078    3474.987402
1079    3504.517183
1080    3536.527940
1081    3605.885038
1082    3683.197331
1083    3696.249540
1085    3738.790268
1121    3815.114811
1122    3943.750000
1125    3960.740654
1123    3998.817259
1124    4030.106579
1127    4079.919983
1130    4169.536022
1140    4284.046423
1141    4376.558278
1142    4424.865385
1143    4473.806192
1145    4492.616587
1144    4526.183824
4869    4676.470481
3007    4712.423642
4870    4749.979691
6283    4764.862069
7245    6803.500000

[83 rows x 1 columns]

In [ ]:
	StopID	stop_sequence
89016	6318	1
89017	6319	2
89018	7246	3
89019	6320	4
89020	4594	5
89021	4595	6
89022	4596	7
89023	4563	8
89024	1218	9
89025	1270	10
89026	1272	11
89027	1273	12
89028	1274	13
89029	1275	14
89030	1276	15
89031	1277	16
89032	1219	17
89033	1220	18
89034	1221	19

In [53]:
line_15 = df[(df.LineID == '15') & (df.JourneyPatternID == 1)]

# line_15 = line_15[["StopID", "Order"]]
line_15

      StopID      Runtime  Order LineID  JourneyPatternID
1547     299     0.000000      0     15                 1
1548    6335     0.000000      1     15                 1
1549    6326     0.000000      2     15                 1
1550     497     0.000000      3     15                 1
1551    4887     0.000000      4     15                 1
1552    4886     0.000000      5     15                 1
1553    1164     0.000000      6     15                 1
1554    1155     0.000000      7     15                 1
1555     664     0.000000      8     15                 1
1556    6318     4.588441      9     15                 1
1557    6319   167.360239     10     15                 1
1558    7246   204.452549     11     15                 1
1559    4594   359.946022     12     15                 1
1560    4595   472.120613     13     15                 1
1561    4596   516.722381     14     15                 1
1562    1166   543.000000     15     15                 1
1563    4563   555.164624     16     15                 1
1564    1152   598.000000     17     15                 1
1565    1154   622.500000     18     15                 1
1566    1218   669.678986     19     15                 1
1567    1270   711.872117     20     15                 1
1568    1272   764.622169     21     15                 1
1569    1273   820.678640     22     15                 1
1570    1274   907.255141     23     15                 1
1571    1275  1028.199129     24     15                 1
1572    6282  1044.144660     25     15                 1
1573    1277  1051.665306     26     15                 1
1574    1276  1082.507154     27     15                 1
1575    1219  1136.858073     28     15                 1
1576    1220  1166.437718     29     15                 1
...      ...          ...    ...    ...               ...
1600    1018  3232.244973     53     15                 1
1601    1076  3283.600548     54     15                 1
1602    1020  3291.506787     55     15                 1
1603    1019  3304.236865     56     15                 1
1604    1077  3351.897436     57     15                 1
1605    1078  3474.987402     58     15                 1
1606    1079  3504.517183     59     15                 1
1607    1080  3536.527940     60     15                 1
1608    1081  3605.885038     61     15                 1
1609    1082  3683.197331     62     15                 1
1610    1083  3696.249540     63     15                 1
1611    1085  3738.790268     64     15                 1
1612    1121  3815.114811     65     15                 1
1613    1122  3943.750000     66     15                 1
1614    1125  3960.740654     67     15                 1
1615    1123  3998.817259     68     15                 1
1616    1124  4030.106579     69     15                 1
1617    1127  4079.919983     70     15                 1
1618    1130  4169.536022     71     15                 1
1619    1140  4284.046423     72     15                 1
1620    1141  4376.558278     73     15                 1
1621    1142  4424.865385     74     15                 1
1622    1143  4473.806192     75     15                 1
1623    1145  4492.616587     76     15                 1
1624    1144  4526.183824     77     15                 1
1625    4869  4676.470481     78     15                 1
1626    3007  4712.423642     79     15                 1
1627    4870  4749.979691     80     15                 1
1628    6283  4764.862069     81     15                 1
1629    7245  6803.500000     82     15                 1

[83 rows x 5 columns]

In [ ]:
schedule = pd.read_csv("bus_data/dublinbus_scheduledData2013csv.csv", low_memory=False, encoding="ISO-8859-1")

In [52]:
line_15.drop_duplicates().shape

(83, 5)

In [ ]:
schedule_15 = schedule[schedule]