## Reading data

In [1]:
# Imports.
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Read csv file into a dataframe.
df = pd.read_csv('00150001.rain.csv')
df.head()

      Unnamed: 0  day  duration  hour  weekday  rain
0              0    1       105     6        1   0.0
1              1    1        92     6        1   0.0
2              2    1        93     6        1   0.0
3              3    1        94     6        1   0.0
4              4    1       148     6        1   0.0
5              5    1        96     6        1   0.0
6              6    1       108     6        1   0.0
7              7    1       107     7        1   0.0
8              8    1       107     7        1   0.0
9              9    1       103     7        1   0.0
10            10    1       106     7        1   0.0
11            11    1       117     7        1   0.0
12            12    1       112     7        1   0.0
13            13    1       115     8        1   0.0
14            14    1       108     8        1   0.0
15            15    1       110     8        1   0.0
16            16    1       109     8        1   0.0
17            17    1       106     8        1   0.0
18            18    1       104     8        1   0.0
19            19    1       106     9        1   0.0
20            20    1       107     9        1   0.0
21            21    1       103     9        1   0.0
22            22    1       107     9        1   0.0
23            23    1        94     9        1   0.0
24            24    1        94     9        1   0.0
25            25    1        96    10        1   0.0
26            26    1       100    10        1   0.0
27            27    1       100    10        1   0.0
28            28    1        97    10        1   0.0
29            29    1        96    10        1   0.0
...          ...  ...       ...   ...      ...   ...
4323        4323    3        98     6        1   0.0
4324        4324    3        99     6        1   0.0
4325        4325    3        96     6        1   0.0
4326        4326    3        92     6        1   0.0
4327        4327    3        95     6        1   0.0
4328        4328    3       102     6        1   0.0
4329        4329    3       106     7        1   0.2
4330        4330    3       100     7        1   0.2
4331        4331    3        97     7        1   0.2
4332        4332    3       107     7        1   0.2
4333        4333    3       116     7        1   0.2
4334        4334    3       119     7        1   0.2
4335        4335    3       112     8        1   0.3
4336        4336    3       110     8        1   0.3
4337        4337    3       109     8        1   0.3
4338        4338    3       109     8        1   0.3
4339        4339    3       104     8        1   0.3
4340        4340    3        97     9        1   0.0
4341        4341    3       104     9        1   0.0
4342        4342    3       104     9        1   0.0
4343        4343    3       105     9        1   0.0
4344        4344    3        92     9        1   0.0
4345        4345    3       101     9        1   0.0
4346        4346    3        99    10        1   0.0
4347        4347    3        85    10        1   0.0
4348        4348    3        78    10        1   0.0
4349        4349    3        68    10        1   0.0
4350        4350    3        56    10        1   0.0
4351        4351    3        46    10        1   0.0
4352        4352    3        36    11        1   0.0

[4353 rows x 6 columns]

In [3]:
df = df.drop('Unnamed: 0',1)

In [4]:
df.duration.mean()

99.937284631288762

In [5]:
# Print the feature types in our dataset.
df.dtypes

day           int64
duration      int64
hour          int64
weekday       int64
rain        float64
dtype: object

In [ ]:
## Understanding data

In [6]:
# Look at correlations for all the continuous features.
df[['day', 'duration', 'hour', 'weekday','rain']].corr()

               day  duration      hour   weekday      rain
day       1.000000 -0.065471  0.055742 -0.692202  0.028806
duration -0.065471  1.000000 -0.158696  0.109236  0.046049
hour      0.055742 -0.158696  1.000000 -0.085978 -0.007791
weekday  -0.692202  0.109236 -0.085978  1.000000  0.056339
rain      0.028806  0.046049 -0.007791  0.056339  1.000000

In [7]:
# The correlation for a given pair of features
df[['rain', 'duration']].corr().as_matrix()[0,1]

0.046048552336026942

# Linear regression with package <span style="color:red">statsmodels</span>

## Simple linear regression (one descriptive feature)
### Training a model

## Multiple linear regression (using more than one feature)
### Training the model

In [8]:
#Import statsmodels package for training a linear regression model.
import statsmodels.formula.api as sm
# Train aka fit, a model using all continuous features.
lm = sm.ols(formula="duration ~  day + hour + weekday + rain", data=df).fit()

# Print the weights learned for each feature.
print(lm.params)

Intercept    101.880502
day            0.087984
hour          -0.378734
weekday        3.281907
rain           1.449389
dtype: float64

### Evaluating the model on training data (p-values, R-squared)

In [9]:
# Print the table with feature weights, statistical confidence (p-values, confidence intervals) 
# and goodness of fit metrics (e.g., R-squared, Log-likelihood, AIB, BIC).
# Only feature Size is found to be statistically significant (p-value is smaller than 0.05, p-value=0).
# If the 95% confidence interval includes zero, the p-value for that coefficient will be greater than 0.05.

# The most common metric to evaluate the overall fit of a linear model is the R-squared value. 
# R-squared is the reduction in error over the null model which simply predicts 
# the mean target feature value in the given dataset (e.g., in our dataset the average RentalPrice is 455.5, 
# the null model is RentalPrice = 455.5, which only has an intercept, all other weights are zero). 

# R-squared is also interpreted as the proportion of variance in the observed data 
# that is explained by the model. R-squared is between 0 and 1, and higher is better 
# because it means that more variance is explained by the model. 
# We can use R-squared to compare different models, e.g., the simple regression model with only feature Size has 
# R-squared of 0.943, while including the other continuous features leads to a model with higher R-squared of 0.955.
# This looks like a better model looking at the R-squared measure, but this could be due to 
# over-fitting the training data. We also need to make predictions on out-of-sample, also called test data,
# and then compare the results to make sure the model generalises to new data and does not only 
# capture insignificant details in the sample training data, a problem called over-fitting of the training data.
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               duration   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.035
Method:                 Least Squares   F-statistic:                     40.64
Date:                Sun, 25 Jun 2017   Prob (F-statistic):           1.74e-33
Time:                        20:06:20   Log-Likelihood:                -16789.
No. Observations:                4353   AIC:                         3.359e+04
Df Residuals:                    4348   BIC:                         3.362e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    101.8805      1.008    101.114      0.000      99.905     103.856
day            0.0880      0.137      0.644      0.519      -0.180       0.356
hour          -0.3787      0.038    -10.053      0.000      -0.453      -0.305
weekday        3.2819      0.660      4.972      0.000       1.988       4.576
rain           1.4494      0.561      2.581      0.010       0.349       2.550
==============================================================================
Omnibus:                     1467.040   Durbin-Watson:                   1.237
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            85053.711
Skew:                           0.792   Prob(JB):                         0.00
Kurtosis:                      24.597   Cond. No.                         96.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Evaluating the model on training and test data
Split the dataset into a training set and a test set. Fit the model on the training set, evaluate both on the training and the test set. Compare the prediction error on both sets.

In [10]:
df.head(10)

   day  duration  hour  weekday  rain
0    1       105     6        1   0.0
1    1        92     6        1   0.0
2    1        93     6        1   0.0
3    1        94     6        1   0.0
4    1       148     6        1   0.0
5    1        96     6        1   0.0
6    1       108     6        1   0.0
7    1       107     7        1   0.0
8    1       107     7        1   0.0
9    1       103     7        1   0.0

In [11]:
# Take the first 7 rows as training data
df_train = df[:7]
df_train

   day  duration  hour  weekday  rain
0    1       105     6        1   0.0
1    1        92     6        1   0.0
2    1        93     6        1   0.0
3    1        94     6        1   0.0
4    1       148     6        1   0.0
5    1        96     6        1   0.0
6    1       108     6        1   0.0

In [12]:
# Take the last 3 rows as test data
df_test = df[7:]
df_test

      day  duration  hour  weekday  rain
7       1       107     7        1   0.0
8       1       107     7        1   0.0
9       1       103     7        1   0.0
10      1       106     7        1   0.0
11      1       117     7        1   0.0
12      1       112     7        1   0.0
13      1       115     8        1   0.0
14      1       108     8        1   0.0
15      1       110     8        1   0.0
16      1       109     8        1   0.0
17      1       106     8        1   0.0
18      1       104     8        1   0.0
19      1       106     9        1   0.0
20      1       107     9        1   0.0
21      1       103     9        1   0.0
22      1       107     9        1   0.0
23      1        94     9        1   0.0
24      1        94     9        1   0.0
25      1        96    10        1   0.0
26      1       100    10        1   0.0
27      1       100    10        1   0.0
28      1        97    10        1   0.0
29      1        96    10        1   0.0
30      1       102    10        1   0.0
31      1        94    11        1   0.0
32      1        97    11        1   0.0
33      1        97    11        1   0.0
34      1        94    11        1   0.0
35      1       100    11        1   0.0
36      1       102    11        1   0.0
...   ...       ...   ...      ...   ...
4323    3        98     6        1   0.0
4324    3        99     6        1   0.0
4325    3        96     6        1   0.0
4326    3        92     6        1   0.0
4327    3        95     6        1   0.0
4328    3       102     6        1   0.0
4329    3       106     7        1   0.2
4330    3       100     7        1   0.2
4331    3        97     7        1   0.2
4332    3       107     7        1   0.2
4333    3       116     7        1   0.2
4334    3       119     7        1   0.2
4335    3       112     8        1   0.3
4336    3       110     8        1   0.3
4337    3       109     8        1   0.3
4338    3       109     8        1   0.3
4339    3       104     8        1   0.3
4340    3        97     9        1   0.0
4341    3       104     9        1   0.0
4342    3       104     9        1   0.0
4343    3       105     9        1   0.0
4344    3        92     9        1   0.0
4345    3       101     9        1   0.0
4346    3        99    10        1   0.0
4347    3        85    10        1   0.0
4348    3        78    10        1   0.0
4349    3        68    10        1   0.0
4350    3        56    10        1   0.0
4351    3        46    10        1   0.0
4352    3        36    11        1   0.0

[4346 rows x 5 columns]

## Training on df_train

In [14]:
# Train aka fit, a model using all continuous features.
lm = sm.ols(formula="duration ~  day + hour + weekday + rain", data=df_train).fit()

# Print the weights learned for each feature.
print(lm.params)

Intercept     2.695971
day           2.695971
hour         16.175824
weekday       2.695971
rain          0.000000
dtype: float64

In [15]:
# Print the detailed metrics for the trained model.
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               duration   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                       inf
Date:                Sun, 25 Jun 2017   Prob (F-statistic):                nan
Time:                        20:07:25   Log-Likelihood:                -30.323
No. Observations:                   7   AIC:                             62.65
Df Residuals:                       6   BIC:                             62.59
Df Model:                           0
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.6960      0.193     13.988      0.000       2.224       3.168
day            2.6960      0.193     13.988      0.000       2.224       3.168
hour          16.1758      1.156     13.988      0.000      13.346      19.005
weekday        2.6960      0.193     13.988      0.000       2.224       3.168
rain                0          0        nan        nan           0           0
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.501
Prob(Omnibus):                    nan   Jarque-Bera (JB):                3.698
Skew:                           1.660   Prob(JB):                        0.157
Kurtosis:                       4.286   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\eogha\Anaconda3\envs\comp47350\lib\site-packages\statsmodels\stats\stattools.py:72: ValueWarning: omni_normtest is not valid with less than 8 observations; 7 samples were given.
  "samples were given." % int(n), ValueWarning)
C:\Users\eogha\Anaconda3\envs\comp47350\lib\site-packages\statsmodels\regression\linear_model.py:1471: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
C:\Users\eogha\Anaconda3\envs\comp47350\lib\site-packages\statsmodels\regression\linear_model.py:1396: RuntimeWarning: divide by zero encountered in double_scalars
  return self.ess/self.df_model
C:\Users\eogha\Anaconda3\envs\comp47350\lib\site-packages\statsmodels\base\model.py:1036: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
C:\Users\eogha\Anaconda3\envs\comp47350\lib\site-packages\scipy\stats\_distn_infrastructure.py:875: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\eogha\Anaconda3\envs\comp47350\lib\site-packages\scipy\stats\_distn_infrastructure.py:875: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\eogha\Anaconda3\envs\comp47350\lib\site-packages\scipy\stats\_distn_infrastructure.py:1814: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

## Testing on df_train

In [16]:
lm.predict(df_train)

0    105.142857
1    105.142857
2    105.142857
3    105.142857
4    105.142857
5    105.142857
6    105.142857
dtype: float64

In [41]:
predict_df_train = pd.DataFrame({'actual': df_train.RentalPrice, 'predicted': lm.predict(df_train)})
predict_df_train

   ActualPrice  PredictedPrice
0          320      330.884397
1          380      358.197918
2          400      410.417580
3          390      384.026604
4          385      396.060014
5          410      409.571539
6          480      475.841948

In [17]:
#Pair the actual and the predicted values
print("Actual - Predicted:\n", (df_train.duration - lm.predict(df_train)))
print("\n(Actual - Predicted) squared:\n", (df_train.duration - lm.predict(df_train))**2)

Actual - Predicted:
 0    -0.142857
1   -13.142857
2   -12.142857
3   -11.142857
4    42.857143
5    -9.142857
6     2.857143
dtype: float64

(Actual - Predicted) squared:
 0       0.020408
1     172.734694
2     147.448980
3     124.163265
4    1836.734694
5      83.591837
6       8.163265
dtype: float64

In [18]:
# Print the Mean Squared Error of the model on the training set
mse = ((df_train.duration - lm.predict(df_train))** 2).mean()
print("\nMean Squared Error:\n", mse)

Mean Squared Error:
 338.979591837

In [19]:
print("|Actual - Predicted|:\n", abs(df_train.duration - lm.predict(df_train)))

|Actual - Predicted|:
 0     0.142857
1    13.142857
2    12.142857
3    11.142857
4    42.857143
5     9.142857
6     2.857143
dtype: float64

In [20]:
# Print the Mean Absolute Error of the model on the training set
mae = abs(df_train.duration - lm.predict(df_train)).mean()
print("\nMean Absolute Error:\n", mae)

Mean Absolute Error:
 13.0612244898

## Testing on df_test

In [21]:
predict_df_test = pd.DataFrame({'actual': df_test.duration, 'predicted': lm.predict(df_test)})
predict_df_test

      actual   predicted
7        107  121.318681
8        107  121.318681
9        103  121.318681
10       106  121.318681
11       117  121.318681
12       112  121.318681
13       115  137.494505
14       108  137.494505
15       110  137.494505
16       109  137.494505
17       106  137.494505
18       104  137.494505
19       106  153.670330
20       107  153.670330
21       103  153.670330
22       107  153.670330
23        94  153.670330
24        94  153.670330
25        96  169.846154
26       100  169.846154
27       100  169.846154
28        97  169.846154
29        96  169.846154
30       102  169.846154
31        94  186.021978
32        97  186.021978
33        97  186.021978
34        94  186.021978
35       100  186.021978
36       102  186.021978
...      ...         ...
4323      98  110.534799
4324      99  110.534799
4325      96  110.534799
4326      92  110.534799
4327      95  110.534799
4328     102  110.534799
4329     106  126.710623
4330     100  126.710623
4331      97  126.710623
4332     107  126.710623
4333     116  126.710623
4334     119  126.710623
4335     112  142.886447
4336     110  142.886447
4337     109  142.886447
4338     109  142.886447
4339     104  142.886447
4340      97  159.062271
4341     104  159.062271
4342     104  159.062271
4343     105  159.062271
4344      92  159.062271
4345     101  159.062271
4346      99  175.238095
4347      85  175.238095
4348      78  175.238095
4349      68  175.238095
4350      56  175.238095
4351      46  175.238095
4352      36  191.413919

[4346 rows x 2 columns]

In [22]:
# Print the Mean Squared Error of the model on the test set
mse = ((df_test.duration - lm.predict(df_test))** 2).mean()
print("\nMean Squared Error:\n", mse)

Mean Squared Error:
 22141.4480997

In [23]:
# Print the Mean Absolute Error of the model on the test set
mae = abs(df_test.duration - lm.predict(df_test)).mean()
print("\nMean Absolute Error:\n", mae)

Mean Absolute Error:
 127.034058517

# Dummy Day Feature

In [25]:
# Tranform 'day' to binary continuous features, using the get_dummies() method
day_dummies = pd.get_dummies(df.day, prefix='day')

# concatenate the dummy variable columns onto the original DataFrame (axis=1 means columns)
df_new_dummies = pd.concat([df, day_dummies], axis=1)
df_new_dummies.head()

,day,duration,hour,weekday,rain,day_0,day_1,day_2,day_3,day_4,day_5,day_6
0,1,105,6,1,0.0,0,1,0,0,0,0,0
1,1,92,6,1,0.0,0,1,0,0,0,0,0
2,1,93,6,1,0.0,0,1,0,0,0,0,0
3,1,94,6,1,0.0,0,1,0,0,0,0,0
4,1,148,6,1,0.0,0,1,0,0,0,0,0

# Try it again with this