In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import statsmodels.formula.api as sm

import pprint as pp

%matplotlib inline

## Reading Data & Formatting

In [2]:
df = pd.read_csv("bus_data/cleaned_data/line15.csv", low_memory=False, header=None)
df.columns = ["Timestamp", "LineID", "Direction", "JourneyPatternID", "TimeFrame", 
              "VehicleJourneyID", "Operator", "Congestion", "Lon", "Lat", 
              "Delay", "BlockID", "VehicleID", "StopID", "AtStop"]

In [3]:
#Select all columns of type 'object'
object_columns = df.select_dtypes(['object']).columns

#Convert selected columns to type 'category'
for column in object_columns:
    df[column] = df[column].astype('category')
    
# Convert other features to categorical
for column in ['LineID', 'VehicleJourneyID', 'Congestion', 'BlockID', 'VehicleID', 'AtStop']:
    df[column] = df[column].astype('category')

In [4]:
# Add column for human readable time
df['HumanTime'] = pd.to_datetime(df['Timestamp'], unit='us')

In [5]:
# Add day of week column
df['Day'] = df['HumanTime'].dt.dayofweek

# Add hour of day column
df['Hour'] = df['HumanTime'].dt.hour

In [6]:
# Dropping irrelevant columns
df = df.drop('BlockID', 1)
df = df.drop('Operator', 1)
df = df.drop('Delay', 1)
df = df.drop('Congestion', 1)

## Separating journey patterns

In [7]:
patterns = df.JourneyPatternID.unique()

for pattern in patterns:
    print(pattern)

00150001
00151001
015A1001
015A0001
null
nan
015B0002
015B1001
015A0002
015B0001
015B1002
015B0003
00151002
00150002
029A1001
066A0001
00400001
056A1001

In [8]:
# Choosing only line 00150001, for a single day
# newdf = df[(df.JourneyPatternID == '00150001') & (df.TimeFrame == '2012-11-26')]
newdf = df[(df.JourneyPatternID == '00150001')]
newdf.shape

(1310971, 14)

In [9]:
# drop duplicate rows
newdf = newdf.drop_duplicates(["TimeFrame", "VehicleJourneyID", "StopID"])

# drop rows where bus isn't at stop
newdf = newdf[newdf.AtStop == 1]

In [10]:
# filter out routes which only have 1 stop. 
# This solves the problem of busses starting on the wrong side... 
newdf = newdf.groupby(['TimeFrame', 'VehicleJourneyID']).filter(lambda x: len(x) >= 3)

In [11]:
# Putting the first sightings of a vehiclejourneyid and timeframe combo timestamp into a dictionary

start_times = {}
start_loc = {}

# This gives you the first line anything has been seen by 
firstlines = newdf.groupby(["TimeFrame", "VehicleJourneyID"]).head(1)

# This iterates through them and assigns values to the dictionary
for index, row in firstlines.iterrows():
    start_times[row.TimeFrame, row.VehicleJourneyID] = {"time":row.Timestamp, "loc":[row.Lat, row.Lon]}

## Problem - Not all busses start in the same spot! 

(5148 2012-11-26) doesn't start on the north side. 

This is how it's supposed to be! The ones that do start on the northside are phony. 

No, because (5141, 2012-11-26) starts on the north side and hits a bunch of stops. Why do we have north south both doing the same journey?

5148 (starts in south) doesn't actually hit any stops except 1...
5150 is the same
5156
5158

Seems to be a pattern. The busses that start in the south don't actually service any stops. Why are they signalling that they're on the journeypattern?

### Adding Runtime column

This column will represent the number of seconds elapsed since the bus started along its journey

In [12]:
def add_runtime(row, mydict):
    # Takes a row and a dictionary of start times
    # returns time elapsed (seconds) between that row's timestamp and the start of the line
    start = mydict[row.TimeFrame, row.VehicleJourneyID]["time"]
    current = row.Timestamp
    return (current - start) // 1000000

# Applies this function to the newdf
newdf['Runtime'] = newdf.apply(lambda row: add_runtime(row, start_times),axis=1)

In [13]:
# test = newdf[newdf.]
test = newdf[(newdf.VehicleJourneyID == 5326) & (newdf.TimeFrame == '2012-11-26')]
test

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,Runtime
1849385,1353960900000000,15.0,0,00150001,2012-11-26,5326,-6.151467,53.402832,33453,6318,1,2012-11-26 20:15:00,0,20,0
1849929,1353961340000000,15.0,0,00150001,2012-11-26,5326,-6.162333,53.401539,33453,6320,1,2012-11-26 20:22:20,0,20,440
1850015,1353961420000000,15.0,0,00150001,2012-11-26,5326,-6.163521,53.399288,33453,4594,1,2012-11-26 20:23:40,0,20,520
1850187,1353961580000000,15.0,0,00150001,2012-11-26,5326,-6.181091,53.401699,33453,4563,1,2012-11-26 20:26:20,0,20,680
1850306,1353961699000000,15.0,0,00150001,2012-11-26,5326,-6.191873,53.392952,33453,1272,1,2012-11-26 20:28:19,0,20,799
1850385,1353961779000000,15.0,0,00150001,2012-11-26,5326,-6.195288,53.391106,33453,1273,1,2012-11-26 20:29:39,0,20,879
1850430,1353961820000000,15.0,0,00150001,2012-11-26,5326,-6.198000,53.388981,33453,1274,1,2012-11-26 20:30:20,0,20,920
1850759,1353962139000000,15.0,0,00150001,2012-11-26,5326,-6.227001,53.368011,33453,667,1,2012-11-26 20:35:39,0,20,1239
1850888,1353962260000000,15.0,0,00150001,2012-11-26,5326,-6.233564,53.363689,33453,614,1,2012-11-26 20:37:40,0,20,1360
1850976,1353962341000000,15.0,0,00150001,2012-11-26,5326,-6.239722,53.359943,33453,616,1,2012-11-26 20:39:01,0,20,1441
1851118,1353962478000000,15.0,0,00150001,2012-11-26,5326,-6.250530,53.350624,33453,4415,1,2012-11-26 20:41:18,0,20,1578
1851324,1353962679000000,15.0,0,00150001,2012-11-26,5326,-6.257062,53.346302,33453,5190,1,2012-11-26 20:44:39,0,20,1779
1851609,1353962958000000,15.0,0,00150001,2012-11-26,5326,-6.258538,53.345268,33453,348,1,2012-11-26 20:49:18,0,20,2058
1851776,1353963119000000,15.0,0,00150001,2012-11-26,5326,-6.256696,53.342678,33453,403,1,2012-11-26 20:51:59,0,20,2219
1852023,1353963363000000,15.0,0,00150001,2012-11-26,5326,-6.256213,53.337170,33453,844,1,2012-11-26 20:56:03,0,20,2463
1852116,1353963464000000,15.0,0,00150001,2012-11-26,5326,-6.257341,53.335674,33453,1014,1,2012-11-26 20:57:44,0,20,2564
1852217,1353963562000000,15.0,0,00150001,2012-11-26,5326,-6.259940,53.332787,33453,1015,1,2012-11-26 20:59:22,0,20,2662
1852321,1353963685000000,15.0,0,00150001,2012-11-26,5326,-6.264520,53.331100,33453,1016,1,2012-11-26 21:01:25,0,21,2785
1852508,1353963883000000,15.0,0,00150001,2012-11-26,5326,-6.265118,53.325012,33453,1020,1,2012-11-26 21:04:43,0,21,2983
1852581,1353963961000000,15.0,0,00150001,2012-11-26,5326,-6.265537,53.323170,33453,1076,1,2012-11-26 21:06:01,0,21,3061
1852652,1353964043000000,15.0,0,00150001,2012-11-26,5326,-6.266577,53.321621,33453,1077,1,2012-11-26 21:07:23,0,21,3143
1852750,1353964152000000,15.0,0,00150001,2012-11-26,5326,-6.270830,53.316704,33453,1079,1,2012-11-26 21:09:12,0,21,3252
1852836,1353964252000000,15.0,0,00150001,2012-11-26,5326,-6.271992,53.315060,33453,1080,1,2012-11-26 21:10:52,0,21,3352
1852883,1353964311000000,15.0,0,00150001,2012-11-26,5326,-6.273647,53.312725,33453,1081,1,2012-11-26 21:11:51,0,21,3411
1852933,1353964371000000,15.0,0,00150001,2012-11-26,5326,-6.275767,53.311710,33453,1082,1,2012-11-26 21:12:51,0,21,3471
1853016,1353964471000000,15.0,0,00150001,2012-11-26,5326,-6.282389,53.310154,33453,1085,1,2012-11-26 21:14:31,0,21,3571
1853065,1353964530000000,15.0,0,00150001,2012-11-26,5326,-6.285453,53.309090,33453,1121,1,2012-11-26 21:15:30,0,21,3630
1853214,1353964710000000,15.0,0,00150001,2012-11-26,5326,-6.298163,53.301151,33453,1125,1,2012-11-26 21:18:30,0,21,3810
1853297,1353964811000000,15.0,0,00150001,2012-11-26,5326,-6.302838,53.298542,33453,1127,1,2012-11-26 21:20:11,0,21,3911
1853383,1353964911000000,15.0,0,00150001,2012-11-26,5326,-6.308400,53.296398,33453,1130,1,2012-11-26 21:21:51,0,21,4011
1853489,1353965032000000,15.0,0,00150001,2012-11-26,5326,-6.309677,53.293354,33453,1140,1,2012-11-26 21:23:52,0,21,4132
1853623,1353965191000000,15.0,0,00150001,2012-11-26,5326,-6.313388,53.283447,33453,1143,1,2012-11-26 21:26:31,0,21,4291
1853660,1353965232000000,15.0,0,00150001,2012-11-26,5326,-6.315106,53.282402,33453,1144,1,2012-11-26 21:27:12,0,21,4332
1853744,1353965332000000,15.0,0,00150001,2012-11-26,5326,-6.318233,53.281784,33453,1145,1,2012-11-26 21:28:52,0,21,4432
1853812,1353965414000000,15.0,0,00150001,2012-11-26,5326,-6.318799,53.279179,33453,4869,1,2012-11-26 21:30:14,0,21,4514
1853878,1353965491000000,15.0,0,00150001,2012-11-26,5326,-6.330113,53.276764,33453,4870,1,2012-11-26 21:31:31,0,21,4591
1853909,1353965530000000,15.0,0,00150001,2012-11-26,5326,-6.331184,53.276196,33453,3007,1,2012-11-26 21:32:10,0,21,4630

### Saving newdf to a dataframe

In [14]:
newdf.to_csv("bus_data/cleaned_data/line15_00150001.csv")