In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#Import statsmodels package for training a linear regression model.
import statsmodels.formula.api as sm

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

ImportError: No module named 'sklearn.model_selection'

# Section 1 - Business/Problem Understanding


# Section 2 - Data Understanding

In [15]:
#Read in the data from a csv file using Pandas
df = pd.read_csv("bus_data/cleaned_data/line15.csv", low_memory=False, header=None)
df.columns = ["Timestamp", "LineID", "Direction", "JourneyPatternID", "TimeFrame", 
              "VehicleJourneyID", "Operator", "Congestion", "Lon", "Lat", 
              "Delay", "BlockID", "VehicleID", "StopID", "AtStop"]

In [16]:
#Select all columns of type 'object'
object_columns = df.select_dtypes(['object']).columns

In [17]:
#Convert selected columns to type 'category'
for column in object_columns:
    df[column] = df[column].astype('category')

In [18]:
# Convert Unix timestamp to datetime

# Take uneccesary trailing zeroes off of unix timestamp. 
df['Timestamp'] = df['Timestamp'].apply(lambda x: x//1000000)

# Convert the timestamp
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')

In [19]:
# Add day of week column
df['Day'] = df['Timestamp'].dt.dayofweek

In [20]:
# Add hour of day column
df['Hour'] = df['Timestamp'].dt.hour

In [21]:
# Convert some features to categorical
for column in ['LineID', 'Direction','VehicleJourneyID', 'Congestion', 'BlockID', 'VehicleID', 'AtStop','Day','Hour']:
    df[column] = df[column].astype('category')

In [22]:
df.dtypes

Timestamp           datetime64[ns]
LineID                    category
Direction                 category
JourneyPatternID          category
TimeFrame                 category
VehicleJourneyID          category
Operator                  category
Congestion                category
Lon                        float64
Lat                        float64
Delay                        int64
BlockID                   category
VehicleID                 category
StopID                    category
AtStop                    category
Day                       category
Hour                      category
dtype: object

### Continuous Columns

In [23]:
# Data preparation - Select columns containing continuous data
continuous_columns = df[['Lon','Lat','Delay']].columns

In [24]:
#Drop the duplicates, but keep the first occurance of when they occur
df = df.drop_duplicates(keep='first')

In [33]:
df = df.loc[df['JourneyPatternID'] == '00150001']
df

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Operator,Congestion,Lon,Lat,Delay,BlockID,VehicleID,StopID,AtStop,Day,Hour
0,2012-11-06 00:00:00,15,0,00150001,2012-11-05,5826,RD,0,-6.258584,53.340099,-361,15013,33210,4870,0,1,0
3,2012-11-06 00:00:10,15,0,00150001,2012-11-05,5843,RD,0,-6.323327,53.277756,-463,15021,33254,4869,0,1,0
6,2012-11-06 00:00:19,15,0,00150001,2012-11-05,5826,RD,0,-6.257967,53.342365,-361,15013,33210,4870,0,1,0
9,2012-11-06 00:00:31,15,0,00150001,2012-11-05,5843,RD,0,-6.327923,53.276974,-490,15021,33254,4869,0,1,0
13,2012-11-06 00:00:39,15,0,00150001,2012-11-05,5826,RD,0,-6.257433,53.342899,-361,15013,33210,4870,0,1,0
18,2012-11-06 00:00:49,15,0,00150001,2012-11-05,5843,RD,0,-6.331139,53.276196,-505,15021,33254,4870,0,1,0
21,2012-11-06 00:00:59,15,0,00150001,2012-11-05,5826,RD,0,-6.254167,53.342182,-361,15013,33210,4870,0,1,0
23,2012-11-06 00:01:09,15,0,00150001,2012-11-05,5843,RD,0,-6.331205,53.276012,-487,15021,33254,3007,0,1,0
26,2012-11-06 00:01:19,15,0,00150001,2012-11-05,5826,RD,0,-6.251433,53.342201,-361,15013,33210,4870,0,1,0
28,2012-11-06 00:01:30,15,0,00150001,2012-11-05,5843,RD,0,-6.331040,53.274563,-487,15021,33254,3007,0,1,0
33,2012-11-06 00:01:40,15,0,00150001,2012-11-05,5826,RD,0,-6.250800,53.342152,-361,15013,33210,4870,0,1,0
35,2012-11-06 00:01:50,15,0,00150001,2012-11-05,5843,RD,0,-6.329804,53.272602,-516,15021,33254,6283,0,1,0
38,2012-11-06 00:02:00,15,0,00150001,2012-11-05,5826,RD,0,-6.250783,53.342068,-361,15013,33210,4870,0,1,0
40,2012-11-06 00:02:08,15,0,00150001,2012-11-05,5843,RD,0,-6.329324,53.272076,-516,15021,33254,6283,0,1,0
43,2012-11-06 00:02:22,15,0,00150001,2012-11-05,5826,RD,0,-6.249700,53.343449,-361,15013,33210,4870,0,1,0
48,2012-11-06 00:02:40,15,0,00150001,2012-11-05,5826,RD,0,-6.249767,53.344215,-361,15013,33210,4870,0,1,0
50,2012-11-06 00:02:49,15,0,00150001,2012-11-05,5843,RD,0,-6.329324,53.272076,-516,15021,33254,6283,0,1,0
53,2012-11-06 00:02:59,15,0,00150001,2012-11-05,5826,RD,0,-6.251367,53.344952,-361,15013,33210,4870,0,1,0
57,2012-11-06 00:03:19,15,0,00150001,2012-11-05,5826,RD,0,-6.250617,53.345684,-361,15013,33210,4870,0,1,0
59,2012-11-06 00:03:29,15,0,00150001,2012-11-05,5843,RD,0,-6.329324,53.272076,-516,15021,33254,6283,0,1,0
63,2012-11-06 00:03:37,15,0,00150001,2012-11-05,5843,RD,0,-6.331200,53.277550,-443,15021,33254,6282,1,1,0
65,2012-11-06 00:03:39,15,0,00150001,2012-11-05,5826,RD,0,-6.248683,53.345531,-361,15013,33210,4870,0,1,0
67,2012-11-06 00:03:51,15,0,00150001,2012-11-05,5843,RD,0,-6.331383,53.280300,-443,15021,33254,6282,1,1,0
70,2012-11-06 00:04:00,15,0,00150001,2012-11-05,5826,RD,0,-6.246750,53.344250,-361,15013,33210,4870,0,1,0
74,2012-11-06 00:04:22,15,0,00150001,2012-11-05,5826,RD,0,-6.244050,53.343132,-361,15013,33210,4870,0,1,0
76,2012-11-06 00:04:30,15,0,00150001,2012-11-05,5843,RD,0,-6.330900,53.286182,-443,15021,33254,6282,1,1,0
81,2012-11-06 00:04:38,15,0,00150001,2012-11-05,5843,RD,0,-6.330900,53.286182,-383,15021,33254,6282,1,1,0
82,2012-11-06 00:04:40,15,0,00150001,2012-11-05,5826,RD,0,-6.240233,53.342667,-361,15013,33210,4870,0,1,0
85,2012-11-06 00:04:52,15,0,00150001,2012-11-05,5843,RD,0,-6.329550,53.287102,-383,15021,33254,6282,1,1,0
87,2012-11-06 00:05:00,15,0,00150001,2012-11-05,5826,RD,0,-6.235867,53.342098,-361,15013,33210,4870,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2254255,2012-11-30 23:56:35,15,0,00150001,2012-11-30,5171,RD,0,-6.236967,53.342300,0,15007,33475,6282,1,4,23
2254257,2012-11-30 23:56:45,15,0,00150001,2012-11-30,5205,RD,0,-6.293992,53.303810,33,15021,33255,1124,0,4,23
2254259,2012-11-30 23:56:49,15,0,00150001,2012-11-30,5188,CD,0,-6.257833,53.339367,0,15013,33518,6282,1,4,23
2254264,2012-11-30 23:56:57,15,0,00150001,2012-11-30,5171,RD,0,-6.236283,53.342117,0,15007,33475,6282,1,4,23
2254266,2012-11-30 23:57:05,15,0,00150001,2012-11-30,5205,RD,0,-6.296445,53.302326,33,15021,33255,1124,0,4,23
2254267,2012-11-30 23:57:07,15,0,00150001,2012-11-30,5188,CD,0,-6.258050,53.339417,0,15013,33518,6282,1,4,23
2254273,2012-11-30 23:57:13,15,0,00150001,2012-11-30,5188,CD,0,-6.258050,53.339417,0,15013,33518,6282,1,4,23
2254274,2012-11-30 23:57:13,15,0,00150001,2012-11-30,5171,RD,0,-6.236283,53.342117,0,15007,33475,6282,1,4,23
2254275,2012-11-30 23:57:15,15,0,00150001,2012-11-30,5171,RD,0,-6.236317,53.342083,0,15007,33475,6282,1,4,23
2254277,2012-11-30 23:57:26,15,0,00150001,2012-11-30,5205,RD,0,-6.298163,53.301151,33,15021,33255,1125,1,4,23
2254279,2012-11-30 23:57:28,15,0,00150001,2012-11-30,5188,CD,0,-6.258217,53.339466,0,15013,33518,6282,1,4,23
2254285,2012-11-30 23:57:44,15,0,00150001,2012-11-30,5205,RD,0,-6.298316,53.301041,33,15021,33255,1125,0,4,23
2254287,2012-11-30 23:57:46,15,0,00150001,2012-11-30,5188,CD,0,-6.258250,53.339600,0,15013,33518,6282,1,4,23
2254292,2012-11-30 23:57:54,15,0,00150001,2012-11-30,5171,RD,0,-6.234066,53.342350,0,15007,33475,6282,1,4,23
2254294,2012-11-30 23:58:07,15,0,00150001,2012-11-30,5188,CD,0,-6.258367,53.339649,0,15013,33518,6282,1,4,23
2254295,2012-11-30 23:58:07,15,0,00150001,2012-11-30,5205,RD,0,-6.299971,53.299744,33,15021,33255,1125,0,4,23
2254302,2012-11-30 23:58:15,15,0,00150001,2012-11-30,5188,CD,0,-6.258367,53.339649,0,15013,33518,6282,1,4,23
2254303,2012-11-30 23:58:15,15,0,00150001,2012-11-30,5171,RD,0,-6.234066,53.342335,0,15007,33475,6282,1,4,23
2254305,2012-11-30 23:58:25,15,0,00150001,2012-11-30,5205,RD,0,-6.301290,53.299042,33,15021,33255,1125,0,4,23
2254306,2012-11-30 23:58:27,15,0,00150001,2012-11-30,5188,CD,0,-6.258717,53.339733,0,15013,33518,6282,1,4,23
2254311,2012-11-30 23:58:35,15,0,00150001,2012-11-30,5171,RD,0,-6.234066,53.342335,0,15007,33475,6282,1,4,23
2254313,2012-11-30 23:58:45,15,0,00150001,2012-11-30,5205,RD,0,-6.302838,53.298542,15,15021,33255,1127,1,4,23
2254314,2012-11-30 23:58:47,15,0,00150001,2012-11-30,5188,CD,0,-6.258433,53.340015,0,15013,33518,6282,1,4,23
2254320,2012-11-30 23:59:06,15,0,00150001,2012-11-30,5205,RD,0,-6.303636,53.298401,15,15021,33255,1127,0,4,23
2254322,2012-11-30 23:59:10,15,0,00150001,2012-11-30,5188,CD,0,-6.258483,53.340183,0,15013,33518,6282,1,4,23
2254326,2012-11-30 23:59:14,15,0,00150001,2012-11-30,5188,CD,0,-6.258483,53.340183,0,15013,33518,6282,1,4,23
2254329,2012-11-30 23:59:26,15,0,00150001,2012-11-30,5205,RD,0,-6.306262,53.296974,-3,15021,33255,1127,0,4,23
2254330,2012-11-30 23:59:26,15,0,00150001,2012-11-30,5188,CD,0,-6.258367,53.340599,0,15013,33518,6282,1,4,23
2254336,2012-11-30 23:59:44,15,0,00150001,2012-11-30,5205,RD,0,-6.308400,53.296398,-3,15021,33255,1130,1,4,23
2254338,2012-11-30 23:59:48,15,0,00150001,2012-11-30,5188,CD,0,-6.258150,53.341801,0,15013,33518,6282,1,4,23

In [ ]:
morning = df[(df.VehicleJourneyID) & (df.Timef == 0) & (df.TimeFrame == "2012-11-20")]

In [58]:
duration = start-end
duration.head()

VehicleJourneyID
2564   -5 days +23:19:19
2565   -5 days +23:22:01
2566   -5 days +22:50:31
2567   -5 days +23:08:51
2568   -5 days +23:08:56
Name: Timestamp, dtype: timedelta64[ns]

In [29]:
Trips = df.groupby(['TimeFrame'])

In [30]:
Trips.VehicleJourneyID.value_counts()

TimeFrame   VehicleJourneyID
2012-11-05  5843                 97
            5929                 70
            3339                 64
            3130                 58
            5582                 51
            5826                 17
            3118                  4
2012-11-06  3282                494
            5912                493
            5833                394
            5799                385
            5816                378
            5900                378
            3280                377
            5921                372
            5903                371
            5806                362
            5790                360
            5823                360
            5887                359
            5936                356
            5893                354
            3257                353
            5838                353
            5782                350
            5890                350
            5951                348
            5876                346
            3284                344
            5798                344
                               ...
2012-11-30  4802                 12
            4757                 11
            4850                 11
            4801                 10
            4827                 10
            4851                 10
            4781                  7
            4815                  7
            4884                  7
            4883                  6
            2649                  4
            2812                  4
            2818                  4
            2830                  4
            2832                  4
            4779                  4
            4874                  4
            2838                  3
            2833                  2
            2841                  2
            4761                  2
            4798                  2
            4834                  2
            4858                  2
            2687                  1
            2828                  1
            4791                  1
            4796                  1
            4832                  1
            4878                  1
Name: VehicleJourneyID, dtype: int64

Transform Time Frame to exclude the night before and night after the journey's main day of operation

In [83]:
morning = df[(df.VehicleJourneyID == 2564) & (df.AtStop == 0) & (df.TimeFrame == "2012-11-20")]
morning

,Timestamp,JourneyPatternID,TimeFrame,VehicleJourneyID,Congestion,Lon,Lat,Delay,VehicleID,StopID,AtStop,Day,Hour
1245329,2012-11-20 06:24:04,null,2012-11-20,2564,0,-6.334267,53.307049,0,33484,1105,1,1,6
1245348,2012-11-20 06:24:24,015A1001,2012-11-20,2564,0,-6.334267,53.307049,0,33484,1105,1,1,6
1245364,2012-11-20 06:24:42,015A1001,2012-11-20,2564,0,-6.334267,53.307049,0,33484,1105,1,1,6
1245457,2012-11-20 06:26:04,015A1001,2012-11-20,2564,0,-6.332076,53.304390,-21,33484,1107,1,1,6
1245520,2012-11-20 06:27:03,015A1001,2012-11-20,2564,0,-6.325751,53.304428,-21,33484,1109,1,1,6
1245589,2012-11-20 06:28:05,015A1001,2012-11-20,2564,0,-6.322103,53.305256,-21,33484,1111,1,1,6
1245656,2012-11-20 06:29:04,015A1001,2012-11-20,2564,0,-6.318578,53.307621,-58,33484,1112,1,1,6
1245721,2012-11-20 06:30:03,015A1001,2012-11-20,2564,0,-6.310774,53.310291,-58,33484,1114,1,1,6
1245826,2012-11-20 06:31:23,015A1001,2012-11-20,2564,0,-6.302520,53.312592,-37,33484,2437,1,1,6
1245975,2012-11-20 06:33:23,015A1001,2012-11-20,2564,0,-6.287990,53.310123,-83,33484,1120,1,1,6
1246156,2012-11-20 06:35:46,015A1001,2012-11-20,2564,0,-6.281566,53.310364,-29,33484,1164,1,1,6
1246184,2012-11-20 06:36:04,015A1001,2012-11-20,2564,0,-6.281566,53.310364,2,33484,1164,1,1,6
1246266,2012-11-20 06:37:03,015A1001,2012-11-20,2564,0,-6.276392,53.311592,21,33484,1165,1,1,6
1246351,2012-11-20 06:38:04,015A1001,2012-11-20,2564,0,-6.272822,53.313885,21,33484,1166,1,1,6
1246436,2012-11-20 06:39:04,015A1001,2012-11-20,2564,0,-6.269974,53.317905,-1,33484,1168,1,1,6
1246483,2012-11-20 06:39:44,015A1001,2012-11-20,2564,0,-6.268483,53.320004,-1,33484,1169,1,1,6
1246572,2012-11-20 06:40:45,015A1001,2012-11-20,2564,0,-6.265523,53.323273,14,33484,1069,1,1,6
1246627,2012-11-20 06:41:22,015A1001,2012-11-20,2564,0,-6.265337,53.324970,14,33484,1070,1,1,6
1246697,2012-11-20 06:42:03,015A1001,2012-11-20,2564,0,-6.264799,53.327282,14,33484,1071,1,1,6
1246722,2012-11-20 06:42:23,015A1001,2012-11-20,2564,0,-6.264799,53.327282,14,33484,1071,1,1,6
1246789,2012-11-20 06:43:04,015A1001,2012-11-20,2564,0,-6.264526,53.328854,14,33484,4528,1,1,6
1247087,2012-11-20 06:46:22,015A1001,2012-11-20,2564,0,-6.263947,53.333710,46,33484,1074,1,1,6
1247258,2012-11-20 06:48:05,015A1001,2012-11-20,2564,0,-6.257436,53.335823,4,33484,6074,1,1,6
1247553,2012-11-20 06:51:04,015A1001,2012-11-20,2564,0,-6.258503,53.340313,44,33484,5034,1,1,6
1247652,2012-11-20 06:52:04,015A1001,2012-11-20,2564,0,-6.258092,53.342087,61,33484,792,1,1,6
1247774,2012-11-20 06:53:23,015A1001,2012-11-20,2564,0,-6.260246,53.343586,17,33484,794,1,1,6
1248217,2012-11-20 06:58:03,015A1001,2012-11-20,2564,0,-6.253854,53.348274,-58,33484,407,1,1,6
1248465,2012-11-20 07:00:43,015A1001,2012-11-20,2564,0,-6.247149,53.348000,2,33484,2499,1,1,7

In [94]:
duration = morning.Timestamp.max() - morning.Timestamp.min()
duration

Timedelta('0 days 00:36:39')

In [99]:
def hours_minutes(td):
    return td.seconds//3600, (td.seconds//60)%60

In [100]:
print(hours_minutes(duration))

(0, 36)

### Data Quality plan

## Data Quality Plan

| Feature                 | Data Quality Issue   | Handling Strategy             |
|-------------------------|----------------------|-------------------------------|
| Timestamp               | None                 | Retain Feature                |

### Data Relationships

# Section 4 -  Predictive Modeling

# Section 5 - Evaluation