In [6]:
import pandas as pd
import os

In [7]:
def read_data(filename):

    df = pd.read_csv(filename, low_memory=False, header=None)
    df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
                  "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
                  "AtStop", "HumanTime", "Day", "Hour", "JourneyGroup", "Runtime"]

    
    return df

In [8]:
stops = pd.DataFrame(columns=['StopID', 'LineID', 'JourneyPatternID'])
# stops = pd.DataFrame()

for filename in os.listdir('bus_data/clean_data5'):
    df = read_data('bus_data/clean_data5/'+filename)
    df = df[['StopID', 'LineID', 'JourneyPatternID']]
    stops = stops.append(df)

In [9]:
backup = stops.copy()
stops.shape

(14799437, 3)

In [10]:
final_stops = stops.drop_duplicates()

In [11]:
final_stops.head()

   StopID LineID  JourneyPatternID
0   381.0      1            1001.0
1   382.0      1            1001.0
2  4451.0      1            1001.0
3   383.0      1            1001.0
4   384.0      1            1001.0

In [13]:
#Some stops may service different busses in different directions
final_stops.shape

(11438, 3)

In [14]:
final_stops = final_stops.astype({'StopID':'int64','LineID':str,'JourneyPatternID':'int64'})

In [15]:
# Casting LineID to string creates float strings!?
def remove_float(string):
    var = string.split(".")[0]
    return var
final_stops["LineID"] = final_stops['LineID'].apply(lambda x: remove_float(x))

In [16]:
final_stops.head()

   StopID LineID  JourneyPatternID
0     381      1              1001
1     382      1              1001
2    4451      1              1001
3     383      1              1001
4     384      1              1001

In [17]:
final_stops.dtypes

StopID               int64
LineID              object
JourneyPatternID     int64
dtype: object

In [18]:
#has no effect
final_stops = final_stops.drop_duplicates()

In [19]:
final_stops.shape

(11438, 3)

In [20]:
#TEST
final_stops[(final_stops.LineID=="1")]

       StopID LineID  JourneyPatternID
0         381      1              1001
1         382      1              1001
2        4451      1              1001
3         383      1              1001
4         384      1              1001
5         385      1              1001
6         387      1              1001
7         389      1              1001
8         393      1              1001
9         371      1              1001
10        391      1              1001
11        392      1              1001
12        395      1              1001
13        396      1              1001
14        397      1              1001
15        398      1              1001
17        399      1              1001
18        400      1              1001
23        319      1              1001
26        388      1              1001
27        278      1              1001
30         10      1              1001
32         12      1              1001
34         14      1              1001
35         15      1              1001
37         17      1              1001
39         18      1              1001
40         19      1              1001
42         21      1              1001
44         85      1              1001
...       ...    ...               ...
78632      44      1                 1
78633      45      1                 1
78634      46      1                 1
78635      47      1                 1
78636      48      1                 1
78637      49      1                 1
78638      50      1                 1
78639      51      1                 1
78641      52      1                 1
78642     265      1                 1
78647     271      1                 1
78651     340      1                 1
78652     350      1                 1
78655     351      1                 1
78657     352      1                 1
78659     353      1                 1
78660     354      1                 1
78662     355      1                 1
78674     373      1                 1
78677     374      1                 1
78678     375      1                 1
78682    2804      1                 1
78683     376      1                 1
78684     377      1                 1
78685     378      1                 1
78689     380      1                 1
78713     356      1                 1
78715     357      1                 1
78719     390      1                 1
78720     372      1                 1

[83 rows x 3 columns]

In [21]:
final_stops = final_stops.sort_values('StopID')

In [22]:
our_stops = final_stops.reset_index()
our_stops = our_stops.drop('index',1)
# all_stops.StopID.value_counts()

In [24]:
our_stops.sort_values(['LineID','JourneyPatternID','StopID'], axis=0)

       StopID LineID  JourneyPatternID
136        44      1                 1
143        45      1                 1
150        46      1                 1
162        47      1                 1
168        48      1                 1
179        49      1                 1
194        50      1                 1
216        51      1                 1
224        52      1                 1
351       119      1                 1
546       213      1                 1
549       214      1                 1
585       226      1                 1
587       227      1                 1
589       228      1                 1
592       229      1                 1
594       230      1                 1
599       231      1                 1
665       265      1                 1
673       271      1                 1
856       340      1                 1
889       350      1                 1
894       351      1                 1
899       352      1                 1
904       353      1                 1
908       354      1                 1
911       355      1                 1
912       356      1                 1
915       357      1                 1
920       372      1                 1
...       ...    ...               ...
6237     2432      9              1001
6238     2433      9              1001
6239     2434      9              1001
6241     2435      9              1001
6243     2436      9              1001
6246     2437      9              1001
6248     2438      9              1001
6250     2439      9              1001
6252     2440      9              1001
6255     2441      9              1001
6256     2442      9              1001
6259     2443      9              1001
6260     2444      9              1001
6263     2446      9              1001
6280     2459      9              1001
6281     2460      9              1001
6282     2461      9              1001
6283     2462      9              1001
6284     2463      9              1001
9417     4369      9              1001
9425     4376      9              1001
9426     4377      9              1001
9471     4392      9              1001
9616     4479      9              1001
9934     4680      9              1001
10178    4890      9              1001
10766    6219      9              1001
10775    6229      9              1001
11017    7131      9              1001
11399    7458      9              1001

[11438 rows x 3 columns]

In [25]:
our_stops = our_stops.reset_index()

In [26]:
our_stops = our_stops.drop('index', 1)

In [27]:
our_stops

       StopID LineID  JourneyPatternID
0           2    46A              1001
1           2    46E              1001
2           2    38B                 1
3           2    38A                 1
4           2     38                 1
5           3    120                 1
6           3    122              1001
7           4      9              1001
8           6      4              1001
9           7     40              1001
10          7    40D                 1
11          7    140              1001
12          7     13              1001
13          8      7              1001
14          8     7D              1001
15          8      8              1001
16          8     7B              1001
17         10     11              1001
18         10     16              1001
19         10     44              1001
20         10      1              1001
21         10    16C              1001
22         11     13              1001
23         11    40D                 1
24         11     40              1001
25         12      1              1001
26         12    122              1001
27         12     11              1001
28         12     44              1001
29         12     16              1001
...       ...    ...               ...
11408    7461    84X                 1
11409    7461    184                 1
11410    7461    184              1001
11411    7462    184                 1
11412    7462    84X              1001
11413    7462    184              1001
11414    7462    84X                 1
11415    7469    130              1001
11416    7471     40                 1
11417    7471    220              1001
11418    7472    111                 1
11419    7472     7B              1001
11420    7472      7              1001
11421    7472     59                 1
11422    7472    45A              1001
11423    7473     40                 1
11424    7474     40              1001
11425    7505    238                 1
11426    7505    40D              1001
11427    7507     79              1001
11428    7507    79A              1001
11429    7510    76A              1001
11430    7510     40              1001
11431    7510     76              1001
11432    7511      8                 1
11433    7512    15A                 1
11434    7512    15B                 1
11435    7514    151                 1
11436    7516     15              1001
11437    7522    45A                 1

[11438 rows x 3 columns]

In [36]:
our_stops.StopID.value_counts()

786     23
1445    22
794     22
1477    21
1444    21
1479    21
747     21
1478    20
1476    16
748     16
400     16
497     16
768     16
793     16
614     15
675     15
406     15
523     15
1358    15
315     15
792     15
515     14
618     14
4384    14
52      14
619     14
51      14
763     14
617     14
616     14
        ..
6359     1
2261     1
212      1
6343     1
4294     1
6335     1
4286     1
6319     1
4438     1
4446     1
4654     1
2405     1
2589     1
4606     1
500      1
4590     1
2533     1
468      1
4558     1
4534     1
4526     1
4518     1
2461     1
4502     1
2453     1
4494     1
2445     1
2429     1
2421     1
2049     1
Name: StopID, dtype: int64

In [30]:
our_stops[(our_stops.LineID=="1") & (our_stops.JourneyPatternID==1001)]

      StopID LineID  JourneyPatternID
20        10      1              1001
25        12      1              1001
36        14      1              1001
45        15      1              1001
54        17      1              1001
67        18      1              1001
77        19      1              1001
85        21      1              1001
294       85      1              1001
518      203      1              1001
522      204      1              1001
527      205      1              1001
569      220      1              1001
573      221      1              1001
576      222      1              1001
578      223      1              1001
579      224      1              1001
581      225      1              1001
586      226      1              1001
692      278      1              1001
788      319      1              1001
918      371      1              1001
937      381      1              1001
939      382      1              1001
941      383      1              1001
943      384      1              1001
946      385      1              1001
947      387      1              1001
950      388      1              1001
951      389      1              1001
956      391      1              1001
957      392      1              1001
960      393      1              1001
964      395      1              1001
965      396      1              1001
969      397      1              1001
973      398      1              1001
980      399      1              1001
984      400      1              1001
4378    1620      1              1001
9580    4451      1              1001

## Read in Schedule Data

In [32]:
schedule = pd.read_csv("bus_data/routestations3.csv",index_col=0, low_memory=False, encoding="ISO-8859-1")

In [33]:
schedule.head()

,LineID,JourneyPatternID,stop_sequence,StopID,stop_headsign,Name,Name without locality,Lat,Long
0,1,1,1,226,Sandymount,Shanard Road,Shanard Avenue,53.391140,-6.262185
1,1,1,2,228,Sandymount,Shanliss Rd,Oldtown Avenue,53.391852,-6.259796
2,1,1,3,229,Sandymount,Shanliss Rd,Oldtown Road,53.391399,-6.256521
3,1,1,4,227,Sandymount,Shanliss Rd,Shanliss Drive,53.391143,-6.251314
4,1,1,5,230,Sandymount,Shanliss Rd,Shanowen Road,53.389888,-6.249050

In [34]:
schedule.shape

(11567, 9)

In [35]:
# routestations = pd.merge(schedule, our_stops, on='StopID')
# routestations.shape

In [37]:
routestations = pd.merge(schedule, our_stops, on=['StopID','JourneyPatternID','LineID'])
routestations.shape

(11338, 9)

In [38]:
# schedule[schedule.LineID=="1"]

In [39]:
# routestations[routestations.LineID=="1"]

In [40]:
routestations = routestations.sort_values(['LineID','JourneyPatternID','stop_sequence'], axis=0)

In [41]:
routestations.head()

,LineID,JourneyPatternID,stop_sequence,StopID,stop_headsign,Name,Name without locality,Lat,Long
0,1,1,1,226,Sandymount,Shanard Road,Shanard Avenue,53.391140,-6.262185
1,1,1,2,228,Sandymount,Shanliss Rd,Oldtown Avenue,53.391852,-6.259796
2,1,1,3,229,Sandymount,Shanliss Rd,Oldtown Road,53.391399,-6.256521
3,1,1,4,227,Sandymount,Shanliss Rd,Shanliss Drive,53.391143,-6.251314
4,1,1,5,230,Sandymount,Shanliss Rd,Shanowen Road,53.389888,-6.249050

In [42]:
routestations.to_csv("common_routestations3.csv")

In [43]:
#TEST ROUTE
route = routestations[(routestations.LineID=="15B")&(routestations.JourneyPatternID==1)]

In [44]:
route

,LineID,JourneyPatternID,stop_sequence,StopID,stop_headsign,Name,Name without locality,Lat,Long
2068,15B,1,3,7371,Stocking Ave,Rogerson's Quay,Lime Street,53.346314,-6.242981
2069,15B,1,4,7221,Stocking Ave,City Quay,Creighton Street,53.346547,-6.245991
2070,15B,1,5,399,Stocking Ave,Pearse Street,Westland Row,53.343848,-6.248264
2071,15B,1,6,400,Stocking Ave,Pearse Street,Hawkins Street,53.344759,-6.252778
2072,15B,1,7,348,Stocking Ave,College Street,D'Olier Street,53.345202,-6.258497
2073,15B,1,8,403,Stocking Ave,Nassau Street,South Frederick Street,53.342713,-6.256691
2074,15B,1,9,746,Stocking Ave,Kildare Street,Natural History Museum,53.340126,-6.255565
2075,15B,1,10,844,Stocking Ave,St. Stephen's Green,Loreto Convent,53.337170,-6.256212
2076,15B,1,11,1014,Stocking Ave,Earlsfort Tce,Leeson Street,53.335676,-6.257339
2077,15B,1,12,1015,Stocking Ave,Adelaide Road,Earlsfort Terrace,53.332730,-6.259936
2078,15B,1,13,1016,Stocking Ave,Richmond Street Sth,Lennox Street,53.331132,-6.264416
2079,15B,1,14,1017,Stocking Ave,Rathmines Road,Grove Park,53.329369,-6.264322
2080,15B,1,15,1018,Stocking Ave,Rathmines Road,Military Road,53.327567,-6.264635
2081,15B,1,16,1019,Stocking Ave,Rathmines Road,Military Road,53.326465,-6.264845
2082,15B,1,17,1020,Stocking Ave,Rathmines Road,Town Centre,53.325075,-6.265112
2083,15B,1,18,1076,Stocking Ave,Rathmines Road,Castlewood Ave,53.323157,-6.265445
2084,15B,1,19,1077,Stocking Ave,Rathgar Road,Rathgar Road Rathmines Garda Station,53.321555,-6.266561
2085,15B,1,20,1078,Stocking Ave,Rathgar Road,Rathgar Place,53.319466,-6.268762
2086,15B,1,21,1079,Stocking Ave,Rathgar Road,Grosvenor Road,53.316646,-6.270752
2087,15B,1,22,1080,Stocking Ave,Rathgar Road,Auburn Villas,53.315009,-6.271914
2088,15B,1,23,1081,Stocking Ave,Rathgar Road,Highfield Road,53.312669,-6.273569
2089,15B,1,24,2914,Stocking Ave,Orwell Road,Stratford,53.310955,-6.273774
2090,15B,1,25,2915,Stocking Ave,Zion Road,Bushy Park Road,53.309399,-6.273701
2091,15B,1,26,2916,Stocking Ave,Bushy Park Rd,Victoria Road,53.307637,-6.274943
2092,15B,1,27,2917,Stocking Ave,Bushy Park Rd,Meadowbank,53.307487,-6.277590
2093,15B,1,28,2918,Stocking Ave,Bushy Park Rd,Riversdale Avenue,53.307371,-6.280806
2094,15B,1,29,1300,Stocking Ave,Rathfarnham Rd,Westbourne Road,53.306187,-6.283420
2095,15B,1,30,1301,Stocking Ave,Rathfarnham Rd,Dodder Park Road,53.303887,-6.283497
2096,15B,1,31,1302,Stocking Ave,Rathfarnham Rd,Castleside,53.301663,-6.283826
2097,15B,1,32,1303,Stocking Ave,Rathfarnham Rd,Willbrook Road,53.299298,-6.283801
2098,15B,1,33,5129,Stocking Ave,Butterfield Ave,Grange Road,53.297712,-6.286025
2099,15B,1,34,5130,Stocking Ave,Butterfield Ave,Charleville Square,53.296693,-6.293312
2100,15B,1,35,1135,Stocking Ave,Marian Road,Orchardstown Avenue,53.293443,-6.297282
2101,15B,1,36,7064,Stocking Ave,Marian Road,Anne Devlin Park,53.289509,-6.298173
2102,15B,1,37,7066,Stocking Ave,Ballyroan Rd,Butterfield Park,53.287694,-6.296281
2103,15B,1,38,2924,Stocking Ave,Ballyboden Rd,Cuerton House,53.285819,-6.294031
2104,15B,1,39,2925,Stocking Ave,Ballyboden Rd,Ballyboden Crescent,53.283335,-6.296289
2105,15B,1,40,7442,Stocking Ave,Ballyboden Way,The Glen,53.282472,-6.300748
2106,15B,1,41,7446,Stocking Ave,Ballyboden Way,Templeroan Lodge,53.281143,-6.307144
2107,15B,1,42,7070,Stocking Ave,Scholarstown Rd,Ballyboden Park,53.279420,-6.306672
2108,15B,1,43,7445,Stocking Ave,Scholarstown Rd,Stocking Lane,53.279603,-6.302451
2109,15B,1,44,6339,Stocking Ave,Stocking Lane,Ballyboden Crescent,53.279357,-6.300961
2110,15B,1,45,6324,Stocking Ave,Stocking Lane,Prospect,53.276336,-6.302176
2111,15B,1,46,6325,Stocking Ave,Stocking Lane,Woodfield,53.274548,-6.303491
2112,15B,1,47,6341,Stocking Ave,Stocking Avenue,Stocking Lane,53.273012,-6.308635
2113,15B,1,48,6277,Stocking Ave,Stocking Avenue,Stocking Lane,53.272912,-6.313002
2114,15B,1,49,6278,Stocking Ave,Stocking Avenue,Stocking Wood,53.273336,-6.315640
2115,15B,1,50,6279,Stocking Ave,Stocking Avenue,Dalriada Avenue,53.271771,-6.322568
2116,15B,1,51,6280,Stocking Ave,Stocking Avenue,Stocking Avenue Opposite Dalriada Estate,53.271109,-6.326013

# Exrtact Common Stops

In [45]:
common_stops = routestations[['StopID','Name','Name without locality','Lat','Long']]

In [46]:
common_stops.shape

(11338, 5)

In [47]:
common_stops = common_stops.drop_duplicates()

In [48]:
common_stops = common_stops.sort_values('StopID')

In [49]:
common_stops.head()

       StopID            Name Name without locality        Lat      Long
5360        2  Parnell Square      Rotunda Hospital  53.352244 -6.263693
639         3  Parnell Square      Rotunda Hospital  53.352308 -6.263781
11305       4  Parnell Square      Rotunda Hospital  53.352565 -6.264161
6041        6  Parnell Square      Rotunda Hospital  53.352740 -6.264439
1026        7  Parnell Square      Rotunda Hospital  53.352832 -6.264556

In [50]:
common_stops = common_stops.reset_index()
common_stops = common_stops.drop('index', 1)
common_stops

,StopID,Name,Name without locality,Lat,Long
0,2,Parnell Square,Rotunda Hospital,53.352244,-6.263693
1,3,Parnell Square,Rotunda Hospital,53.352308,-6.263781
2,4,Parnell Square,Rotunda Hospital,53.352565,-6.264161
3,6,Parnell Square,Rotunda Hospital,53.352740,-6.264439
4,7,Parnell Square,Rotunda Hospital,53.352832,-6.264556
5,8,Parnell Square,Rotunda Hospital,53.353263,-6.265169
6,10,Parnell Square,Rotunda Hospital,53.353383,-6.265389
7,11,Dorset St,St. Joseph's Parade,53.357098,-6.264367
8,12,Dorset St,St. Joseph's Parade,53.356787,-6.264620
9,14,Dorset St,Eccles Place,53.358540,-6.262731
10,15,Dorset St,North Circular Road,53.360249,-6.260979
11,16,Nephin Road,John Paul II Park,53.366419,-6.305628
12,17,Drumcondra Rd,Rail Station,53.363069,-6.258400
13,18,Drumcondra Rd,Dargle Road,53.365847,-6.255927
14,19,Drumcondra Rd,Botanic Avenue,53.367135,-6.255499
15,21,Drumcondra Rd,Clonturk Park,53.370092,-6.254296
16,22,Home Farm Road,Drumcondra Road,53.373503,-6.252789
17,23,Home Farm Road,Ferguson Road,53.374228,-6.256246
18,24,Home Farm Road,Walsh Road,53.375133,-6.260342
19,25,Home Farm Road,Rathlin Road,53.375899,-6.263618
20,27,Ballymun Road,Griffith Avenue,53.379439,-6.266570
21,28,Ballymun Road,Glasnevin Tennis Club,53.381578,-6.265987
22,29,Ballymun Road,St. Canice's Road,53.383488,-6.265669
23,30,Ventry Park,John Paul II Park,53.370322,-6.304571
24,31,St. Pappin's Road,Maolbuille Road,53.386033,-6.268843
25,32,St. Pappin's Road,Stormanstown Road,53.386196,-6.271377
26,33,Glasnevin Drive,Glasnevin Park,53.388718,-6.271756
27,35,St. Pappin's Road,Dean Swift Road,53.386207,-6.270911
28,36,St. Pappin's Road,Maolbuille Road,53.386127,-6.267877
29,37,Ballymun Road,DCU,53.385346,-6.264872
...,...,...,...,...,...
4555,7440,Edmondstown Rd,An Post,53.276121,-6.297191
4556,7441,Edmondstown Rd,Merry Ploughboy,53.264373,-6.297163
4557,7442,Ballyboden Way,The Glen,53.282472,-6.300748
4558,7443,Ballyboden Way,Templeroan Lodge,53.281455,-6.306937
4559,7444,Ballyboden Way,The Glen,53.282404,-6.299086
4560,7445,Scholarstown Rd,Stocking Lane,53.279603,-6.302451
4561,7446,Ballyboden Way,Templeroan Lodge,53.281143,-6.307144
4562,7447,Taylors Lane,Golf Club,53.281580,-6.281107
4563,7448,Taylors Lane,Golf Club,53.281720,-6.281461
4564,7449,Taylors Lane,Edmondstown Road,53.281767,-6.296007
4565,7453,Arran Quay,Ocean House,53.346336,-6.278383
4566,7454,Herberton Road,New Ireland Road,53.335008,-6.298840
4567,7455,Herberton Road,New Ireland Road,53.335583,-6.298862
4568,7458,Ballygall Road,Ballygall Road West,53.390067,-6.290526
4569,7459,Citywest Rd,Bianconi Avenue,53.290833,-6.427288
4570,7460,Citywest Rd,Shopping Centre,53.282623,-6.421591
4571,7461,Charlesland Rd,Shopping Centre,53.128905,-6.062775
4572,7462,Charlesland Rd,Seabourne View,53.128783,-6.062466
4573,7469,Mount Prospect Ave,Junction Clontarf Road at St. Anne's Par,53.367822,-6.174111
4574,7471,Tolka Valley Rd,Cloonlara,53.379230,-6.293230
4575,7472,Rochestown Ave,Shopping Centre,53.267132,-6.136711
4576,7473,Fonthill Rd,Foxdene Est,53.339053,-6.408275
4577,7474,Jamestown Rd,Finglas Village,53.389418,-6.298610
4578,7505,Bealing Boulevard,Tyrrellstown Way,53.417570,-6.386161
4579,7507,Cherry Orchard Ave,St. Ultans School,53.337411,-6.373227
4580,7510,Coldcut Rd,Cloverhill Road,53.347200,-6.384510
4581,7511,Castlepark Rd.,Castlepark Close,53.284306,-6.111966
4582,7514,East Road,East Road 13 metres north PLP4,53.354372,-6.229895
4583,7516,Belmayne,Baldoyle Roundabout,53.402075,-6.171682
4584,7522,Boghall Road,Oldcourt,53.188712,-6.121526

In [51]:
common_stops.shape

(4585, 5)

In [52]:
common_stops.to_csv('common_stops3.csv')

# Extract Headsigns

In [57]:
lines = routestations[['LineID','JourneyPatternID','stop_headsign']]

In [58]:
lines = lines.drop_duplicates()
lines = lines.reset_index()
lines = lines.drop('index',1)
lines.head()

  LineID  JourneyPatternID stop_headsign
0      1                 1    Sandymount
1      1              1001  Shanard Road
2    102                 1       Airport
3    102              1001    Station Rd
4    104                 1  Shanard Road

In [59]:
lines

    LineID  JourneyPatternID       stop_headsign
0        1                 1          Sandymount
1        1              1001        Shanard Road
2      102                 1             Airport
3      102              1001          Station Rd
4      104                 1        Shanard Road
5      104              1001       Clontarf Road
6       11                 1      Sandyford I.E.
7       11              1001          Wadelai Pk
8      111                 1       Dun Laoghaire
9      111              1001       Loughlinstown
10     114                 1      Blackrock DART
11     114              1001            Ticknock
12     116                 1         Whitechurch
13     116              1001          Parnell Sq
14     118              1001          D'Olier St
15     120                 1         Ashtown Stn
16     120              1001          Parnell St
17     122                 1       Drimnagh Road
18     122              1001           Ashington
19     123                 1              Marino
20     123              1001      Kilnamanagh Rd
21      13                 1  Grange Castle IAWS
22      13                 1       Grange Castle
23      13              1001          Harristown
24     130                 1          Castle Ave
25     130              1001      Marlborough St
26      14                 1        Dundrum Luas
27      14              1001            Beaumont
28     140                 1           Rathmines
29     140              1001                IKEA
..     ...               ...                 ...
197     75                 1       Dun Laoghaire
198     75              1001          The Square
199     76                 1          The Square
200     76              1001          Chapelizod
201    76A                 1          The Square
202    76A              1001   Blanchardstown SC
203    77A                 1            Citywest
204    77A              1001         Ringsend Rd
205     79                 1          Spiddal Pk
206     79              1001          Aston Quay
207    79A                 1            Parkwest
208    79A              1001         City Centre
209     7B                 1            Shankill
210     7B              1001         Mountjoy Sq
211     7D                 1              Dalkey
212     7D              1001         Mountjoy Sq
213      8                 1              Dalkey
214      8              1001         Mountjoy Sq
215     83                 1             Kimmage
216     83              1001          Harristown
217    83A                 1             Kimmage
218    83A              1001          Harristown
219     84                 1           Newcastle
220     84              1001           Blackrock
221    84A                 1        Bray Station
222    84A              1001           Blackrock
223    84X                 1           Newcastle
224    84X              1001     Westmoreland St
225      9                 1     Limekiln Avenue
226      9              1001         Charlestown

[227 rows x 3 columns]

In [60]:
lines.to_csv('common_lines3.csv')

# Read in Timetable
use only lines which we have

In [168]:
timetable = pd.read_csv("bus_data/static_data/simple_timetable.csv",index_col=0)

In [169]:
timetable.head()

    Service Departure                                   Direction LineID
0  saturday      5:45  From Dublin Airport Towards Sutton Station    102
1  saturday      6:45  From Dublin Airport Towards Sutton Station    102
2  saturday      7:10  From Dublin Airport Towards Sutton Station    102
3  saturday      7:20  From Dublin Airport Towards Sutton Station    102
4  saturday      7:05  From Dublin Airport Towards Sutton Station    102

In [170]:
timetable.columns

Index(['Service', 'Departure', 'Direction', 'LineID'], dtype='object')

In [171]:
timetable.dtypes

Service      object
Departure    object
Direction    object
LineID       object
dtype: object

In [172]:
#Ensure only time format remain in times
alphas = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

timetable['Time'] = timetable['Departure'].map(lambda x: x.lstrip(alphas).rstrip(alphas))

In [173]:
# timetable['Time']

In [174]:
#Clean Cells
def five_length(string):
    #ensure leading zero
    if len(string)==4:
        var = "0"+string
    else:
        var = string
    return var
    
timetable["Time"] = timetable['Time'].apply(lambda x: five_length(x))

In [175]:
#Get get rid of leading whitespace
timetable["Time"] = timetable['Time'].apply(lambda x: x.strip())

In [176]:
# timetable.head()

In [177]:
#Time should be in format XX:XX
timetable = timetable[timetable['Time'].map(len) == 5]

In [178]:
timetable = timetable.drop('Departure',1)

In [179]:
#Convert to datetime necessary?
# timetable['Time'] = pd.to_datetime(timetable['Time'])

In [180]:
# timetable.Time
# for i in timetable.Time:
#     if len(i)!=5:
#         print("Heck")

timetable.Time

0     05:45
1     06:45
2     07:10
3     07:20
4     07:05
5     07:25
6     08:20
7     08:05
8     08:25
9     09:00
10    09:25
11    10:15
12    10:45
13    11:20
14    12:00
15    12:20
16    12:40
17    13:05
18    13:40
19    14:15
20    14:40
21    15:10
22    15:40
23    16:10
24    16:35
25    17:10
26    17:35
27    18:05
28    18:40
29    19:00
      ...
40    15:45
41    16:00
42    16:10
43    16:20
44    16:30
45    16:40
46    16:50
47    17:00
48    17:10
49    17:25
50    17:40
51    17:55
52    18:10
53    18:25
54    18:40
55    18:55
56    19:10
57    19:20
58    19:40
59    20:00
60    20:20
61    20:40
62    21:00
63    21:20
64    21:40
65    22:00
66    22:20
67    22:40
68    23:00
69    23:20
Name: Time, dtype: object

In [181]:
#Make LineIDs upper case
def make_upper(string):
    var = string.upper()
    return var

timetable["LineID"] = timetable['LineID'].apply(lambda x: make_upper(x))

In [182]:
common_timetable = pd.merge(timetable,lines,on=['LineID'])

In [183]:
common_timetable.LineID.nunique()
# common_timetable.LineID.unique()

107

In [184]:
timetable.LineID.nunique()
# timetable.LineID.unique()

130

In [185]:
lines.LineID.nunique()
# lines.LineID.unique()

116

In [189]:
common_timetable[(common_timetable.LineID == "102")&(common_timetable.Service == "saturday")&(common_timetable.JourneyPatternID == 1)]

,Service,Direction,LineID,Time,JourneyPatternID,stop_headsign
0,saturday,From Dublin Airport Towards Sutton Station,102,05:45,1,Airport
2,saturday,From Dublin Airport Towards Sutton Station,102,06:45,1,Airport
4,saturday,From Dublin Airport Towards Sutton Station,102,07:10,1,Airport
6,saturday,From Dublin Airport Towards Sutton Station,102,07:20,1,Airport
8,saturday,From Dublin Airport Towards Sutton Station,102,07:05,1,Airport
10,saturday,From Dublin Airport Towards Sutton Station,102,07:25,1,Airport
12,saturday,From Dublin Airport Towards Sutton Station,102,08:20,1,Airport
14,saturday,From Dublin Airport Towards Sutton Station,102,08:05,1,Airport
16,saturday,From Dublin Airport Towards Sutton Station,102,08:25,1,Airport
18,saturday,From Dublin Airport Towards Sutton Station,102,09:00,1,Airport
20,saturday,From Dublin Airport Towards Sutton Station,102,09:25,1,Airport
22,saturday,From Dublin Airport Towards Sutton Station,102,10:15,1,Airport
24,saturday,From Dublin Airport Towards Sutton Station,102,10:45,1,Airport
26,saturday,From Dublin Airport Towards Sutton Station,102,11:20,1,Airport
28,saturday,From Dublin Airport Towards Sutton Station,102,12:00,1,Airport
30,saturday,From Dublin Airport Towards Sutton Station,102,12:20,1,Airport
32,saturday,From Dublin Airport Towards Sutton Station,102,12:40,1,Airport
34,saturday,From Dublin Airport Towards Sutton Station,102,13:05,1,Airport
36,saturday,From Dublin Airport Towards Sutton Station,102,13:40,1,Airport
38,saturday,From Dublin Airport Towards Sutton Station,102,14:15,1,Airport
40,saturday,From Dublin Airport Towards Sutton Station,102,14:40,1,Airport
42,saturday,From Dublin Airport Towards Sutton Station,102,15:10,1,Airport
44,saturday,From Dublin Airport Towards Sutton Station,102,15:40,1,Airport
46,saturday,From Dublin Airport Towards Sutton Station,102,16:10,1,Airport
48,saturday,From Dublin Airport Towards Sutton Station,102,16:35,1,Airport
50,saturday,From Dublin Airport Towards Sutton Station,102,17:10,1,Airport
52,saturday,From Dublin Airport Towards Sutton Station,102,17:35,1,Airport
54,saturday,From Dublin Airport Towards Sutton Station,102,18:05,1,Airport
56,saturday,From Dublin Airport Towards Sutton Station,102,18:40,1,Airport
58,saturday,From Dublin Airport Towards Sutton Station,102,19:00,1,Airport
...,...,...,...,...,...,...
74,saturday,From Sutton Station Towards Dublin Airport,102,07:50,1,Airport
76,saturday,From Sutton Station Towards Dublin Airport,102,08:15,1,Airport
78,saturday,From Sutton Station Towards Dublin Airport,102,08:35,1,Airport
80,saturday,From Sutton Station Towards Dublin Airport,102,09:05,1,Airport
82,saturday,From Sutton Station Towards Dublin Airport,102,09:20,1,Airport
84,saturday,From Sutton Station Towards Dublin Airport,102,09:40,1,Airport
86,saturday,From Sutton Station Towards Dublin Airport,102,10:15,1,Airport
88,saturday,From Sutton Station Towards Dublin Airport,102,10:45,1,Airport
90,saturday,From Sutton Station Towards Dublin Airport,102,11:20,1,Airport
92,saturday,From Sutton Station Towards Dublin Airport,102,12:05,1,Airport
94,saturday,From Sutton Station Towards Dublin Airport,102,12:35,1,Airport
96,saturday,From Sutton Station Towards Dublin Airport,102,13:05,1,Airport
98,saturday,From Sutton Station Towards Dublin Airport,102,13:25,1,Airport
100,saturday,From Sutton Station Towards Dublin Airport,102,13:50,1,Airport
102,saturday,From Sutton Station Towards Dublin Airport,102,14:20,1,Airport
104,saturday,From Sutton Station Towards Dublin Airport,102,14:50,1,Airport
106,saturday,From Sutton Station Towards Dublin Airport,102,15:25,1,Airport
108,saturday,From Sutton Station Towards Dublin Airport,102,15:50,1,Airport
110,saturday,From Sutton Station Towards Dublin Airport,102,16:15,1,Airport
112,saturday,From Sutton Station Towards Dublin Airport,102,17:00,1,Airport
114,saturday,From Sutton Station Towards Dublin Airport,102,17:30,1,Airport
116,saturday,From Sutton Station Towards Dublin Airport,102,17:50,1,Airport
118,saturday,From Sutton Station Towards Dublin Airport,102,18:20,1,Airport
120,saturday,From Sutton Station Towards Dublin Airport,102,18:55,1,Airport
122,saturday,From Sutton Station Towards Dublin Airport,102,19:15,1,Airport
124,saturday,From Sutton Station Towards Dublin Airport,102,19:45,1,Airport
126,saturday,From Sutton Station Towards Dublin Airport,102,20:10,1,Airport
128,saturday,From Sutton Station Towards Dublin Airport,102,21:10,1,Airport
130,saturday,From Sutton Station Towards Dublin Airport,102,22:05,1,Airport
132,saturday,From Sutton Station Towards Dublin Airport,102,23:30,1,Airport

In [190]:
common_timetable.to_csv('common_timetable.csv')