# JourneyPatternID is a combination of Variant and Direction

In [1]:
import pandas as pd
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
%matplotlib inline

## Import 15 Timetable

In [2]:
timetable = pd.read_csv("bus_data/static_data/master_timetable.csv")

In [3]:
#reassign columns to remove leading whitespace from variant column and name departure index
timetable.columns = ['departure_index', 'variant', 'day', 'departure', 'direction', 'line']

In [4]:
weekdayfifteentimetable = timetable.loc[(timetable['line'] == "15") & (timetable['day'] == "weekday")]
weekdayfifteentimetable.variant.value_counts()

 c    3
Name: variant, dtype: int64

In [5]:
saturdayfifteentimetable = timetable.loc[(timetable['line'] == "15") & (timetable['day'] == "saturday")]
saturdayfifteentimetable.variant.value_counts()

 c    3
Name: variant, dtype: int64

In [6]:
sundayfifteentimetable = timetable.loc[(timetable['line'] == "15") & (timetable['day'] == "sunday")]
sundayfifteentimetable.variant.value_counts()

 c    2
Name: variant, dtype: int64

#### Refine by Direction

In [7]:
directions = (timetable.loc[(timetable['line'] == "15")]).direction.unique()
directions

array(['From Ballycullen Towards Clongriffin',
       'From Clongriffin Towards Ballycullen'], dtype=object)

In [8]:
northbound_weekdayfifteentimetable = weekdayfifteentimetable.loc[(weekdayfifteentimetable['direction'] == directions[0])]
northbound_weekdayfifteentimetable.reset_index(inplace=True)

In [9]:
northbound_weekdayfifteentimetable

,index,departure_index,variant,day,departure,direction,line
0,4422,0,NaN,weekday,6:00,From Ballycullen Towards Clongriffin,15
1,4423,1,NaN,weekday,6:10,From Ballycullen Towards Clongriffin,15
2,4424,2,NaN,weekday,6:20,From Ballycullen Towards Clongriffin,15
3,4425,3,NaN,weekday,6:30,From Ballycullen Towards Clongriffin,15
4,4426,4,NaN,weekday,6:40,From Ballycullen Towards Clongriffin,15
5,4427,5,NaN,weekday,6:50,From Ballycullen Towards Clongriffin,15
6,4428,6,NaN,weekday,7:00,From Ballycullen Towards Clongriffin,15
7,4429,7,NaN,weekday,7:12,From Ballycullen Towards Clongriffin,15
8,4430,8,NaN,weekday,7:25,From Ballycullen Towards Clongriffin,15
9,4431,9,NaN,weekday,7:35,From Ballycullen Towards Clongriffin,15
10,4432,10,NaN,weekday,7:45,From Ballycullen Towards Clongriffin,15
11,4433,11,NaN,weekday,7:53,From Ballycullen Towards Clongriffin,15
12,4434,12,NaN,weekday,8:00,From Ballycullen Towards Clongriffin,15
13,4435,13,NaN,weekday,8:07,From Ballycullen Towards Clongriffin,15
14,4436,14,NaN,weekday,8:15,From Ballycullen Towards Clongriffin,15
15,4437,15,NaN,weekday,8:25,From Ballycullen Towards Clongriffin,15
16,4438,16,NaN,weekday,8:40,From Ballycullen Towards Clongriffin,15
17,4439,17,NaN,weekday,8:50,From Ballycullen Towards Clongriffin,15
18,4440,18,NaN,weekday,9:00,From Ballycullen Towards Clongriffin,15
19,4441,19,NaN,weekday,9:10,From Ballycullen Towards Clongriffin,15
20,4442,20,NaN,weekday,9:20,From Ballycullen Towards Clongriffin,15
21,4443,21,NaN,weekday,9:30,From Ballycullen Towards Clongriffin,15
22,4444,22,NaN,weekday,9:40,From Ballycullen Towards Clongriffin,15
23,4445,23,NaN,weekday,9:50,From Ballycullen Towards Clongriffin,15
24,4446,24,NaN,weekday,10:00,From Ballycullen Towards Clongriffin,15
25,4447,25,NaN,weekday,10:10,From Ballycullen Towards Clongriffin,15
26,4448,26,NaN,weekday,10:20,From Ballycullen Towards Clongriffin,15
27,4449,27,NaN,weekday,10:30,From Ballycullen Towards Clongriffin,15
28,4450,28,NaN,weekday,10:40,From Ballycullen Towards Clongriffin,15
29,4451,29,NaN,weekday,10:50,From Ballycullen Towards Clongriffin,15
...,...,...,...,...,...,...,...
62,4484,62,NaN,weekday,16:20,From Ballycullen Towards Clongriffin,15
63,4485,63,NaN,weekday,16:30,From Ballycullen Towards Clongriffin,15
64,4486,64,NaN,weekday,16:40,From Ballycullen Towards Clongriffin,15
65,4487,65,NaN,weekday,16:50,From Ballycullen Towards Clongriffin,15
66,4488,66,NaN,weekday,17:00,From Ballycullen Towards Clongriffin,15
67,4489,67,NaN,weekday,17:10,From Ballycullen Towards Clongriffin,15
68,4490,68,NaN,weekday,17:20,From Ballycullen Towards Clongriffin,15
69,4491,69,NaN,weekday,17:30,From Ballycullen Towards Clongriffin,15
70,4492,70,NaN,weekday,17:40,From Ballycullen Towards Clongriffin,15
71,4493,71,NaN,weekday,17:50,From Ballycullen Towards Clongriffin,15
72,4494,72,NaN,weekday,18:00,From Ballycullen Towards Clongriffin,15
73,4495,73,NaN,weekday,18:10,From Ballycullen Towards Clongriffin,15
74,4496,74,NaN,weekday,18:20,From Ballycullen Towards Clongriffin,15
75,4497,75,NaN,weekday,18:30,From Ballycullen Towards Clongriffin,15
76,4498,76,NaN,weekday,18:40,From Ballycullen Towards Clongriffin,15
77,4499,77,NaN,weekday,18:50,From Ballycullen Towards Clongriffin,15
78,4500,78,NaN,weekday,19:00,From Ballycullen Towards Clongriffin,15
79,4501,79,NaN,weekday,19:20,From Ballycullen Towards Clongriffin,15
80,4502,80,NaN,weekday,19:40,From Ballycullen Towards Clongriffin,15
81,4503,81,NaN,weekday,20:00,From Ballycullen Towards Clongriffin,15
82,4504,82,NaN,weekday,20:20,From Ballycullen Towards Clongriffin,15
83,4505,83,NaN,weekday,20:40,From Ballycullen Towards Clongriffin,15
84,4506,84,NaN,weekday,21:00,From Ballycullen Towards Clongriffin,15
85,4507,85,NaN,weekday,21:20,From Ballycullen Towards Clongriffin,15
86,4508,86,NaN,weekday,21:40,From Ballycullen Towards Clongriffin,15
87,4509,87,NaN,weekday,22:00,From Ballycullen Towards Clongriffin,15
88,4510,88,NaN,weekday,22:20,From Ballycullen Towards Clongriffin,15
89,4511,89,NaN,weekday,22:40,From Ballycullen Towards Clongriffin,15
90,4512,90,NaN,weekday,23:00,From Ballycullen Towards Clongriffin,15
91,4513,91,c,weekday,23:20,From Ballycullen Towards Clongriffin,15

In [10]:
southbound_weekdayfifteentimetable = weekdayfifteentimetable.loc[(weekdayfifteentimetable['direction'] == directions[0])]
southbound_weekdayfifteentimetable.reset_index(inplace=True)

In [11]:
southbound_weekdayfifteentimetable.shape

(92, 7)

## Import 15 Data

In [12]:
fifteen = pd.read_csv("bus_data/line_data/15.csv")
fifteen.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
              "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
              "AtStop", "HumanTime", "Day", "Hour", "Runtime"]

In [13]:
fifteen['HumanTime'] = pd.to_datetime(fifteen['HumanTime'])

#### number of journey pattern ids should equal number of directions + variations on each direction

In [14]:
journeypatterns = list(fifteen.JourneyPatternID.unique())

In [15]:
journeypatterns

[1, 1001, 1002, 2]

In [16]:
#Monday is 0, Sunday is 6
def get_day(x):
    if x.weekday() == 5:
        return "saturday"
    elif x.weekday() == 6:
        return "sunday"
    else:
        return "weekday"
    
fifteen["day"] = fifteen['HumanTime'].apply(get_day)

In [17]:
sunday = fifteen.loc[fifteen['day'] == "sunday"]
saturday = fifteen.loc[fifteen['day'] == "saturday"]
weekday = fifteen.loc[fifteen['day'] == "weekday"]

In [18]:
weekday.JourneyPatternID.value_counts()

1       110972
1001    102739
1002       526
2          158
Name: JourneyPatternID, dtype: int64

Extract Single Day and JourneyPatternID

In [19]:
saturday.JourneyPatternID.value_counts()

1       12157
1001    11304
1002      166
2          42
Name: JourneyPatternID, dtype: int64

In [20]:
sunday.JourneyPatternID.value_counts()

1       7332
1001    6838
1002      31
2         22
Name: JourneyPatternID, dtype: int64

Therefore there are 2 directions and 2 variations everyday

In [21]:
tuesday = fifteen.loc[(fifteen['TimeFrame'] == "2012-11-14")]

In [22]:
tuesday_trips = tuesday.drop_duplicates("VehicleJourneyID", keep='first', inplace=False)
print("total number of trips on a single tuesday is:")
tuesday_trips.JourneyPatternID.value_counts().sum()

total number of trips on a single tuesday is:

181

In [23]:
print("which is almost the name as the number there ought to be on a single day:")
weekdayfifteentimetable.shape[0]

which is almost the name as the number there ought to be on a single day:

184

In [24]:
tuesday_trips = tuesday.drop_duplicates("VehicleJourneyID", keep='first', inplace=False)
print("But the JourneyPattern ID counts of those trips on a single tuesday are not evely divided:")
tuesday_trips.JourneyPatternID.value_counts()

But the JourneyPattern ID counts of those trips on a single tuesday are not evely divided:

1       140
1001     40
2         1
Name: JourneyPatternID, dtype: int64

##### The JourneyPatternID "1" has too high a count to describe a single direction, it must describe 2.

In [25]:
tuesday_trips.JourneyPatternID.value_counts().sum()

181

In [26]:
tuesday_trips_oneway = tuesday_trips.loc[(tuesday_trips['JourneyPatternID'] == 1)]
tuesday_trips_oneway

,Timestamp,LineID,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,Runtime,day
38440,1352872804000000,15,1,2012-11-14,5891,-6.150500,53.402950,33553,6318,1,2012-11-14 06:00:04,2,6,0,weekday
38459,1352873786000000,15,1,2012-11-14,5899,-6.181091,53.401699,33498,4563,1,2012-11-14 06:16:26,2,6,699,weekday
38476,1352874268000000,15,1,2012-11-14,5902,-6.173066,53.402138,33499,4595,1,2012-11-14 06:24:28,2,6,474,weekday
38504,1352874843000000,15,1,2012-11-14,5912,-6.163521,53.399288,33500,4594,1,2012-11-14 06:34:03,2,6,0,weekday
38544,1352875562000000,15,1,2012-11-14,5920,-6.177130,53.402370,33502,4596,1,2012-11-14 06:46:02,2,6,373,weekday
38575,1352876052000000,15,1,2012-11-14,5930,-6.163521,53.399288,33282,4594,1,2012-11-14 06:54:12,2,6,578,weekday
38614,1352876669000000,15,1,2012-11-14,5937,-6.173066,53.402138,35006,4595,1,2012-11-14 07:04:29,2,7,338,weekday
38658,1352877289000000,15,1,2012-11-14,5945,-6.157236,53.402843,33501,7246,1,2012-11-14 07:14:49,2,7,419,weekday
38701,1352877962000000,15,1,2012-11-14,5952,-6.157236,53.402843,33222,7246,1,2012-11-14 07:26:02,2,7,381,weekday
38758,1352878712000000,15,1,2012-11-14,5844,-6.162333,53.401539,33016,6320,1,2012-11-14 07:38:32,2,7,534,weekday
38778,1352878971000000,15,1,2012-11-14,5900,-6.328400,53.271217,33498,6282,1,2012-11-14 07:42:51,2,7,0,weekday
38794,1352879169000000,15,1,2012-11-14,5859,-6.157236,53.402843,33461,7246,1,2012-11-14 07:46:09,2,7,255,weekday
38838,1352879635000000,15,1,2012-11-14,5782,-6.153783,53.402687,33469,6319,1,2012-11-14 07:53:55,2,7,664,weekday
38878,1352880088000000,15,1,2012-11-14,5779,-6.153783,53.402687,33470,6319,1,2012-11-14 08:01:28,2,8,695,weekday
38879,1352880115000000,15,1,2012-11-14,5913,-6.328883,53.271633,33500,6282,1,2012-11-14 08:01:55,2,8,0,weekday
38887,1352880232000000,15,1,2012-11-14,5903,-6.323950,53.277618,33499,6282,1,2012-11-14 08:03:52,2,8,0,weekday
38908,1352880455000000,15,1,2012-11-14,5785,-6.153783,53.402687,33251,6319,1,2012-11-14 08:07:35,2,8,99,weekday
38958,1352880970000000,15,1,2012-11-14,5793,-6.153783,53.402687,33206,6319,1,2012-11-14 08:16:10,2,8,315,weekday
39019,1352881553000000,15,1,2012-11-14,5931,-6.328550,53.271385,33282,6282,1,2012-11-14 08:25:53,2,8,0,weekday
39025,1352881625000000,15,1,2012-11-14,5801,-6.162333,53.401539,33475,6320,1,2012-11-14 08:27:05,2,8,0,weekday
39116,1352882434000000,15,1,2012-11-14,5811,-6.153783,53.402687,33384,6319,1,2012-11-14 08:40:34,2,8,341,weekday
39151,1352882691000000,15,1,2012-11-14,5938,-6.328850,53.271599,35006,6282,1,2012-11-14 08:44:51,2,8,0,weekday
39199,1352883051000000,15,1,2012-11-14,5818,-6.157236,53.402843,33011,7246,1,2012-11-14 08:50:51,2,8,122,weekday
39259,1352883533000000,15,1,2012-11-14,5946,-6.328667,53.271465,33501,6282,1,2012-11-14 08:58:53,2,8,0,weekday
39304,1352883881000000,15,1,2012-11-14,5953,-6.328550,53.271366,33222,6282,1,2012-11-14 09:04:41,2,9,0,weekday
39408,1352884802000000,15,1,2012-11-14,5845,-6.328850,53.271618,33016,6282,1,2012-11-14 09:20:02,2,9,0,weekday
39432,1352885030000000,15,1,2012-11-14,5853,-6.163521,53.399288,33015,4594,1,2012-11-14 09:23:50,2,9,0,weekday
39500,1352885639000000,15,1,2012-11-14,5828,-6.257062,53.346302,33006,5190,1,2012-11-14 09:33:59,2,9,0,weekday
39503,1352885652000000,15,1,2012-11-14,5878,-6.163521,53.399288,24623,4594,1,2012-11-14 09:34:12,2,9,0,weekday
39560,1352886212000000,15,1,2012-11-14,5893,-6.163521,53.399288,33553,4594,1,2012-11-14 09:43:32,2,9,0,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42605,1352916293000000,15,1,2012-11-14,5883,-6.328633,53.271416,24607,6282,1,2012-11-14 18:04:53,2,18,0,weekday
42651,1352916665000000,15,1,2012-11-14,5865,-6.153783,53.402687,33461,6319,1,2012-11-14 18:11:05,2,18,141,weekday
42677,1352916874000000,15,1,2012-11-14,5898,-6.328550,53.271351,33498,6282,1,2012-11-14 18:14:34,2,18,0,weekday
42733,1352917433000000,15,1,2012-11-14,5876,-6.163521,53.399288,33007,4594,1,2012-11-14 18:23:53,2,18,0,weekday
42738,1352917476000000,15,1,2012-11-14,5963,-6.328717,53.271484,33508,6282,1,2012-11-14 18:24:36,2,18,0,weekday
42800,1352918084000000,15,1,2012-11-14,5909,-6.328567,53.271366,33499,6282,1,2012-11-14 18:34:44,2,18,0,weekday
42810,1352918156000000,15,1,2012-11-14,5888,-6.157236,53.402843,33105,7246,1,2012-11-14 18:35:56,2,18,0,weekday
42843,1352918536000000,15,1,2012-11-14,5791,-6.150767,53.402351,33251,6318,1,2012-11-14 18:42:16,2,18,0,weekday
42911,1352919318000000,15,1,2012-11-14,5799,-6.157236,53.402843,33206,7246,1,2012-11-14 18:55:18,2,18,0,weekday
42919,1352919430000000,15,1,2012-11-14,5927,-6.328567,53.271301,33502,6282,1,2012-11-14 18:57:10,2,18,0,weekday
42954,1352919890000000,15,1,2012-11-14,5807,-6.181091,53.401699,33475,4563,1,2012-11-14 19:04:50,2,19,0,weekday
43062,1352921153000000,15,1,2012-11-14,5824,-6.173066,53.402138,33011,4595,1,2012-11-14 19:25:53,2,19,398,weekday
43158,1352922104000000,15,1,2012-11-14,5841,-6.157236,53.402843,33010,7246,1,2012-11-14 19:41:44,2,19,0,weekday
43291,1352923534000000,15,1,2012-11-14,5866,-6.328617,53.271366,33461,6282,1,2012-11-14 20:05:34,2,20,0,weekday
43297,1352923602000000,15,1,2012-11-14,5884,-6.191873,53.392952,24607,1272,1,2012-11-14 20:06:42,2,20,719,weekday
43321,1352924082000000,15,1,2012-11-14,5889,-6.328483,53.271267,33105,6282,1,2012-11-14 20:14:42,2,20,0,weekday
43352,1352924714000000,15,1,2012-11-14,5964,-6.181091,53.401699,33508,4563,1,2012-11-14 20:25:14,2,20,319,weekday
43385,1352925289000000,15,1,2012-11-14,5808,-6.328600,53.271332,33475,6282,1,2012-11-14 20:34:49,2,20,0,weekday
43411,1352925710000000,15,1,2012-11-14,5910,-6.157236,53.402843,33499,7246,1,2012-11-14 20:41:50,2,20,417,weekday
43452,1352926489000000,15,1,2012-11-14,5825,-6.328383,53.271149,33011,6282,1,2012-11-14 20:54:49,2,20,0,weekday
43472,1352926849000000,15,1,2012-11-14,5928,-6.157236,53.402843,33502,7246,1,2012-11-14 21:00:49,2,21,350,weekday
43512,1352927683000000,15,1,2012-11-14,5842,-6.328617,53.271351,33010,6282,1,2012-11-14 21:14:43,2,21,0,weekday
43592,1352929206000000,15,1,2012-11-14,5960,-6.227001,53.368011,33222,667,1,2012-11-14 21:40:06,2,21,0,weekday
43649,1352930386000000,15,1,2012-11-14,5965,-6.328900,53.271599,33508,6282,1,2012-11-14 21:59:46,2,21,0,weekday
43655,1352930484000000,15,1,2012-11-14,5890,-6.157236,53.402843,33105,7246,1,2012-11-14 22:01:24,2,22,268,weekday
43702,1352931491000000,15,1,2012-11-14,5809,-6.150850,53.402332,33475,6318,1,2012-11-14 22:18:11,2,22,0,weekday
43786,1352933364000000,15,1,2012-11-14,5826,-6.195288,53.391106,33011,1273,1,2012-11-14 22:49:24,2,22,687,weekday
43799,1352933685000000,15,1,2012-11-14,5961,-6.328600,53.271317,33222,6282,1,2012-11-14 22:54:45,2,22,0,weekday
43824,1352934271000000,15,1,2012-11-14,5843,-6.181091,53.401699,33010,4563,1,2012-11-14 23:04:31,2,23,0,weekday
43850,1352934894000000,15,1,2012-11-14,5868,-6.328400,53.271183,33461,6282,1,2012-11-14 23:14:54,2,23,0,weekday

### It is very difficult to infer which of these is in which direction

was there originally a direction collumn which was dropped which could be resused?

In [ ]:
Does The most frequent journey pattern ID actually contain trips in both directions.