In [3]:
import pandas as pd
import math
from datetime import datetime, timedelta
import os

import matplotlib.pyplot as plt
%matplotlib inline

### Constants

In [4]:
lines = []
for i in os.listdir("bus_data/clean_data_final/"):
    lines.append(i.strip(".csv"))

In [5]:
#Existing Mapping
timetable = pd.read_csv('bus_data/static_data/final_timetable.csv')
timetable = timetable.drop('Unnamed: 0', 1)

In [16]:
#OUR DATA
pd.Series(lines).unique()

array(['1', '102', '104', '11', '111', '114', '116', '118', '120', '122',
       '123', '13', '130', '14', '140', '142', '145', '14C', '15', '150',
       '151', '15A', '15B', '16', '161', '16C', '17', '17A', '18', '184',
       '185', '220', '236', '238', '239', '25', '25A', '25B', '25X', '26',
       '27', '270', '27A', '27B', '27X', '29A', '31', '31A', '31B', '32',
       '32X', '33', '33A', '33B', '33X', '37', '38', '38A', '38B', '39',
       '39A', '4', '40', '40B', '40D', '41', '41A', '41B', '41C', '41X',
       '42', '43', '44', '44B', '45A', '46A', '46E', '47', '49', '51D',
       '51X', '53', '54A', '56A', '59', '61', '63', '65', '65B', '66',
       '66A', '66B', '66X', '67', '67X', '68', '68A', '69', '69X', '7',
       '70', '747', '75', '76', '76A', '77A', '79', '79A', '7B', '7D', '8',
       '83', '83A', '84', '84A', '84X', '9'], dtype=object)

In [15]:
#TIMETABLE DATA
timetable.LineID.sort_values().unique()

array(['1', '102', '104', '11', '111', '114', '116', '118', '120', '122',
       '123', '13', '130', '14', '140', '142', '145', '15', '150', '151',
       '15A', '15B', '16', '161', '17', '17A', '18', '184', '185', '220',
       '236', '238', '239', '25', '25A', '25B', '25X', '26', '27', '270',
       '27A', '27B', '27X', '29A', '31', '31B', '32', '32X', '33', '33A',
       '33B', '33X', '37', '38', '38A', '39', '39A', '4', '40', '40B',
       '40D', '41', '41B', '41C', '41X', '42', '43', '44', '44B', '45A',
       '46A', '46E', '47', '49', '51D', '51X', '53', '54A', '56A', '59',
       '61', '63', '65', '65B', '66', '66A', '66X', '67', '68', '69',
       '69X', '7', '70', '747', '75', '76', '76A', '77A', '79', '79A',
       '7B', '7D', '8', '83', '84', '84A', '84X', '9'], dtype=object)

In [8]:
#LINES IN OUR DATA WHICH ARE NOT IN THE TIMETABLES
for i in lines:
    if i not in timetable.LineID.unique():
        print(i)

14C
16C
31A
38B
41A
66B
67X
68A
83A

In [10]:
#LINES IN THE TIMETABLE NOT IN OUR DATA
for i in timetable.LineID.unique():
    if i not in lines:
        print(i)