# JourneyPatternID is a combination of Variant and Direction

In [77]:
import pandas as pd
import math
from datetime import datetime, timedelta
from geopy.geocoders import Nominatim

import matplotlib.pyplot as plt
%matplotlib inline

### Constants

In [2]:
lines = ['1', '102', '104', '11', '111', '114', '116', '118', '120', '122', '123', '13', '130', '14', '140', '142', '145', '14C', '15', '150', '151', '15A', '15B', '16', '161', '16C', '17', '17A', '18', '184', '185', '220', '236', '238', '239', '25', '25A', '25B', '25X', '26', '27', '270', '27A', '27B', '27X', '29A', '31', '31A', '31B', '32', '32X', '33', '332', '33A', '33B', '33X', '37', '38', '38A', '38B', '39', '39A', '4', '40', '40B', '40D', '41', '41A', '41B', '41C', '41X', '42', '43', '44', '44B', '45A', '46A', '46E', '47', '49', '51D', '51X', '53', '54A', '56A', '59', '61', '63', '65', '65B', '66', '66A', '66B', '66X', '67', '67X', '68', '68A', '69', '69X', '7', '70', '747', '75', '76', '76A', '77A', '79', '79A', '7B', '7D', '8', '83', '83A', '84', '84A', '84X', '86', '9']
normal_lines = [x for x in lines if "X" not in x]

timeframes = ["2012-11-23", "2012-11-27", "2012-11-09", "2012-11-22", "2012-11-16", "2012-11-29", "2012-11-15", 
            "2012-11-08", "2013-01-24", "2013-01-09", "2013-01-17", "2012-11-07", "2013-01-11", "2012-11-06", "2012-11-14", "2013-01-29",
            "2012-11-19", "2012-11-13", "2013-01-23", "2013-01-22", "2013-01-08", "2012-11-20", "2013-01-15", "2013-01-25","2012-11-21",
            "2013-01-14", "2013-01-28", "2013-01-16", "2013-01-04", "2013-01-10", "2013-01-18", "2012-11-26", "2012-11-28", "2013-01-07", 
            "2013-01-03", "2013-01-21", "2012-11-12", "2013-01-02", "2012-11-30", "2013-01-12", "2012-11-10", "2012-11-17", "2013-01-26",
            "2013-01-19", "2013-01-05", "2012-11-24", "2013-01-30", "2012-11-11", "2012-11-18", "2012-11-25", "2013-01-20", "2013-01-13", 
            "2013-01-06", "2013-01-27", "2013-01-01", "2013-01-31",]

#journeypatterns dependent upon line data therefore not defined here
service_types = ["weekday","weekday","weekday","weekday","weekday","saturday","sunday"]

## Timetable

In [49]:
names = pd.read_csv("names.csv", index_col="Unnamed: 0")

In [4]:
names.head()

,fullname,from,towards
0,102_saturday_From Dublin Airport Towards Sutto...,"Dublin Airport, Dublin","Sutton Station, Dublin"
1,102_saturday_From Sutton Station Towards Dubli...,"Sutton Station, Dublin","Dublin Airport, Dublin"
2,102_sunday_From Dublin Airport Towards Sutton ...,"Dublin Airport, Dublin","Sutton Station, Dublin"
3,102_sunday_From Sutton Station Towards Dublin ...,"Sutton Station, Dublin","Dublin Airport, Dublin"
4,102_weekday_From Dublin Airport Towards Sutton...,"Dublin Airport, Dublin","Sutton Station, Dublin"

In [62]:
Nominatim().geocode('Limekiln Ave., Dublin').latitude

53.307407

In [7]:
# names.loc[names['towards'] == 'Bray Rail Station']

In [15]:
names['from'][45]

'Castle Ave., Dublin'

In [ ]:
# df = pd.DataFrame()
# g = lambda x: (Nominatim().geocode(names['towards'][i].split(" or ")[0].split(" (")[0])).latitude)
# df['from_lat'] = names.apply(g, axis=1)

In [75]:
# timedout_index
# for i in range(timedout_index,len(names['from'])):
#     print(i, names['from'][i])
#     from_list.append((Nominatim().geocode(names['from'][i].split(" or ")[0].split(" (")[0])).latitude)

361 Phoenix Park, Dublin
362 Dun Laoghaire, Dublin
363 Phoenix Park, Dublin
364 Blackrock Station, Dublin
365 Belarmine, Dublin
366 Fleet St., Dublin
367 Belarmine, Dublin
368 Fleet St., Dublin
369 Belarmine, Dublin
370 Fleet St., Dublin
371 Pearse St., Dublin
372 Tallaght (The Square), Dublin
373 Pearse St., Dublin
374 Tallaght (The Square), Dublin
375 Pearse St., Dublin
376 Tallaght (The Square), Dublin
377 Harristown, Dublin
378 Monkstown Avenue, Dublin
379 Harristown, Dublin
380 Monkstown Avenue, Dublin
381 Harristown, Dublin
382 Monkstown Avenue, Dublin
383 Clondalkin, Dublin
384 Hawkins St. or Waterloo Rd., Dublin
385 Dublin Port, Dublin
386 Talbot St., Dublin
387 Dublin Port, Dublin
388 Talbot St., Dublin
389 Dublin Port, Dublin
390 Talbot St., Dublin
391 Ellensborough  or  Kiltipper Way, Dublin
392 Pearse St., Dublin
393 Ellensborough  or  Kiltipper Way, Dublin
394 Pearse St., Dublin
395 Ellensborough  or  Kiltipper Way, Dublin
396 Pearse St., Dublin
397 Ringsend Rd., Dublin
398 Tallaght (The Square), Dublin
399 Ringsend Rd., Dublin
400 Tallaght (The Square), Dublin
401 Ringsend Rd., Dublin
402 Tallaght (The Square), Dublin
403 Dun Laoghaire, Dublin
404 Mackintosh Park, Dublin
405 Dun Laoghaire, Dublin
406 Mackintosh Park, Dublin
407 Dun Laoghaire, Dublin
408 Mackintosh Park, Dublin
409 D'Olier St., Dublin
410 Whitechurch, Dublin
411 D'Olier St., Dublin
412 Whitechurch, Dublin
413 D'Olier St., Dublin
414 Whitechurch, Dublin
415 Dun Laoghaire, Dublin
416 Kilternan, Dublin
417 Dun Laoghaire, Dublin
418 Kilternan, Dublin
419 Dun Laoghaire, Dublin
420 Kilternan, Dublin
421 Citywest, Dublin
422 Hawkins St., Dublin
423 Citywest, Dublin
424 Hawkins St., Dublin
425 Citywest, Dublin
426 Hawkins St., Dublin
427 Blessington  or  Ballymore, Dublin
428 Hawkins St., Dublin
429 Blessington  or  Ballymore, Dublin
430 Hawkins St., Dublin
431 Blessington  or  Ballymore, Dublin
432 Hawkins St., Dublin
433 Leixlip (Captain's Hill), Dublin
434 Merrion Sq., Dublin
435 Leixlip (Captain's Hill), Dublin
436 Merrion Sq., Dublin
437 Leixlip (Captain's Hill), Dublin
438 Merrion Sq., Dublin
439 Maynooth, Dublin
440 Merrion Sq., Dublin
441 Maynooth, Dublin
442 Merrion Sq., Dublin
443 Maynooth, Dublin
444 Merrion Sq., Dublin
445 Maynooth, Dublin
446 Merrion Sq., Dublin
447 Maynooth, Dublin
448 Merrion Sq., Dublin
449 Maynooth, Dublin
450 Merrion Sq., Dublin
451 Hawkins St., Dublin
452 Newcastle  or  Greenogue Business Park, Dublin
453 Hawkins St., Dublin
454 Newcastle  or  Greenogue Business Park, Dublin
455 Hawkins St., Dublin
456 Newcastle  or  Greenogue Business Park, Dublin
457 Hawkins St., Dublin
458 Rathcoole, Dublin
459 Hawkins St., Dublin
460 Rathcoole, Dublin
461 Hawkins St., Dublin
462 Rathcoole, Dublin
463 Baggot St. (Grand Canal), Dublin
464 Dunboyne, Dublin
465 Baggot St. (Grand Canal), Dublin
466 Dunboyne, Dublin
467 Baggot St. (Grand Canal), Dublin
468 Dunboyne, Dublin
469 Dublin Airport, Dublin
470 Heuston Station, Dublin
471 Dublin Airport, Dublin
472 Heuston Station, Dublin
473 Dublin Airport, Dublin
474 Heuston Station, Dublin
475 Dun Laoghaire, Dublin
476 Tallaght (The Square), Dublin
477 Dun Laoghaire, Dublin
478 Tallaght (The Square), Dublin
479 Dun Laoghaire, Dublin
480 Tallaght (The Square), Dublin
481 Blanchardstown Centre, Dublin
482 Tallaght (The Square), Dublin
483 Chapelizod, Dublin
484 Tallaght (The Square), Dublin
485 Chapelizod, Dublin
486 Tallaght (The Square), Dublin
487 Chapelizod, Dublin
488 Tallaght (The Square), Dublin
489 Citywest, Dublin
490 Ringsend Rd., Dublin
491 Citywest, Dublin
492 Ringsend Rd., Dublin
493 Citywest, Dublin
494 Ringsend Rd., Dublin
495 Aston Quay, Dublin
496 Spiddal Park or Parkwest, Dublin
497 Aston Quay, Dublin
498 Spiddal Park or Parkwest, Dublin
499 Aston Quay, Dublin
500 Spiddal Park or Parkwest, Dublin
501 Mountjoy Sq., Dublin
502 Shankill, Dublin
503 Dalkey, Dublin
504 Mountjoy Sq., Dublin
505 Loughlinstown or Cherrywood, Dublin
506 Mountjoy Sq., Dublin
507 Mountjoy Sq., Dublin
508 Loughlinstown or Cherrywood, Dublin
509 Loughlinstown or Cherrywood, Dublin
510 Mountjoy Sq., Dublin
511 Harristown, Dublin
512 Kimmage, Dublin
513 Harristown, Dublin
514 Kimmage, Dublin
515 Harristown, Dublin
516 Kimmage, Dublin
517 Blackrock, Dublin
518 Newcastle, Wicklow
519 Blackrock, Dublin
520 Newcastle, Wicklow
521 Blackrock, Dublin
522 Newcastle, Wicklow
523 Dalkey, Dublin
524 Mountjoy Sq., Dublin
525 Dalkey, Dublin
526 Mountjoy Sq., Dublin
527 Dalkey, Dublin
528 Mountjoy Sq., Dublin
529 Heuston Station, Dublin
530 International Financial Services Centre, Dublin
531 Charlestown, Dublin
532 Limekiln Ave., Dublin
533 Charlestown, Dublin
534 Limekiln Ave., Dublin
535 Charlestown, Dublin
536 Limekiln Ave., Dublin

In [81]:
from_series = pd.Series(from_list)
towards_series = pd.Series(towards_list)

In [82]:
names['towards_lat'] = towards_series

In [83]:
names['from_lat'] = from_series

In [84]:
backupnames = names

In [86]:
names['southbound'] = (names.from_lat - names.towards_lat)>0

In [88]:
names.to_csv("direction_timetable_mapping.csv")